<%#= render 'form' %>

<div class="modal hide" id="login">
  <%= form_tag(password_resets_path, {:class => "form-horizontal", :style => "margin: 0;"}) do |f| %>
    <div class="modal-header">
      <h3>Passwort vergessen: Step 1 / 2</h3>
    </div>
    
    <div class="modal-body">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
      <% end %>
      <fieldset>
        <div class="control-group">
          <%= label_tag :username, "Benutzername", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag :username %>
          </div>
        </div>
        
        <div class="control-group">
          <%= label_tag :email, "Email", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag :email %>      
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="modal-footer">
      <a href="<%= login_path %>" class="btn btn-danger">Abbrechen</a>
      <button type="submit" class="btn btn-primary">Instruktionen anfordern</button>
    </div>  
  <% end %>
</div>

<script>
  $('#login').modal({
    keyboard: false,
    backdrop: "static"
  });
</script>
