<tr class="purchase_order">
  <td>
    <% if purchase_order.priority_level == 0 %>
      <i class="icon-asterisk"></i>
    <% end %>
    <%= link_to(purchase_order.baan_id, purchase_order_path(purchase_order)) %>
  </td>
  <td><%= purchase_order.stock_status %> / <%= purchase_order.calculation.try(:total_purchase_positions) %></td>
  <td><%= purchase_order.calculation.try(:total_pallets) %></td>
  <td><%= purchase_order.purchase_positions.try(:first).try(:consignee_full) %></td>
  <td><%= purchase_order.try(:shipping_route).try(:name) %></td>
  <td><%= purchase_order.purchase_positions.first.zip_location_name %></td>
  <td><%= purchase_order.delivery_date.to_formatted_s(:swiss_date) %></td>
</tr>