<tr>
  <td>
    <div class="btn-group">
      <%= purchase_order.btn_cat_a.code.html_safe %>
      <a href="/purchase_orders/<%= purchase_order.id %>" class="btn btn-mini"><%= purchase_order.baan_id %></a>
    </div>
  </td>
  <td>
    <div class="btn-group">
      <%= purchase_order.html_content.code.html_safe %>
      <a class="btn btn-inverse btn-mini disabled"><%= purchase_order.calculation.total_purchase_positions %></a>
    </div>

  </td>
  <td><%= purchase_order.calculation.total_pallets %></td>
  <td><%= purchase_order.shipping_address.consignee_full %></td>
  <td><%= purchase_order.shipping_route.name %></td>
  <td><%= purchase_order.purchase_positions.first.zip_location.title %></td>
  <td><%= purchase_order.delivery_date.to_formatted_s(:swiss_date) %></td>
</tr>
