<h1>VK-Auftrag NR#<%= @purchase_order.baan_id %></h3>

<%= form_for @purchase_order do |f| %>
  <div class="form-element">
    <%= f.label :delivered, "Versendet?" %>
    <%= f.select(:delivered, { 'Ja'=>true, 'Nein'=>false }) %>
  </div>
  <div class="form-element clearfix">
    <%= f.submit("Speichern", :class => "blueSubmit floatLeft") %>
  </div>
<% end %>