<%= render("purchase_orders/partials/index/modal/filter") %>

<div class="modal hide fade" id="goto">
  <%= form_tag(search_for_purchase_orders_path, {:class => "form-horizontal", :method => :get, :style => "margin: 0;"}) do %>
  
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Gehe zu VK-Auftrag</h3>
    </div>
    
    <div class="modal-body">
      <div class="control-group">
        <%= label_tag(:purchase_order_id, "VK NR", :class => "control-label") %>
        <div class="controls">
          <%= text_field_tag(:purchase_order_id) %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
      <button type="submit" class="btn btn-primary">Gehe zu</button>
    </div>
  
  <% end %>
</div>

<ul class="breadcrumb">
  <li class="active">VK-Aufträge</li>
</ul>

<div class="page-header">
    <h1 class="pull-left">VK-Aufträge</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= url_for(params.merge(:format => :pdf)) %>"><i class="icon-print icon-white"></i> Drucke PDF</a>
      </div>
      
      <div class="btn-group">
        <button data-toggle="modal" href="#filter" class="btn"><i class="icon-filter"></i> Filter</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-toggle="modal" href="#goto"><i class="icon-screenshot"></i> Gehe zu</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="clear"></div>
</div>
<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <button class="btn btn-primary" disabled="disabled">Produziert</button>
    <button class="btn" disabled="disabled"><%= @production_status_count.where(:production_status => 1, :stock_status => 0).count %></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-success" disabled="disabled">Eingelagert</button>
    <button class="btn" disabled="disabled"><%= @stock_status_count.where(:stock_status => 1, :production_status => 1).count %></button>
  </div>
  <div class="btn-group">
    <button class="btn btn-danger" disabled="disabled">Offen</button>
    <button class="btn" disabled="disabled"><%= @pending_status_count.where(:production_status => 0).count %></button>
  </div>
</div>
<div class="clear"></div>

<blockquote>
  <p>
    <i class="icon-asterisk"></i> VK-Auftrag mit aktiver Terminverschiebung
  </p>
  <p>
    <i class="icon-fire"></i> Verschobener VK-Auftrag
  </p>
</blockquote>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">VK-Aufträge</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table class="table">
      <thead>
        <tr>
          <th>VK-Auftrag</th>
          <th>Positionen</th>
          <th>Gebuchte Paletten</th>
          <th>Handelspartner</th>
          <th>Tour</th>
          <th>Gebiet</th>
          <th>Versand</th>
        </tr>
      </thead>
      <tbody>
        <%= render @purchase_orders %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>
</section>