<div class="modal hide fade" id="filter">
  <%= form_for @search, :html => {:class => "", :method => :get, :style => "margin: 0;"} do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Filter Optionen</h3>
    </div>
    
    <div class="modal-body">
      
      <div class="floatLeft">
        <%= f.label(:delivered_equals, "Versendet?") %>
        <%= f.select(:delivered_equals, { 'Nein' => false, 'Ja' => true }, {}, {:class => "span2"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:picked_up_equals, "Warenentnahme abg?") %>
        <%= f.select(:picked_up_equals, { 'Nein' => false, 'Ja' => true }, {}, {:class => "span2"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:priority_level_equals, "Prio Stufe") %>
        <%= f.select(:priority_level_equals, { 'TS Aktiv' => 0, 'Normal' => 1, 'Termin Verschoben' => 2 }, {:include_blank => true}, {:class => "span2"}) %>
      </div>
      <div class="clear"></div>
      
      <hr />
      <div class="floatLeft">
        <%= f.label(:delivery_date_greater_than_or_equal_to, "Von") %>
        <%= f.text_field :delivery_date_greater_than_or_equal_to, :class => "date_picker span3" %>
      </div>
      <div class="floatLeft">
        <%= f.label(:delivery_date_less_than_or_equal_to, "Bis") %>
        <%= f.text_field :delivery_date_less_than_or_equal_to, :class => "date_picker span3" %>
      </div>
      <div class="clear"></div>
      <hr />
      
      <div class="">
        <%= f.label(:baan_id_equals, "VK-Auftrag") %>
        <%= f.text_field(:baan_id_equals, :class => "span6") %>
      </div>
      <hr />
      
      <div class="">
        <%= f.label(:level_1_equals, "Zahlungsleister") %>
        <%= f.collection_select(:level_1_equals, @level_1, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_1"}) %>
      </div>
      
      <div class="">
        <%= f.label(:level_2_equals, "Rechnungsempfänger") %>
        <%= f.collection_select(:level_2_equals, @level_2, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_2"}) %>
      </div>
      
      <div class="">
        <%= f.label(:level_3_equals, "Lieferadresse") %>
        <%= f.collection_select(:level_3_equals, @level_3, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_3"}) %>
      </div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:shipping_route_id_equals, "Tour") %>
        <%= f.collection_select(:shipping_route_id_equals, @shipping_routes, :id, :name, {:include_blank => true}, {:class => "span2", "data-foo" => "shipping_routes"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:warehouse_number_equals, "Versandlager") %>
        <%= f.text_field(:warehouse_number_equals, :class => "span2") %>
      </div>
      <div class="floatLeft">
        <%= f.label(:category_id_equals, "VK-Art") %>
        <%= f.collection_select(:category_id_equals, @purchase_order_categories, :id, :title, {:include_blank => true}, {:class => "span2", "data-foo" => "categories"}) %>
      </div>
      <div class="clear"></div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:warehousing_completed_gteq, "Einlagerung >= ?%") %>
        <%= f.select(:warehousing_completed_gteq, { '>= 0%' => 0.0, '>= 10%' => 10.0, '>= 20%' => 20.0, '>= 30%' => 30.0, '>= 40%' => 40.0, '>= 50%' => 50.0, '>= 60%' => 60.0, '>= 70%' => 70.0, '>= 80%' => 80.0, '>= 90%' => 90.0, '>= 100%' => 100.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:warehousing_completed_lteq, "Einlagerung <= ?%") %>
        <%= f.select(:warehousing_completed_lteq, { '<= 100%' => 100.0, '<= 99%' => 99.0, '<= 90%' => 90.0, '<= 80%' => 80.0, '<= 70%' => 70.0, '<= 60%' => 60.0, '<= 50%' => 50.0, '<= 40%' => 40.0, '<= 30%' => 30.0, '<= 20%' => 20.0, '<= 10%' => 10.0, '<= 0%' => 0.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="clear"></div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:manufacturing_completed_gteq, "Produktion >= ?%") %>
        <%= f.select(:manufacturing_completed_gteq, { '>= 0%' => 0.0, '>= 10%' => 10.0, '>= 20%' => 20.0, '>= 30%' => 30.0, '>= 40%' => 40.0, '>= 50%' => 50.0, '>= 60%' => 60.0, '>= 70%' => 70.0, '>= 80%' => 80.0, '>= 90%' => 90.0, '>= 100%' => 100.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:manufacturing_completed_lteq, "Produktion <= ?%") %>
        <%= f.select(:manufacturing_completed_lteq, { '<= 100%' => 100.0, '<= 99%' => 99.0, '<= 90%' => 90.0, '<= 80%' => 80.0, '<= 70%' => 70.0, '<= 60%' => 60.0, '<= 50%' => 50.0, '<= 40%' => 40.0, '<= 30%' => 30.0, '<= 20%' => 20.0, '<= 10%' => 10.0, '<= 0%' => 0.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="clear"></div>
      
      
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
      <button type="submit" class="btn btn-primary">Filtern</button>
    </div>
  
  <% end %>
</div>

<div class="modal hide fade" id="goto">
  <%= form_tag(search_for_purchase_orders_path, {:class => "form-horizontal", :method => :get, :style => "margin: 0;"}) do %>
  
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Gehe zu VK-Auftrag</h3>
    </div>
    
    <div class="modal-body">
      <div class="control-group">
        <%= label_tag(:purchase_order_id, "VK NR", :class => "control-label") %>
        <div class="controls">
          <%= text_field_tag(:purchase_order_id) %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
      <button type="submit" class="btn btn-primary">Gehe zu</button>
    </div>
  
  <% end %>
</div>

<ul class="breadcrumb">
  <li class="active">VK-Aufträge</li>
</ul>

<div class="page-header">
    <h1 class="pull-left">VK-Aufträge</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= url_for(params.merge(:format => :pdf)) %>"><i class="icon-print icon-white"></i> Drucke PDF</a>
      </div>
      
      <div class="btn-group">
        <button data-toggle="modal" href="#filter" class="btn"><i class="icon-filter"></i> Filter</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-toggle="modal" href="#goto"><i class="icon-screenshot"></i> Gehe zu</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<blockquote>
  <p>
    <i class="icon-asterisk"></i> VK-Auftrag mit aktiver Terminverschiebung
  </p>
  <p>
    <i class="icon-fire"></i> Verschobener VK-Auftrag
  </p>
</blockquote>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">VK-Aufträge</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table class="table">
      <thead>
        <tr>
          <th>VK-Auftrag</th>
          <th>Positionen</th>
          <th>Gebuchte Paletten</th>
          <th>Handelspartner</th>
          <th>Tour</th>
          <th>Gebiet</th>
          <th>Versand</th>
        </tr>
      </thead>
      <tbody>
        <%= render @purchase_orders %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>
</section>