<div class="page-header">
  <h1>Verkaufs Aufträge</h1>
</div>

<blockquote>
  <p>
    <i class="icon-asterisk"></i> VK-Auftrag mit aktiver Terminverschiebung
  </p>
  <p>
    <i class="icon-fire"></i> Verschobener VK-Auftrag
  </p>
</blockquote>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">VK-Aufträge</h4>
    <% if permitted_to? :destroy_multiple, :purchase_orders %>
      <a rel="nofollow" data-method="delete" data-show-tooltip="true" class="header_link" href="/purchase_orders/destroy_multiple" title="Lösche VK ohne Palettenzuweisung">
        <span class="header_pack _9"></span>
      </a>
    <% end %>
    <a data-show-tooltip="true" data-role="tab" data-warp="goto" class="header_link" href="/purchase_orders?data_role=search" title="Springe zu VK-Auftrag...">
      <span class="header_pack _14"></span>
    </a>
    <a data-show-tooltip="true" data-role="tab" data-warp="filter" class="header_link" href="/purchase_orders?data_role=search" title="Zeige Filter-Optionen">
      <span class="header_pack _283"></span>
    </a>
    <a href="<%= url_for(params.merge(:format => :pdf)) %>" class="header_link" data-show-tooltip="true" title="Drucke Spediliste">
      <span class="header_pack _193"></span>
    </a>
  </header>
  <section class="filter_box_content clearfix">
    <table class="table">
      <thead>
        <tr>
          <th>VK-Auftrag</th>
          <th>Positionen</th>
          <th>Gebuchte Paletten</th>
          <th>Handelspartner</th>
          <th>Tour</th>
          <th>Gebiet</th>
          <th>Versand</th>
        </tr>
      </thead>
      <tbody>
        <%= render @purchase_orders %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>
</section>

<div data-type="modal" style="display: none;">
    <%= form_for @search, :html => {"data-tab" => "filter", :method => :get} do |f| %>
      <div class="floatLeft">
        <%= f.label(:delivered_equals, "Versendet?") %>
        <%= f.select(:delivered_equals, { 'Nein' => false, 'Ja' => true }, {}, {:class => "span3"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:priority_level_equals, "Prio Stufe") %>
        <%= f.text_field(:priority_level_equals, {:class => "span3"}) %>
      </div>
      <div class="clear"></div>
      
      <hr />
      <div class="floatLeft">
        <%= f.label(:delivery_date_greater_than_or_equal_to, "Von") %>
        <%= f.text_field :delivery_date_greater_than_or_equal_to, :class => "date_picker span3" %>
      </div>
      <div class="floatLeft">
        <%= f.label(:delivery_date_less_than_or_equal_to, "Bis") %>
        <%= f.text_field :delivery_date_less_than_or_equal_to, :class => "date_picker span3" %>
      </div>
      <div class="clear"></div>
      <hr />
      
      <div class="">
        <%= f.label(:baan_id_equals, "VK-Auftrag") %>
        <%= f.text_field(:baan_id_equals, :class => "span6") %>
      </div>
      <hr />
      
      <div class="">
        <%= f.label(:level_1_equals, "Zahlungsleister") %>
        <%= f.collection_select(:level_1_equals, @level_1, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_1"}) %>
      </div>
      
      <div class="">
        <%= f.label(:level_2_equals, "Rechnungsempfänger") %>
        <%= f.collection_select(:level_2_equals, @level_2, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_2"}) %>
      </div>
      
      <div class="">
        <%= f.label(:level_3_equals, "Lieferadresse") %>
        <%= f.collection_select(:level_3_equals, @level_3, :id, :location_for_select, {:include_blank => true}, {:class => "span6", "data-foo" => "level_3"}) %>
      </div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:shipping_route_id_equals, "Tour") %>
        <%= f.collection_select(:shipping_route_id_equals, @shipping_routes, :id, :name, {:include_blank => true}, {:class => "span2", "data-foo" => "shipping_routes"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:warehouse_number_equals, "Versandlager") %>
        <%= f.text_field(:warehouse_number_equals, :class => "span2") %>
      </div>
      <div class="floatLeft">
        <%= f.label(:category_id_equals, "VK-Art") %>
        <%= f.collection_select(:category_id_equals, @purchase_order_categories, :id, :title, {:include_blank => true}, {:class => "span2", "data-foo" => "categories"}) %>
      </div>
      <div class="clear"></div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:warehousing_completed_gteq, "Einlagerung >= ?%") %>
        <%= f.select(:warehousing_completed_gteq, { '>= 0%' => 0.0, '>= 10%' => 10.0, '>= 20%' => 20.0, '>= 30%' => 30.0, '>= 40%' => 40.0, '>= 50%' => 50.0, '>= 60%' => 60.0, '>= 70%' => 70.0, '>= 80%' => 80.0, '>= 90%' => 90.0, '>= 100%' => 100.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:warehousing_completed_lteq, "Einlagerung <= ?%") %>
        <%= f.select(:warehousing_completed_lteq, { '<= 100%' => 100.0, '<= 99%' => 99.0, '<= 90%' => 90.0, '<= 80%' => 80.0, '<= 70%' => 70.0, '<= 60%' => 60.0, '<= 50%' => 50.0, '<= 40%' => 40.0, '<= 30%' => 30.0, '<= 20%' => 20.0, '<= 10%' => 10.0, '<= 0%' => 0.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="clear"></div>
      <hr />
      <div class="floatLeft">
        <%= f.label(:manufacturing_completed_gteq, "Produktion >= ?%") %>
        <%= f.select(:manufacturing_completed_gteq, { '>= 0%' => 0.0, '>= 10%' => 10.0, '>= 20%' => 20.0, '>= 30%' => 30.0, '>= 40%' => 40.0, '>= 50%' => 50.0, '>= 60%' => 60.0, '>= 70%' => 70.0, '>= 80%' => 80.0, '>= 90%' => 90.0, '>= 100%' => 100.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="floatLeft">
        <%= f.label(:manufacturing_completed_lteq, "Produktion <= ?%") %>
        <%= f.select(:manufacturing_completed_lteq, { '<= 100%' => 100.0, '<= 99%' => 99.0, '<= 90%' => 90.0, '<= 80%' => 80.0, '<= 70%' => 70.0, '<= 60%' => 60.0, '<= 50%' => 50.0, '<= 40%' => 40.0, '<= 30%' => 30.0, '<= 20%' => 20.0, '<= 10%' => 10.0, '<= 0%' => 0.0 }, {:include_blank => true}, {:class => "span3"}) %>
      </div>
      <div class="clear"></div>
      <hr />
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Filter anwenden</button>
      </div>
    <% end %>
    
    <%= form_tag(search_for_purchase_orders_path, {:class => "form", "data-tab" => "goto", :method => :get}) do %>
      <div class="form-element">
        <%= label_tag(:purchase_order_id, "VK NR") %>
        <%= text_field_tag(:purchase_order_id, nil, :class => "span2") %>
      </div>
      
      <div class="form-element clearfix">
        <%= submit_tag "Go", :disable_with => 'Filterning...', :name => nil, :class => "blueSubmit floatLeft" %>
      </div>
    <% end %>
</div>
