<div class="well well-small">
  <% if params[:q].present? && params[:q][:delivery_date_gteq].present? %>
    <span class="label"><%= "Von: #{params[:q][:delivery_date_gteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:delivery_date_lteq].present? %>
    <span class="label"><%= "Bis: #{params[:q][:delivery_date_lteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:shipping_route_id_eq].present? %>
    <span class="label"><%= "Tour: #{ShippingRoute.where(:id => params[:q][:shipping_route_id_eq]).first.name}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:warehouse_number_eq].present? %>
    <span class="label"><%= "Versandlager: #{params[:q][:warehouse_number_eq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:category_id_eq].present? %>
    <span class="label"><%= "VK-Art: #{Category.where(:id => params[:q][:category_id_eq]).first.title}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:warehousing_completed_gteq].present? %>
    <span class="label"><%= "Eingelagert >= ?%: #{params[:q][:warehousing_completed_gteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:warehousing_completed_lteq].present? %>
    <span class="label"><%= "Eingelagert <= ?%: #{params[:q][:warehousing_completed_lteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:manufacturing_completed_gteq].present? %>
    <span class="label"><%= "Produziert >= ?%: #{params[:q][:manufacturing_completed_gteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:manufacturing_completed_lteq].present? %>
    <span class="label"><%= "Produziert <= ?%: #{params[:q][:manufacturing_completed_lteq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:priority_level_eq].present? %>
    <span class="label"><%= "Prio / TS: #{prio_title(params[:q][:priority_level_eq])}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:delivered_eq].present? %>
    <span class="label"><%= "Versendet: #{params[:q][:delivered_eq]}" %></span>
  <% end %>
  <% if params[:q].present? && params[:q][:picked_up_eq].present? %>
    <span class="label"><%= "Warenentnahme abg: #{params[:q][:picked_up_eq]}" %></span>
  <% end %>
</div>

<% Address.select("DISTINCT `addresses`.*").where("addresses.category_id" => 10, "purchase_orders.id" => @purchase_orders.collect(&:id)).joins(:purchase_orders).order("purchase_orders.delivery_date ASC").each do |ordered_address| %>

  <blockquote>
    <p><%= ordered_address.location_for_select %></p>
  </blockquote>

  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Versand</th>
        <th>Tour</th>
        <th>VK-Pos</th>
        <th>Artikel</th>
        <th>stk.</th>
        <th>Bezeichnung</th>
        <th>Produktlinie</th>
        <th>Lager Ort</th>
        <th>Palette</th>
      </tr>
    </thead>
    <tbody>
      <% PurchaseOrder.includes(:shipping_route, :purchase_positions => [:pallets]).order("purchase_orders.delivery_date ASC").where("purchase_orders.id" => @purchase_orders.collect(&:id)).where(:level_3 => ordered_address.id).each do |purchase_order| %>
        <% purchase_order.purchase_positions.each do |purchase_position| %>
          <tr>
            <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            <td><%= purchase_order.shipping_route.name %></td>
            <td>
              <% if purchase_position.priority_level == 0 %>
                &#x2605;
              <% elsif purchase_position.priority_level > 1 %>
                &#x26a0;
              <% end %>
              <%= purchase_position.baan_Id %>
            </td>
            <td><%= purchase_position.article_number %></td>
            <td><%= purchase_position.quantity %></td>
            <td><%= purchase_position.article %></td>
            <td><%= purchase_position.product_line %></td>
            <td><%= purchase_position.storage_location %></td>
            <td><%= purchase_position.pallets.collect(&:id).join(", ") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
