<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">VK-Aufträge</li>
  </ul>
<% end %>

<div class="modal hide fade" id="index_purchase_positions">
</div>
<%= render("purchase_orders/partials/index/modal/filter") %>
<%= render("purchase_orders/partials/index/modal/goto") %>

<div class="page-header">
    <h1 class="pull-left">VK-Aufträge</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= url_for(params.merge(:format => :pdf)) %>"><i class="icon-print icon-white"></i> Drucke PDF</a>
      </div>
      
      <div class="btn-group">
        <button data-toggle="modal" href="#filter" class="btn"><i class="icon-filter"></i> Filter</button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a data-toggle="modal" href="#goto"><i class="icon-screenshot"></i> Gehe zu</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <span class="btn btn disabled">VK-Pos</span>
    <span class="btn btn-primary disabled">Produziert</span>
    <span class="btn disabled"><%= @production_status_count %></span>
  </div>
  <div class="btn-group">
    <span class="btn btn disabled">VK-Pos</span>
    <span class="btn btn-success disabled">Eingelagert</span>
    <span class="btn disabled"><%= @stock_status_count %></span>
  </div>
  <div class="btn-group">
    <span class="btn btn disabled">VK-Pos</span>
    <span class="btn btn-danger disabled">Offen</span>
    <span class="btn disabled"><%= @pending_status_count %></span>
  </div>
</div>
<div class="clear"></div>

<blockquote>
  <p>
    <i class="icon-asterisk"></i> VK-Auftrag mit aktiver Terminverschiebung
  </p>
  <p>
    <i class="icon-fire"></i> Verschobener VK-Auftrag
  </p>
</blockquote>

<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>VK-Auftrag</th>
          <th>Positionen</th>
          <th>Gebuchte Paletten</th>
          <th>Handelspartner</th>
          <th>Tour</th>
          <th>Gebiet</th>
          <th>Versand</th>
        </tr>
      </thead>
      <tbody>
        <%= render @purchase_orders %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
