<%- model_class = PurchaseOrder -%>

<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li>
      <a href="<%= purchase_orders_path %>">VK-Aufträge</a> <span class="divider">/</span>
    </li>
    <li class="active"><%= @purchase_order.id %></li>
    <li class="pull-right">
      <% if permitted_to? :edit, :purchase_orders %>
        <div class="btn-group">
          <%= link_to(edit_purchase_order_path(@purchase_order), :class => "btn btn-mini") do %>
            <i class="icon-cogs"></i> VK bearbeiten
          <% end %>
          <%= link_to(purchase_order_path(@purchase_order, aggregation_for(@purchase_order.id)), :class => "btn btn-mini", :method => :put) do %>
            <i class="icon-refresh"></i> Status neu berechnen
          <% end %>
        </div>
      <% end %>
      <div class="btn-group">
        <%= link_to(purchase_order_path(@purchase_order, :format => :pdf), :class => "btn btn-mini btn-primary") do %>
          <i class="icon-print"></i> Drucke VK
        <% end %>
        <%= link_to(print_pallets_purchase_order_path(@purchase_order, :format => :pdf, :pdf_type => "pallets"), :class => "btn btn-mini btn-primary") do %>
          <i class="icon-print"></i> Drucke VK-Paletten
        <% end %>
      </div>
    </li>
  </ul>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="span4">
      <div class="well well-small">
          <p class="lead text-center">Produziert</p>
          <div class="progress progress-striped">
            <div class="bar" style="width: <%= @purchase_order.manufactured_in_percent %>;"></div>
          </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
          <p class="lead text-center">Eingelagert</p>
          <div class="progress progress-striped">
            <div class="bar bar-success" style="width: <%= @purchase_order.stored_in_percent %>;"></div>
          </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
          <p class="lead text-center">Pendent</p>
          <div class="progress progress-striped">
            <div class="bar bar-danger" style="width: <%= @purchase_order.pending_in_percent %>;"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="media">
  <%= image_tag("https://chart.googleapis.com/chart?cht=qr&chs=154x154&chl=#{@purchase_order.baan_id}", :class => "pull-left") %>
  <div class="media-body">
    <div class="page-header">
      <h1>
        <%=t '.title', :default => model_class.model_name.human %>
        <small>
          <%= @purchase_order.baan_id %>
        </small>
      </h1>
    </div>
    <dl class="dl-horizontal">
      <dt>Empfänger:</dt>
      <dd><%= @purchase_order.shipping_address.consignee_full %></dd>
    </dl>
  </div>
</div>

<hr />

<% if @purchase_positions.present? %>
<div class="row-fluid">
  <div class="span9 offset3">
    <blockquote>
      <p>
        Offene Positionen
      </p>
    </blockquote>
    <%= render :partial => 'purchase_orders/partials/show/create_line_items' %>
    
    <% @pallets.each do |pallet| %>
      <hr />
      <blockquote>
        <p><%= pallet.try(:shipping_address).try(:consignee_full) %></p>
      </blockquote>
      <% if pallet.mixed? %>
          <dl class="dl-horizontal">
            <dt>Mischpalette:</dt>
            <dd>
              <% pallet.purchase_orders.each do |p_o| %>
                  <%= link_to(p_o.baan_id, purchase_order_path(PurchaseOrder.where(:baan_id => p_o.baan_id).first), :class => "m-r_5px") %>
              <% end %>
            </dd>
          </dl>
      <% end %>
      <%= render :partial => 'purchase_orders/partials/show/destroy_line_items', :locals => { :pallet => pallet } %>
    <% end %>
  </div>
</div>

<% else %>
    <div id="flash_notice">Für diesen Auftrag wurden bereits alle Positionen bearbeitet!</div>

<% end %>