<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">VK-Auftrag NR#<%= @purchase_order.baan_id %></h1>
  <%= link_to("Print", print_pallets_purchase_order_path(@purchase_order, :format => :pdf), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
  <% if permitted_to? :edit, :purchase_orders %>
    <%= link_to("Edit", edit_purchase_order_path(@purchase_order), {"data-type" => "modal", :class => "floatRight no_text_decoration blue_link_button m-r_5px"}) %>
  <% end %>
</header>

<ul class="ul_summary">
  <li class="summary clearfix"><p class="floatLeft bold title">Empfänger:</p><p class="floatLeft"><%= @purchase_order.purchase_positions.first.consignee_full.present? ? @purchase_order.purchase_positions.first.consignee_full : @purchase_order.customer.company %></p></li>
</ul>

<% if @purchase_positions.present? %>
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft">Offene Positionen</h4>
    </header>
    <section class="filter_box_content clearfix">
      <% form_tag(assign_positions_pallets_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag(:purchase_order_id, @purchase_order.id) %>
        <table class="margin_bottom_big">
          <thead>
            <tr>
              <th>Position</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge Total</th>
              <th>Lager Ort</th>
              <th>Versand</th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_positions.each do |purchase_position| %>
              <% if (purchase_position.weight_total.to_i == 0) or (purchase_position.amount.to_i == 0) %>
                <tr class="yellow_background">
              <% else %>
                <tr>
              <% end %>
                  <% if permitted_to? :edit, :purchase_positions %>
                    <td class="align-center"><%= link_to(purchase_position.position, edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
                  <% else %>
                    <td class="align-center"><%= purchase_position.position %></td>
                  <% end %>
                  <td class="align-center"><%= purchase_position.article_number %></td>
                  <td class="align-center"><%= purchase_position.article %></td>
                  <td class="align-center"><%= purchase_position.product_line %></td>
                  <td class="align-center"><%= purchase_position.quantity %></td>
                  <td class="align-center"><%= purchase_position.storage_location %></td>
                  <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                  <% if permitted_to? :assign_positions, :pallets %>
                    <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :assign_positions, :pallets %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"><%= text_field_tag(:pallet_id, nil, :placeholder => "Palett NR...") %></td>
                <td class="align-center"><%= submit_tag "Hinzufügen", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% else %>
  <div id="flash_notice">Für diesen Auftrag wurden bereits alle Positionen bearbeitet!</div>
  
<% end %>

<% @pallets.each do |pallet| %>
  
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft"><%= pallet.pallet_type.description == "coli" ? "Coli" : "Pallet" %> NR#<%= pallet.id %></h4>
      <% if permitted_to? :edit, :pallets %>
        <%= link_to("Edit", edit_pallet_path(pallet), {"data-type" => "modal", :class => "floatRight no_text_decoration link_button"}) %>
      <% end %>
      <%= link_to("Print", pallet_path(pallet, :format => :pdf), {:class => "floatRight no_text_decoration link_button m-r_5px"}) %>
    </header>
    <section class="filter_box_content clearfix">
      <% if pallet.mixed? %>
        <ul class="ul_summary">
          <li class="summary clearfix">
            <p class="floatLeft bold title">Mischpalette:</p>
            <p class="floatLeft">
              <% pallet.purchase_orders.each do |p_o| %>
                <%= link_to(p_o.baan_id, purchase_order_path(PurchaseOrder.where(:baan_id => p_o.baan_id).first), :class => "m-r_5px") %>
              <% end %>
            </p>
          </li>
        </ul>
      <% end %>
      
      <% form_tag(remove_positions_pallet_path(pallet), {:class => "form", "data-submit_handler" => "true", :method => :delete}) do %>
        <table class="margin_bottom_big">
          <thead>
            <tr>
              <th>Position</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge Total</th>
              <th>Lager Ort</th>
              <th>Versand</th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <% if (purchase_position.weight_single.to_i == 0) or (purchase_position.amount.to_i == 0) %>
                <tr class="yellow_background">
              <% else %>
                <tr>
              <% end %>
                <% if permitted_to? :remove_positions, :pallets %>
                  <% if purchase_position.purchase_order != @purchase_order %>
                    <td class="align-center red"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
                  <% else %>
                  <td class="align-center"><%= link_to(purchase_position.position, edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
                  <% end %>
                <% else %>
                  <% if purchase_position.purchase_order != @purchase_order %>
                    <td class="align-center red"><%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %></td>
                  <% else %>
                  <td class="align-center"><%= purchase_position.position %></td>
                  <% end %>
                <% end %>
                <td class="align-center"><%= purchase_position.article_number %></td>
                <td class="align-center"><%= purchase_position.article %></td>
                <td class="align-center"><%= purchase_position.product_line %></td>
                <td class="align-center"><%= purchase_position.quantity %></td>
                <td class="align-center"><%= purchase_position.storage_location %></td>
                <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                <td class="align-center">
                  <% if permitted_to? :remove_positions, :pallets %>
                    <% if purchase_position.purchase_order == @purchase_order %>
                      <%= check_box_tag "purchase_position_ids[]", purchase_position.id %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :remove_positions, :pallets %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"></td>
                <td class="align-center"><%= submit_tag "Entfernen", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% end %>
<div data-type="modal"></div>