<div data-type="modal" style="display:none;">
</div>

<ul class="breadcrumb">
  <li><a href="<%= purchase_orders_path %>">VK-Aufträge</a> <span class="divider">/</span></li>
  <li class="active"><%= @purchase_order.id %></li>
</ul>

<div class="page-header">
    <h1 class="pull-left">VK-Auftrag NR#<%= @purchase_order.baan_id %></h1>
    <div class="btn-toolbar pull-right">
      <% if permitted_to? :edit, :purchase_orders %>
        <div class="btn-group">
          <a class="btn btn-primary" href="<%= edit_purchase_order_path(@purchase_order) %>" data-role="edit_remote"><i class="icon-plus-sign icon-white"></i> Edit</a>
        </div>
      <% end %>
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= print_pallets_purchase_order_path(@purchase_order, :format => :pdf) %>"><i class="icon-print icon-white"></i> PDF</a>
      </div>
    </div>
    <div class="clear"></div>
</div>

<dl class="dl-horizontal">
  <dt>Empfänger:</dt>
  <dd><%= @purchase_order.purchase_positions.first.consignee_full.present? ? @purchase_order.purchase_positions.first.consignee_full : @purchase_order.customer.company %></dd>
</dl>

<% if @purchase_positions.present? %>
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft">Offene Positionen</h4>
    </header>
    <section class="filter_box_content clearfix">
      <% form_tag(assign_positions_pallets_path, {:class => "form no-margin", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag(:purchase_order_id, @purchase_order.id) %>
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Position</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge Total</th>
              <th>Lager Ort</th>
              <th>PLZ Gebiet</th>
              <th>Versand</th>
              <th></th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_positions.each do |purchase_position| %>
              <% if purchase_position.pallet_purchase_position_assignments.sum("pallet_purchase_position_assignments.quantity") < purchase_position.quantity %>
                <tr>
                    <% if permitted_to? :edit, :purchase_positions %>
                      <td><span class="label label-<%= purchase_position.production_status %><%= purchase_position.stock_status %>"><%= link_to(purchase_position.baan_id, edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %></span></td>
                    <% else %>
                      <td><span class="label label-<%= purchase_position.production_status %><%= purchase_position.stock_status %>"><%= purchase_position.position %></span></td>
                    <% end %>
                    <td><%= purchase_position.article_number %></td>
                    <td><%= purchase_position.article %></td>
                    <td><%= purchase_position.product_line %></td>
                    <td><%= purchase_position.quantity %></td>
                    <td><%= purchase_position.storage_location %></td>
                    <td><%= purchase_position.zip_location_name %></td>
                    <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                    <td class="align-center"><%= select_tag "quantity_with_ids[#{purchase_position.id}]", options_from_collection_for_select((1..purchase_position.available_quantity), :to_i, :to_s, purchase_position.available_quantity) %></td>
                    <% if permitted_to? :assign_positions, :pallets %>
                      <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :assign_positions, :pallets %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"><%= text_field_tag(:pallet_id, nil, :placeholder => "Palett NR...") %></td>
                <td class="align-center">
                  <button class="btn btn-primary" type="submit" data-disable-with="Please wait...">
                    Hinzufügen
                  </button>
                </td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% else %>
  <div id="flash_notice">Für diesen Auftrag wurden bereits alle Positionen bearbeitet!</div>
  
<% end %>

<% @pallets.each do |pallet| %>
  
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <% if pallet.cargo_list.present? %>
        <h4 class="floatLeft m-r_5px"><%= "Versand NR #{pallet.cargo_list.id} |" %></h4>
      <% end %>
      <h4 class="floatLeft m-r_5px"><%= pallet.pallet_type.description == "coli" ? "Coli NR #{pallet.id} | " : "Palette NR #{pallet.id} | " %></h4>
      <% if pallet.purchase_positions.present? %>
        <h4 class="floatLeft"><%= pallet.purchase_positions.first.consignee_full %></h4>
      <% end %>
      
      <% if permitted_to? :edit, :pallets %>
        <a href="<%= edit_pallet_path(pallet) %>" class="header_link" data-role="edit_remote" data-show-tooltip="true" title="Zeige Palette-Optionen">
          <span class="header_pack _1"></span>
        </a>
      <% end %>
      <a href="<%= pallet_path(pallet, :format => :pdf) %>" class="header_link" data-show-tooltip="true" title="Drucke Palette">
        <span class="header_pack _193"></span>
      </a>
    </header>
    <section class="filter_box_content clearfix">
      <% if pallet.mixed? %>
        <dl class="dl-horizontal">
          <dt>Mischpalette:</dt>
          <dd>
            <% pallet.purchase_orders.each do |p_o| %>
              <%= link_to(p_o.baan_id, purchase_order_path(PurchaseOrder.where(:baan_id => p_o.baan_id).first), :class => "m-r_5px") %>
            <% end %>
          </dd>
        </dl>
      <% end %>
      
      <% form_tag(remove_positions_pallet_path(pallet), {:class => "form", "data-submit_handler" => "true", :method => :delete}) do %>
        <table>
          <thead>
            <tr>
              <th>Position</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge angefügt</th>
              <th>Lager Ort</th>
              <th>PLZ Gebiet</th>
              <th>Versand</th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <tr>
                <td><span class="label label-<%= purchase_position.production_status %><%= purchase_position.stock_status %>"><%= title_for_purchase_position(purchase_position, @purchase_order) %></span></td>
                <td><%= purchase_position.article_number %></td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.product_line %></td>
                <td><%= "#{purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.quantity} / #{purchase_position.quantity}" %></td>
                <td><%= purchase_position.storage_location %></td>
                <td><%= purchase_position.zip_location_name %></td>
                <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                <td class="align-center">
                  <% if permitted_to? :remove_positions, :pallets %>
                    <% if purchase_position.purchase_order == @purchase_order %>
                      <%= check_box_tag "purchase_position_ids[]", purchase_position.id %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :remove_positions, :pallets %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"></td>
                <td class="align-center">
                  <button class="btn btn-warning" type="submit" data-disable-with="Please wait...">
                    Entfernen
                  </button>
                </td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% end %>