<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/purchase_orders"><i class="icon-folder-open"></i> VK-Auftr채ge</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/purchase_orders/<%= @purchase_order.id %>"><%= @purchase_order.baan_id %></a>
  </li>
</ul>

<div class="page-header">
  <h1>VK-Auftrag #<%= @purchase_order.baan_id %><small> <%= @purchase_order.purchase_positions.first.consignee_full.present? ? @purchase_order.purchase_positions.first.consignee_full : @purchase_order.customer.company %></small></h1>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="<%= edit_purchase_order_path(@purchase_order) %>"><i class="icon-edit"></i> Edit</a>
  </div>
  <% if @purchase_order.pallets.present? %>
    <div class="btn-group">
      <a class="btn" href="<%= print_pallets_purchase_order_path(@purchase_order) %>"><i class="icon-print"></i> Paletten Liste</a>
    </div>
  <% end %>
</div>

<% if @purchase_positions.present? %>
  <section class="filter_box">
    <h3>Offene Positionen</h3>
    <section class="filter_box_content clearfix">
      <%= form_tag(assign_positions_pallets_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag(:purchase_order_id, @purchase_order.id) %>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Pos</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge</th>
              <th>Lager</th>
              <th>Gebiet</th>
              <th>Versand</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_positions.each do |purchase_position| %>
              <% if purchase_position.pallet_purchase_position_assignments.sum("pallet_purchase_position_assignments.quantity") < purchase_position.quantity %>
                <tr class="<%= (purchase_position.weight_total.to_i == 0) or (purchase_position.amount.to_i == 0) ? "set" : nil %>">
                  <% if permitted_to? :edit, :purchase_positions %>
                    <td><%= link_to(purchase_position.position, edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %></td>
                  <% else %>
                    <td><%= purchase_position.position %></td>
                  <% end %>
                  <td><%= purchase_position.article_number %></td>
                  <td><%= purchase_position.article %></td>
                  <td><%= purchase_position.product_line %></td>
                  <td><%= purchase_position.quantity %></td>
                  <td><%= purchase_position.storage_location %></td>
                  <td><%= purchase_position.zip_location_name %></td>
                  <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                  <td style="text-align:center;"><%= select_tag "quantity_with_ids[#{purchase_position.id}]", options_from_collection_for_select((1..purchase_position.available_quantity), :to_i, :to_s, purchase_position.available_quantity), :style => "margin-bottom: 0;", :class => "span1" %></td>
                  <% if permitted_to? :assign_positions, :pallets %>
                    <td style="text-align:center;"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :assign_positions, :pallets %>
              <tr>
                <% 8.times do %>
                  <td></td>
                <% end %>
                <td style="text-align:center;"><%= text_field_tag(:pallet_id, nil, :placeholder => "Palette NR...", :style => "margin-bottom: 0;", :class => "span2") %></td>
                <td style="text-align:center;"><%= submit_tag "Hinzuf체gen", :name => "submit", :class => "btn btn-small btn-primary", :disabled => false, :disable_with => "F체ge hinzu..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% else %>
  <div id="flash_notice">F체r diesen Auftrag wurden bereits alle Positionen bearbeitet!</div>
<% end %>
<hr />
<% @pallets.each do |pallet| %>
      <%= render "pallets/edit/modal_edit", :pallet => pallet %>
      <blockquote>
        <p>
          <% if pallet.cargo_list.present? %>
            <%= "Versand NR #{pallet.cargo_list.id}" %> |
          <% end %>
          <%= pallet.pallet_type.description == "coli" ? "Coli NR #{pallet.id}" : "Palette NR #{pallet.id}" %> <%= link_to("Edit", "#pallet_#{pallet.id}", :class => "btn btn-mini btn-info", "data-toggle" => "modal") %>
        </p>
        <% if pallet.purchase_positions.present? %>
          <p><%= pallet.purchase_positions.first.consignee_full %></p>
        <% end %>
      </blockquote>
      
      <%= form_tag(remove_positions_pallet_path(pallet), {:class => "form", "data-submit_handler" => "true", :method => :delete}) do %>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Pos</th>
              <th>Artikel NR</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge</th>
              <th>Lager</th>
              <th>Gebiet</th>
              <th>Versand</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <tr class="<%= (purchase_position.weight_total.to_i == 0) or (purchase_position.amount.to_i == 0) ? "set" : nil %>">
                <% if permitted_to? :remove_positions, :pallets %>
                  <% if purchase_position.purchase_order != @purchase_order %>
                    <td class="red"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %></td>
                  <% else %>
                  <td><%= link_to(purchase_position.position, edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %></td>
                  <% end %>
                <% else %>
                  <% if purchase_position.purchase_order != @purchase_order %>
                    <td class="red"><%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %></td>
                  <% else %>
                  <td><%= purchase_position.position %></td>
                  <% end %>
                <% end %>
                <td><%= purchase_position.article_number %></td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.product_line %></td>
                <td><%= "#{purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.quantity} / #{purchase_position.quantity}" %></td>
                <td><%= purchase_position.storage_location %></td>
                <td><%= purchase_position.zip_location_name %></td>
                <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                <td style="text-align:center;">
                  <% if permitted_to? :remove_positions, :pallets %>
                    <% if purchase_position.purchase_order == @purchase_order %>
                      <%= check_box_tag "purchase_position_ids[]", purchase_position.id %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :remove_positions, :pallets %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center;"><%= submit_tag "Entfernen", :name => "submit", :class => "btn btn-small btn-danger", :disabled => false, :disable_with => "Entferne..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
  
<% end %>