<%= form_for(@status, :html => {:class => "form-horizontal"}) do |f| %>

  <div class="control-group">
    <%= f.label(:title, "Status", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:title, :class => "text_field") %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label(:statusable_type, "Gehört zu", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:statusable_type, Status::STATUSABLE_ITEMS, {}, {}) %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit(@status.new_record? ? "Erstellen" : "Ändern", :class => "btn btn-primary") %>
    <%= link_to("Abbrechen", :back, :class => "btn") %>
  </div>

<% end %>