<div class="well">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <legend><%= "Sign in" %></legend>
      
      <%= f.input :username, :label => false, :placeholder => "Username", :input_html => {:class => "input-block-level"} %>
      <%= f.input :password, :label => false, :placeholder => "Password", :input_html => {:class => "input-block-level"} %>
      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :as => :hidden, :input_html => { :value => 1 } %>
      <% end -%>
      <hr />
      <%= f.button :submit, "Sign in", :class => "btn-large btn-block btn-info" %>
    </fieldset>
  <% end %>
  <%= render "users/shared/links" %>
  
</div>