<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Import Wizzard</li>
        <li class="pull-right">
      <% if permitted_to? :import, :baan_imports %>
        <div class="btn-group">
          <%= link_to(new_baan_import_path, :class => "btn btn-mini") do %>
            <i class="icon-plus-sign"></i> CSV Daten heraufladen
          <% end %>
        </div>
      <% end %>
      <div class="btn-group">
        <%= link_to(destroy_all_baan_imports_path, :class => "btn btn-mini", :method => :delete) do %>
          <i class="icon-trash"></i> CSV Daten löschen
        <% end %>
      </div>
    </li>

  </ul>
<% end %>

<div class="modal hide fade" id="new_baan_import">
</div>

<div class="page-header">
  <h1>Import Wizzard</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Datei Name</th>
      <th>Import Gruppe</th>
      <th>Datei Typ</th>
      <th>Datei Grösse</th>
      <th>Heraufgeladen am</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <% @baan_imports.each do |baan_import| %>
      <tr>
        <td><%= link_to(baan_import.id, baan_import.baan_upload.url) %></td>
        <td><%= baan_import.baan_upload_file_name %></td>
        <td><%= baan_import.baan_import_group.present? ? baan_import.baan_import_group.title : nil %></td>
        <td><%= baan_import.baan_upload_content_type %></td>
        <td><%= baan_import.baan_upload_file_size %></td>
        <td><%= baan_import.baan_upload_updated_at.to_formatted_s(:swiss_date) %></td>
        <td><%= link_to("Re-Import", import_baan_import_path(baan_import)) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
