<%= form_for @baan_import, :html => {:multipart => true} do |f| %>
  <div class="form-element">
    <%= f.label :baan_upload, "CSV Datei" %>
    <%= f.file_field :baan_upload %>
  </div>
  
  <div class="form-element">
    <%= f.label :baan_import_group, "Import Gruppe" %>
    <%= f.collection_select(:baan_import_group_id, BaanImportGroup.all, :id, :title) %>
  </div>
  
  <div class="form-element clearfix">
    <%= f.submit("Upload", :class => "blueSubmit floatLeft") %>
  </div>
<% end %>