<%= form_for @baan_import, :html => {:class => "form-horizontal", :style => "margin: 0;"} do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Upload CSV</h3>
  </div>
  
  <div class="modal-body">
    <div class="control-group">
      <%= f.label :baan_upload, "CSV Datei", :class => "control-label" %>
      <div class="controls">
        <%= f.file_field :baan_upload %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :baan_import_group, "Import Gruppe", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:baan_import_group_id, BaanImportGroup.all, :id, :title) %>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Abbrechen</a>
    <button class="btn btn-primary" type="submit" data-disable-with="Please wait...">Speichern</button>
  </div>
<% end %>
