<h1>Stichprobe Gruppe <%= params[:group] %></h1>

<% @articles.group(:rack_group_number).each do |r_g_n| %>
  <% @articles.where(:rack_group_number => r_g_n.rack_group_number).group(:rack_root_part_number).each do |r_r_n| %>
    <section class="filter_box">
      <header class="filter_box_header clearfix">
        <h4 class="floatLeft m-r_5px">Gruppe <%= r_r_n.rack_group_number %> | Gestell <%= "#{r_r_n.rack_root_number}.#{r_r_n.rack_part_number}" %></h4>
      </header>
      <section class="filter_box_content clearfix">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Artikel</th>
              <th>Bezeichnung</th>
              <th>Groesse</th>
              <th>Einheit</th>
              <th>Menge alt</th>
              <th>Menge neu</th>
              <th>Fach</th>
              <th>Kiste</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.where(:rack_root_part_number => r_r_n.rack_root_part_number, :rack_group_number => r_g_n.rack_group_number).order("rack_tray_number ASC, rack_box_number ASC, article_code ASC").each do |article| %>
              <tr>
                <td class="align-center"><%= article.article_code %></td>
                <td><%= article.description %></td>
                <td class="align-center"><%= article.factor %></td>
                <td class="align-center"><%= article.stock_unit %></td>
                <td class="align-center"><%= article.old_stock %></td>
                <td class="align-center"><%= article.in_stock %></td>
                <td class="align-center"><%= article.rack_tray_number %></td>
                <td class="align-center"><%= article.rack_box_number %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    </section>
    <section>
      <dl>
        <dt>Datum:</dt>
        <dd>__________________________________________</dd>
      </dl>
    </section>
  
    <section class="new-page">
      <dl>
        <dt class="bold">Visum:</dt>
        <dd>__________________________________________</dd>
      </dl>
    </section>
  <% end %>
<% end %>