<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Baan Artikel</li>
    <li class="pull-right">
      <%= link_to(articles_path(:format => :pdf), :class => "btn btn-mini btn-primary") do %>
        <i class="icon-print"></i> Zählliste komplett
      <% end %>
      <%= link_to("#modal", :class => "btn btn-mini", :data => {:toggle => 'modal'}) do %>
        <i class="icon-filter"></i> Filter
      <% end %>
      <% if permitted_to? :export, :articles %>
          <%= link_to("Export", export_articles_path(), :class => "btn btn-mini btn-primary") %>
      <% end %>
      <% if permitted_to? :edit_multiple, :articles %>
          <%= link_to("Daten eingeben", search_for_articles_path, :class => "btn btn-mini btn-primary") %>
      <% end %>
      <% if params[:q].present? && params[:q][:rack_group_number_eq].present? %>
        <% if permitted_to? :calculate_difference_for, :articles %>
          <%= link_to("Stichprobe", calculate_difference_for_articles_path(:q => params[:q], :group => params[:q][:rack_group_number_eq], :format => :pdf), {:class => "btn btn-mini"}) %>
        <% end %>
        <%= link_to("Drucke Gruppe", articles_path(:q => params[:q], :group => params[:q][:rack_group_number_eq], :format => :pdf), {:class => "btn btn-mini"}) %>
      <% end %>
    </li>
  </ul>
<% end %>

<div class="page-header">
  <h1>Baan Artikel</h1>
</div>

<div id="modal" class="modal hide fade" data-class="filter_box">
  <%= search_form_for @search, :builder => SimpleForm::FormBuilder, :html => {:style => "margin-bottom: 0;", "data-tab" => "filter", :class => "form-horizontal"} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Filter</h3>
      </div>
      <div class="modal-body">
        <%= f.input :rack_group_number_eq, :label => "Gruppe", :placeholder => "z.B. 01" %>
        <%= f.input :rack_root_part_number_eq, :label => "Gestell", :placeholder => "z.B. 01.0" %>
        <%= f.input :rack_tray_number_eq, :label => "Fach", :placeholder => "z.B. 00" %>
        <%= f.input :rack_box_number_eq, :label => "Kiste", :placeholder => "z.B. 0" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Exit</button>
        <input type="submit" value="Filter anw." class="btn btn-primary">
      </div>
  <% end %>
</div>

<blockquote>
  <p>Gefundene Artikel: <%= @articles.count %></p>
</blockquote>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Access Code</th>
    <th>Artikel</th>
    <th>Lager</th>
    <th>Lager Platz</th>
    <th>Bezeichnung</th>
    <th>Einheit</th>
    <th>Bestand alt</th>
    <th>Bestand neu</th>
    <th>Gruppe</th>
    <th>Gestell</th>
    <th>Fach</th>
    <th>Kiste</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
      <tr>
        <td><%= article.baan_acces_id %></td>
        <td><%= article.article_code %></td>
        <td><%= article.depot.present? ? article.depot.code : nil %></td>
        <td><%= article.baan_loca %></td>
        <td><%= article.description %></td>
        <td><%= article.stock_unit %></td>
        <td><%= article.old_stock %></td>
        <td><%= article.in_stock %></td>
        <td><%= article.rack_group_number %></td>
        <td><%= article.rack_root_part_number %></td>
        <td><%= article.rack_tray_number %></td>
        <td><%= article.rack_box_number %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>