<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Baan Artikel</h1>
  <% if permitted_to? :export, :articles %>
    <%= link_to("Export", export_articles_path(), :class => "floatRight no_text_decoration blue_link_button") %>
  <% end %>
  <%= link_to("Zählliste komplett", articles_path(:format => :pdf), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
  <% if permitted_to? :edit_multiple, :articles %>
    <%= link_to("Daten eingeben", search_for_articles_path, :class => "floatRight no_text_decoration blue_link_button m-r_5px", "data-type" => "modal", "data-modal_width" => 500) %>
  <% end %>
</header>

<div data-type="modal"></div>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">Filter anwenden</h4>
  </header>
  <section class="filter_box_content clearfix">
  <% form_for :search, @search, :html => {"data-tab" => "filter", :method => :get} do |f| %>
    <ul class="ul_summary">
      
      <li class="summary clearfix">
        <p class="floatLeft bold title">Gruppe</p>
        <p class="floatLeft"><%= f.text_field :rack_group_number_equals %></p>
      </li>
      
      <li class="summary clearfix">
        <p class="floatLeft bold title">Gestell</p>
        <p class="floatLeft"><%= f.text_field :rack_root_part_number_equals %></p>
      </li>
      
      <li class="summary clearfix">
        <p class="floatLeft bold title">Fach</p>
        <p class="floatLeft"><%= f.text_field :rack_tray_number_equals %></p>
      </li>
      <li class="summary clearfix">
        <p class="floatLeft bold title">Kiste</p>
        <p class="floatLeft"><%= f.text_field :rack_box_number_equals %></p>
      </li>
      <li class="summary clearfix">
        <p class="floatLeft title">Aktionen</p>
        <p class="floatLeft"><%= f.submit "Filtern", :disable_with => 'Filterning...', :name => nil %></p>
      </li>
    </ul>
  <% end %>
  </section>
</section>
<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">Gefundene Artikel: <%= @articles.count %></h4>
    <% if params[:search].present? && params[:search][:rack_group_number_equals].present? %>
      <% if permitted_to? :calculate_difference_for, :articles %>
        <%= link_to("Stichprobe", calculate_difference_for_articles_path(:search => params[:search], :group => params[:search][:rack_group_number_equals], :format => :pdf), {:class => "floatRight no_text_decoration link_button m-r_5px"}) %>
      <% end %>
      <%= link_to("Drucke Gruppe", articles_path(:search => params[:search], :group => params[:search][:rack_group_number_equals], :format => :pdf), {:class => "floatRight no_text_decoration link_button m-r_5px"}) %>
    <% end %>
  </header>
  <section class="filter_box_content clearfix">

    <table class="margin_bottom_big">
      <thead>
        <tr>
          <th>Access Code</th>
          <th>Artikel</th>
          <th>Lager</th>
          <th>Lager Platz</th>
          <th>Bezeichnung</th>
          <th>Einheit</th>
          <th>Bestand alt</th>
          <th>Bestand neu</th>
          <th>Gruppe</th>
          <th>Gestell</th>
          <th>Fach</th>
          <th>Kiste</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td class="align-center"><%= article.baan_acces_id %></td>
            <td class="align-center"><%= article.article_code %></td>
            <td class="align-center"><%= article.depot.present? ? article.depot.code : nil %></td>
            <td class="align-center"><%= article.baan_loca %></td>
            <td><%= article.description %></td>
            <td class="align-center"><%= article.stock_unit %></td>
            <td class="align-right"><%= article.old_stock %></td>
            <td class="align-right"><%= article.in_stock %></td>
            <td class="align-center"><%= article.rack_group_number %></td>
            <td class="align-center"><%= article.rack_root_part_number %></td>
            <td class="align-center"><%= article.rack_tray_number %></td>
            <td class="align-center"><%= article.rack_box_number %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    
  </section>
</section>