<%= form_tag(get_results_for_articles_path, {:class => "form", :method => :get}) do %>

  <div class="clearfix formRow">
    <p class="ajaxFormLabel">
      <%= label_tag :baan_acces_code, "Access Code" %>
    </p>
    <p class="ajaxFormInput">
      <%= text_field_tag :baan_acces_code, nil, :placeholder => "bsp. 000014x100" %>
    </p>
  </div>
  
  <div class="clearfix formRow">
    <p class="ajaxFormLabel">
      <%= label_tag :rack_group_number, "Gruppe" %>
    </p>
    <p class="ajaxFormInput">
      <%= text_field_tag :rack_group_number, nil, :placeholder => "bsp. 07" %>
    </p>
  </div>
  
  <div class="clearfix formRow">
    <p class="ajaxFormLabel">
      <%= label_tag :rack_root_number, "Regal" %>
    </p>
    <p class="ajaxFormInput">
      <%= text_field_tag :rack_root_number, nil, :placeholder => "bsp. 012" %>
    </p>
  </div>
  
  <div class="clearfix formRow">
    <p class="ajaxFormInput">
      <%= submit_tag("Gehe zur eingabe") %>
    </p>
  </div>
  
<% end %>