<% content_for :breadcrumb do %>
    <ul class="breadcrumb">
      <li class="active">Z채hlliste ausf체llen</li>
    </ul>
<% end %>

<div class="page-header">
  <h1>Z채hlliste ausf체llen</h1>
</div>

<%= form_tag(get_results_for_articles_path, {:class => "form-horizontal", :method => :get}) do %>

  <div class="control-group">
      <%= label_tag :baan_acces_code, "Access Code", :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag :baan_acces_code, nil, :placeholder => "bsp. 000014x100" %>
    </div>
  </div>
  
  <div class="control-group">
      <%= label_tag :rack_group_number, "Gruppe", :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag :rack_group_number, nil, :placeholder => "bsp. 07" %>
    </div>
  </div>
  
  <div class="control-group">
      <%= label_tag :rack_root_number, "Gestell", :class => "control-label" %>
    <div class="controls">
      <%= text_field_tag :rack_root_number, nil, :placeholder => "bsp. 01.2" %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Gehe zur eingabe</button>
  </div>
  
<% end %>