<%= simple_form_for @cargo_list, :html => {:class => "form-horizontal", :style => "margin: 0;"} do |f| %>
  <div class="tab-content">
    <%= content_tag :div, :id => "tab1", :class => ["tab-pane", params[:tab].present? ? nil : "active"].compact.join(" ") do %>
      <fieldset>
        <legend>Allgemein</legend>
        <%= f.input :pick_up_time_earliest, :label => "Abholzeit von" %>
        <%= f.input :pick_up_time_latest, :label => "Abholzeit bis" %>
        <%= f.input :referee, :label => "Kunden Name" %>
        <%= f.input :country, :hint => "Achtung - Einzelne Funktionen sind Länderspezifisch", :label => "Versand nach", :collection => { 'Deutschland'=>"DE", 'Schweiz'=>"CH" } %>
        <%= f.input :delivered, :label => "Versendet?", :collection => { 'Ja'=>true, 'Nein'=>false } %>
        <%= f.input :level_3, :label => "Lieferadresse", :collection => @addresses, :value_method => :id, :label_method => :location_for_select, :include_blank => true %>
        
        <div class="form-actions">
          <%= link_to "Abbrechen", @cargo_list, :class => "btn" %>
          <button class="btn btn-primary" type="submit" data-disable-with="Please wait...">Speichern</button>
        </div>
      </fieldset>
    <% end %>
  </div>
<% end %>
