<% @grouped_commodity_codes_with_amount.each do |grouped_commodity_code| %>
  <% calculated_total_amount = 0 %>
  <section class="filter_box">
    <header class="filter_box_header"><h4><%= "#{grouped_commodity_code.first.code} #{grouped_commodity_code.first.content}" %></h4></header>
    <section class="filter_box_content clearfix">
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>VK-Auftrag</th>
            <th>Artikel NR</th>
            <th>Artikel</th>
            <th>Artikel Linie</th>
            <th>Anzahl</th>
            <th>Preis</th>
            <th>Gewicht Total</th>
          </tr>
        </thead>
        <tbody>
          <% PurchasePosition.where("cargo_lists.id = #{@cargo_list.id} AND commodity_code_id = #{grouped_commodity_code.first.id}").includes(:pallets => :cargo_list).each do |purchase_position| %>
            <% calculated_total_amount += purchase_position.amount %>
            <tr>
              <td class="align-center"><%= purchase_position.purchase_order.baan_id %></td>
              <td class="align-center"><%= purchase_position.article_number %></td>
              <td class="align-center"><%= purchase_position.article %></td>
              <td class="align-center"><%= purchase_position.product_line %></td>
              <td class="align-center"><%= purchase_position.quantity %></td>
              <td class="align-center"><%= purchase_position.amount %></td>
              <td class="align-center"><%= purchase_position.weight_total %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td><%= request.uri %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center bold"><%= calculated_total_amount %></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
<% end %>