<div class="page-header">
  <h1>Versand Listen</h1>
</div>

<% if @cargo_lists.present? %>
  <section class="filter_box">
    <header class="filter_box_header">
      <h4 class="floatLeft">&nbsp;</h4>
      <a data-show-tooltip="true" data-role="tab" data-warp="goto" class="header_link" href="/cargo_lists?data_role=tab" title="Gehe zum Versand...">
        <span class="header_pack _14"></span>
      </a>
      <a data-show-tooltip="true" data-role="tab" data-warp="filter" class="header_link" href="/cargo_lists?data_role=tab" title="Zeige Filter-Optionen">
        <span class="header_pack _283"></span>
      </a>
      <% if permitted_to? :new, :cargo_lists %>
        <a data-show-tooltip="true" class="header_link" href="<%= new_cargo_list_path() %>" title="Erfasse neuen Versand">
          <span class="header_pack _74"></span>
        </a>
      <% end %>
    </header>
    <section class="filter_box_content clearfix">
      <table>
        <thead>
          <tr>
            <th>Versand NR</th>
            <th>Anz. Paletten</th>
            <th>Für</th>
            <th>Land</th>
            <th>Abholtermin von</th>
            <th>Abholtermin bis</th>
          </tr>
        </thead>
        <tbody>
          <% @cargo_lists.each do |cargo_list| %>
            <tr>
              <td><%= link_to(cargo_list.id, cargo_list_path(cargo_list)) %></td>
              <td><%= cargo_list.pallets.count %></td>
              <td><%= cargo_list.referee.present? ? cargo_list.referee : "Bitte Name eintragen!"%></td>
              <td><%= cargo_list.country %></td>
              <td><%= cargo_list.pick_up_time_earliest.to_formatted_s(:long) %></td>
              <td><%= cargo_list.pick_up_time_latest.to_formatted_s(:long) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
  
  <div data-type="modal" style="display: none;">
    <div class="box-padder">
      <% form_for :search, @search, :html => {"data-tab" => "filter", :method => :get} do |f| %>
        <div class="form-element">
          <%= f.label :delivered_equals, "Versendet" %>
          <%= f.select(:delivered_equals, { 'Ja'=>true, 'Nein'=>false }, :include_blank => true) %>
        </div>
        
        <div class="form-element">
          <%= f.label :country_equals, "Land" %>
          <%= f.select(:country_equals, { 'Deutschland' => 'DE', 'Schweiz' => 'CH' }, :include_blank => true) %>
        </div>

        <div class="form-element">
          <%= f.submit "Filtern", :disable_with => 'Filterning...', :name => nil, :class => "blueSubmit" %>
        </div>
      <% end %>
  
      <% form_tag(search_for_cargo_lists_path, {:class => "form", "data-tab" => "goto", :method => :get}) do %>
        <div class="form-element">
          <%= label_tag(:cargo_list_id, "Versand NR") %>
          <%= text_field_tag(:cargo_list_id) %>
        </div>
        <div class="form-element">
          <%= submit_tag "Gehe zu Versand", :disable_with => 'Filterning...', :name => nil, :class => "blueSubmit" %>
        </div>
      <% end %>
    </div>
  </div>
  
<% else %>
  <div id="flash_notice">Keine Liefer Papiere gefunden...</div>
<% end %>