<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/cargo_lists"><i class="icon-folder-open"></i> Versand</a>
  </li>
</ul>

<div class="page-header">
  <h1>Versand</h1>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="/cargo_lists/new"><i class="icon-plus-sign"></i> Versand erfassen</a>
  </div>
  <div class="btn-group">
    <a class="btn" href="#"><i class="icon-search"></i> Filter</a>
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-screenshot"></i> Gehe zu</a></li>
      <!-- dropdown menu links -->
    </ul>
  </div>
</div>

<% if @cargo_lists.present? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Versand NR</th>
        <th>Anz. Paletten</th>
        <th>Für</th>
        <th>Land</th>
        <th>Abholtermin von</th>
        <th>Abholtermin bis</th>
      </tr>
    </thead>
    <tbody>
      <% @cargo_lists.each do |cargo_list| %>
        <tr>
          <td><%= link_to(cargo_list.id, cargo_list_path(cargo_list)) %></td>
          <td><%= cargo_list.pallets.count %></td>
          <td><%= cargo_list.referee.present? ? cargo_list.referee : "Bitte Name eintragen!"%></td>
          <td><%= cargo_list.country %></td>
          <td><%= cargo_list.pick_up_time_earliest.to_formatted_s(:long) %></td>
          <td><%= cargo_list.pick_up_time_latest.to_formatted_s(:long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div data-type="modal" style="display: none;">
    <div class="box-padder">
      <%= form_for @search, :html => {"data-tab" => "filter", :method => :get} do |f| %>
        <div class="form-element">
          <%= f.label :delivered_equals, "Versendet" %>
          <%= f.select(:delivered_equals, { 'Ja'=>true, 'Nein'=>false }, :include_blank => true) %>
        </div>
        
        <div class="form-element">
          <%= f.label :country_equals, "Land" %>
          <%= f.select(:country_equals, { 'Deutschland' => 'DE', 'Schweiz' => 'CH' }, :include_blank => true) %>
        </div>

        <div class="form-element">
          <%= f.submit "Filtern", :disable_with => 'Filterning...', :name => nil, :class => "blueSubmit" %>
        </div>
      <% end %>
  
      <%= form_tag(search_for_cargo_lists_path, {:class => "form", "data-tab" => "goto", :method => :get}) do %>
        <div class="form-element">
          <%= label_tag(:cargo_list_id, "Versand NR") %>
          <%= text_field_tag(:cargo_list_id) %>
        </div>
        <div class="form-element">
          <%= submit_tag "Gehe zu Versand", :disable_with => 'Filterning...', :name => nil, :class => "blueSubmit" %>
        </div>
      <% end %>
    </div>
  </div>
  
<% else %>
  <div id="flash_notice">Keine Liefer Papiere gefunden...</div>
<% end %>