<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li>
      <%= link_to("Versandlisten", cargo_lists_path) %> <span class="divider">/</span>
    </li>
    <li class="active">New</li>
  </ul>
<% end %>


<div class="page-header">
  <h1>Versand</h1>
</div>

<div class="row-fluid">
  <div class="span11 offset1">
    <%= simple_form_for(@cargo_list, :html => {:class => "form-horizontal"}) do |f| %>
      <fieldset>
        <legend>New</legend>
        <%= f.input :pick_up_time_earliest, :label => "Früheste Abholzeit" %>
        <%= f.input :pick_up_time_latest, :label => "Späteste Abholzeit" %>
        <hr />
        <%= f.input :referee, :label => "Kunden Name" %>
        <hr />
        <%= f.input :country, :as => :country, :label => "Versand nach", priority: [ "Germany", "Switzerland" ] %>
        <hr />
        <%= f.input :shipper_id, :label => "Spediteur", :collection => Shipper.all, :label_method => :name, :value_method => :id, :include_blank => true %>
      </fieldset>
      <div class="form-actions">
        <%= link_to("Abbrechen", cargo_lists_path, :class => "btn") %>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
