<ul class="breadcrumb">
  <li><a href="<%= cargo_lists_path %>">Versandlisten</a> <span class="divider">/</span></li>
  <li class="active">Neuer Versand</li>
</ul>
      
<div class="page-header">
  <h1>Neuen Versand erfassen</h1>
</div>

<section class="filter_box">
  <header class="filter_box_header"><h4>Versand</h4></header>
  <section class="filter_box_content clearfix">
    <div class="box-padder">
      <%= form_for(@cargo_list) do |f| %>

        <div class="form-element">
          <%= f.label :pick_up_time_earliest, "Früheste Abholzeit" %>
          <%= f.datetime_select :pick_up_time_earliest %>
        </div>
      
        <div class="form-element">
          <%= f.label :pick_up_time_latest, "Späteste Abholzeit" %>
          <%= f.datetime_select :pick_up_time_latest %>
        </div>
        
        <hr />
        
        <div class="form-element">
          <%= f.label :referee, "Kunden Name" %>
          <%= f.text_field :referee, :placeholder => "Pflichtfeld!" %>
        </div>
        
        <hr />
        
        <div class="form-element">
          <%= f.label :country, "Versand nach" %>
          <%= f.select(:country, { 'Deutschland'=>"DE", 'Schweiz'=>"CH" }) %>
          <small style="display: block; font-size: 10px; margin-top: 5px;">Achtung - Einzelne Funktionen sind Länderspezifisch</small>
        </div>
        
        <hr />
        
        <div class="form-element">
          <%= f.label :shipper_id, "Spediteur" %>
          <%= f.collection_select(:shipper_id, Shipper.all, :id, :name, {:include_blank => true}) %>
        </div>
        
        <hr />
        
        <div class="form-actions">
          <%= link_to("Abbrechen", :back, :class => "btn btn-warning") %>
          <button type="submit" class="btn btn-primary">Papiere erfassen</button>
        </div>

      <% end %>
    </div>
  </section>
</section>

