<h1>Versand ID: <%= @cargo_list.id %></h1>
<h1><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></h1>

<% @purchase_positions_group_consignee_full.each do |p_p_consignee_full| %>
  <% consignee_full_pallets_additional_space = 0.to_f %>
  
  <% Pallet.where(:cargo_lists => {:id => @cargo_list.id}, :purchase_positions => {:consignee_full => p_p_consignee_full.consignee_full}).includes(:cargo_list, :purchase_positions).each do |pallet| %>
    <% consignee_full_pallets_additional_space += (pallet.additional_space.present? ? pallet.additional_space : pallet.additional_space.to_f) %>
  <% end %>
  <section class="filter_box">
    <header class="filter_box_header"><h4><%= p_p_consignee_full.consignee_full %></h4></header>
    <section class="filter_box_content clearfix">      
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>VK-Auftrag</th>
            <th>Anzahl</th>
            <th>Inhalt</th>
            <th>Brutto Kg</th>
          </tr>
        </thead>
        <tbody>
          <% PurchaseOrder.where(:cargo_lists => {:id => @cargo_list.id}, :purchase_positions => {:consignee_full => p_p_consignee_full.consignee_full}).group("purchase_orders.baan_id").includes(:purchase_positions, :pallets => :cargo_list).each do |purchase_order| %>
            <% pallets = Pallet.where(:purchase_orders => {:id => purchase_order.id}, :cargo_lists => {:id => @cargo_list.id}).includes(:purchase_orders, :cargo_list) %>
            <tr>
              <td class="align-center"><%= purchase_order.baan_id %></td>
              <td class="align-center"><%= "Paletten #{pallets.sum("pallet_types.count_as", :include => :pallet_type).to_i} / Coli #{pallets.where("pallet_types.description = 'coli'").includes(:pallet_type).count}" %></td>
              <td></td>
              <td class="align-center"><%= pallets.sum("purchase_positions.weight_total", :include => :purchase_positions) + (pallets.sum("pallet_types.count_as", :include => :pallet_type).to_i * 20) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <ul class="ul_summary">
        <li class="summary clearfix"><p class="floatLeft bold title">Paletten-Plätze:</p><p class="floatLeft"><%= (consignee_full_pallets_additional_space) + Pallet.where("cargo_lists.id = #{@cargo_list.id} and purchase_positions.consignee_full = '#{p_p_consignee_full.consignee_full}' and pallet_types.description != 'coli'").includes(:cargo_list, :purchase_positions, :pallet_type).count %></p></li>
      </ul>
      
    </section>
  </section>
<% end %>