<h1>Versand ID: <%= @cargo_list.id %></h1>
<h1><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></h1>

<% @purchase_positions_group_consignee_full.each do |p_p_consignee_full| %>
  <% consignee_full_pallets_additional_space = 0.to_f %>
  <% pallets_count_as_total = 0.to_f %>
  
  <% Pallet.where(:cargo_lists => {:id => @cargo_list.id}, :purchase_positions => {:consignee_full => p_p_consignee_full.consignee_full}).includes(:cargo_list, :purchase_positions).each do |pallet| %>
    <% consignee_full_pallets_additional_space += (pallet.additional_space.present? ? pallet.additional_space : pallet.additional_space.to_f) %>
    <% pallets_count_as_total += pallet.pallet_type.count_as %>
  <% end %>
  <section class="filter_box">
    <header class="filter_box_header"><h4><%= p_p_consignee_full.consignee_full %></h4></header>
    <section class="filter_box_content clearfix">      
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>Palette / Coli</th>
            <th>Mischpalette?</th>
            <th>Paletten Typ</th>
            <th>Brutto Kg</th>
            <th>Mehrplatz</th>
          </tr>
        </thead>
        <tbody>
          <% Pallet.order("pallets.id asc").where(:cargo_lists => {:id => @cargo_list.id}, :purchase_positions => {:consignee_full => p_p_consignee_full.consignee_full}).includes(:purchase_positions, :cargo_list).each do |pallet| %>
            <tr>
              <td class="align-center"><%= pallet.pallet_type.description == "coli" ? "Coli #{pallet.id}" : "Palette #{pallet.id}" %></td>
              <td class="align-center"><%= pallet.mixed? ? "Ja" : nil %></td>
              <td class="align-center">"<%= pallet.pallet_type.description %>" (zählen als: <%= pallet.pallet_type.count_as %>)</td>
              <td class="align-center"><%= pallet.purchase_positions.sum("weight_total") + (pallet.pallet_type.description == "coli" ? 0 : 20) %></td>
              <td class="align-center"><%= pallet.additional_space %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <ul class="ul_summary m_top_5px">
        <li class="summary clearfix">
          <p class="floatLeft bold title">Paletten-Plätze:</p>
          <p class="floatLeft">
            <%= (consignee_full_pallets_additional_space) + pallets_count_as_total %>
          </p>
        </li>
      </ul>
      
      
    </section>
  </section>
<% end %>