<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><a href="<%= cargo_lists_path %>">Versand Listen</a> <span class="divider">/</span></li>
    <li class="active"><%= @cargo_list.id %></li>
  </ul>
<% end %>

<div class="modal hide fade" id="remote">
</div>

<div class="page-header">
  <h1 class="pull-left">Versand NR#<%= @cargo_list.id %></h1>
  <%= render 'cargo_lists/partials/show/btn_toolbar' %>
  <div class="clear"></div>
</div>

<% if @cargo_list.delivered %>
  <div class="alert alert-success">Versand <%= @cargo_list.id %> wurde bereits versendet. Klicke <%= link_to("hier", cargo_lists_path()) %> um zurückzukehren.</div>
<% end %>

<dl class="dl-horizontal">
  <dt>Versand:</dt>
  <dd><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %> / <%= @cargo_list.country %></dd>
  <dt>Empfänger</dt>
  <dd><%= @cargo_list.referee %></dd>
  <dt>Anzahl Paletten:</dt>
  <dd><%= @pallets.count.to_i %></dd>
  <dt>Mehrplatz</dt>
  <dd><%= @cargo_list.additional_space %></dd>
  <dt>Spediteur</dt>
  <dd><%= @cargo_list.shipper.try(:name) %></dd>
</dl>

<blockquote>
  <p>
    Angefügte Paletten / Coli
  </p>
</blockquote>

<%= form_tag(remove_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
  <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th id="column_1">NR</th>
        <th id="column_2">Positionen</th>
        <th id="column_3">Mehrplatz</th>
        <th id="column_4">Tour</th>
        <th id="column_5">PLZ Gebiet</th>
        <th id="column_6">Empfänger</th>
        <th id="column_7"></th>
      </tr>
    </thead>
    <tbody>
      <% @pallets.each do |pallet| %>
        <tr>
          <td>
            <%= link_to("#{pallet.pallet_type.read_as} #{pallet.id}", api_purchase_positions_path(:format => :xml, :q => {:pallets_id_eq => pallet.id}), "data-toggle" => "modal-remote", "data-target" => "#remote") %>
          </td>
          <td><%= pallet.purchase_position_counter %></td>
          <td><%= pallet.additional_space %></td>
          <td><%= pallet.shipping_route.name %></td>
          <td><%= pallet.purchase_positions.first.zip_location.title %></td>
          <td><%= pallet.shipping_address.consignee_full %></td>
          <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% if @pallets.present? %>
          <% 6.times do %>
            <td></td>
          <% end %>
          <td style="text-align:center;"><%= submit_tag "Entfernen", :name => "submit", :class => "btn btn-mini btn-danger", :disable_with => "Entferne..." %></td>
        <% else %>
          <td colspan="7">Keine Zuweisungen.</td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>

<blockquote>
  <p>
    Verfügbare Paletten / Coli
  </p>
</blockquote>

<%= form_tag(assign_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
  <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th id="column_1">NR</th>
        <th id="column_2">Positionen</th>
        <th id="column_3">Mehrplatz</th>
        <th id="column_4">Tour</th>
        <th id="column_5">PLZ Gebiet</th>
        <th id="column_6">Empfänger</th>
        <th id="column_7"></th>
      </tr>
    </thead>
    <tbody>
      <% @available_pallets.each do |pallet| %>
        <tr>
          <td>
            <%= link_to("#{pallet.pallet_type.read_as} #{pallet.id}", api_purchase_positions_path(:format => :xml, :q => {:pallets_id_eq => pallet.id}), "data-toggle" => "modal-remote", "data-target" => "#remote") %>
          </td>
          <td><%= pallet.purchase_position_counter %></td>
          <td><%= pallet.additional_space %></td>
          <td><%= pallet.shipping_route.name %></td>
          <td><%= pallet.purchase_positions.first.zip_location.title %></td>
          <td><%= pallet.shipping_address.consignee_full %></td>
          <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% if @available_pallets.present? %>
          <% 6.times do %>
            <td></td>
          <% end %>
          <td style="text-align:center;"><%= submit_tag "Hinzufügen", :name => "submit", :class => "btn btn-mini btn-primary", :disable_with => "Füge hinzu..." %></td>
        <% else %>
          <td colspan="7">Keine Paletten verfügbar.</td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>

<script type="text/javascript" charset="utf-8">
  var column_1 = 0;
  var column_2 = 0;
  var column_3 = 0;
  var column_4 = 0;
  var column_5 = 0;
  var column_6 = 0;
  var column_7 = 0;
  
  $('th#column_1').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_1) {column_1 = this_width};
  });
  $('th#column_2').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_2) {column_2 = this_width};
  });
  $('th#column_3').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_3) {column_3 = this_width};
  });
  $('th#column_4').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_4) {column_4 = this_width};
  });
  $('th#column_5').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_5) {column_5 = this_width};
  });
  $('th#column_6').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_6) {column_6 = this_width};
  });
  $('th#column_7').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_7) {column_7 = this_width};
  });
  
  $('th#column_1').css('width', column_1 + 'px');
  $('th#column_2').css('width', column_2 + 'px');
  $('th#column_3').css('width', column_3 + 'px');
  $('th#column_4').css('width', column_4 + 'px');
  $('th#column_5').css('width', column_5 + 'px');
  $('th#column_6').css('width', column_6 + 'px');
  $('th#column_7').css('width', column_7 + 'px');
</script>
