<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><a href="<%= cargo_lists_path %>">Versand Listen</a> <span class="divider">/</span></li>
    <li class="active"><%= @cargo_list.id %></li>
    <li class="pull-right">
      <% if permitted_to? :edit, :cargo_lists %>
        <div class="btn-group">
          <%= link_to(edit_cargo_list_path(@cargo_list), :class => "btn btn-mini") do %>
            <i class="icon-cogs"></i> Versand bearbeiten
          <% end %>
        </div>
        <div class="btn-group">
          <%= link_to(recalculate_cargo_list_path(@cargo_list), :class => "btn btn-mini", :method => :put) do %>
            <i class="icon-retweet"></i> Versand neu berechnen
          <% end %>
        </div>

      <% end %>
    </li>
  </ul>
<% end %>

<div class="modal hide fade" id="remote">
</div>

<% if @cargo_list.delivered %>
  <div class="alert alert-success">Versand <%= @cargo_list.id %> wurde bereits versendet. Klicke <%= link_to("hier", cargo_lists_path()) %> um zurückzukehren.</div>
<% end %>

<div class="row-fluid">
  <div class="span2">
    <%= render 'cargo_lists/partials/show/btn_toolbar' %>
  </div>
<div class="span10">
<div class="media">
  <%= image_tag("https://chart.googleapis.com/chart?cht=qr&chs=154x154&chl=#{cargo_list_url(@cargo_list)}", :class => "pull-left") %>
  <div class="media-body">
    <div class="page-header">
      <h1>
        <%=t '.title', :default => CargoList.model_name.human %>
        <small>
          <%= @cargo_list.id %>
        </small>
      </h1>
      <span class="label label-warning">Spediteur: <strong><%= @cargo_list.shipper.try(:name) %></strong></span>
      <span class="label label-info">Empfänger: <strong><%= @cargo_list.referee %></strong></span>
      <span class="label label-info"><strong><%= @cargo_list.country %></strong></span>
      <span class="label label-info"><strong><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></strong></span>
    </div>
  </div>
</div>

<blockquote>
  <p>
    Angefügte Paletten / Coli
  </p>
</blockquote>

<%= form_tag(remove_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
  <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th id="column_1">NR</th>
        <th id="column_2">Positionen</th>
        <th id="column_3">Mehrplatz</th>
        <th id="column_4">Tour</th>
        <th id="column_5">Gebiet</th>
        <th id="column_6" colspan="2">Empfänger</th>
      </tr>
    </thead>
    <tbody>
      <% @pallets.each do |pallet| %>
        <tr>
          <td>
            <%= link_to("#{pallet.pallet_type.read_as} #{pallet.id}", pallets_path(:q => {:id_eq => pallet.id, :delivered_eq => nil, :level_3_eq => nil})) %>
          </td>
          <td><%= pallet.line_items_quantity %></td>
          <td><%= pallet.additional_space %></td>
          <td><%= pallet.shipping_route.name %></td>
          <td><%= pallet.purchase_positions.first.zip_location.title %></td>
          <td><%= pallet.shipping_address.consignee_full %></td>
          <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% if @pallets.present? %>
          <td colspan="6">
            <ul class="inline">
              <li>Anzahl Paletten: <strong><%= @pallets.count.to_i %></strong></li>
              <li>Mehrplatz: <strong><%= @cargo_list.additional_space %></strong></li>
            </ul>
          </td>
          <td><%= submit_tag "Entfernen", :name => "submit", :class => "btn btn-block", :disable_with => "Entferne..." %></td>
        <% else %>
          <td colspan="7">Keine Zuweisungen.</td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>

<blockquote>
  <p>
    Verfügbare Paletten / Coli
  </p>
</blockquote>

<%= form_tag(assign_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
  <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th id="column_1">NR</th>
        <th id="column_2">Positionen</th>
        <th id="column_3">Mehrplatz</th>
        <th id="column_4">Tour</th>
        <th id="column_5">Gebiet</th>
        <th id="column_6" colspan="2">Empfänger</th>
      </tr>
    </thead>
    <tbody>
      <% @available_pallets.each do |pallet| %>
        <tr>
          <td>
            <%= link_to("#{pallet.pallet_type.read_as} #{pallet.id}", pallets_path(:q => {:id_eq => pallet.id, :delivered_eq => nil, :level_3_eq => nil})) %>
          </td>
          <td><%= pallet.line_items_quantity %></td>
          <td><%= pallet.additional_space %></td>
          <td><%= pallet.shipping_route.name %></td>
          <td><%= pallet.purchase_positions.first.zip_location.title %></td>
          <td><%= pallet.shipping_address.consignee_full %></td>
          <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% if @available_pallets.present? %>
          <td colspan="6"></td>
          <td><%= submit_tag "Hinzufügen", :name => "submit", :class => "btn btn-block", :disable_with => "Füge hinzu..." %></td>
        <% else %>
          <td colspan="7">Keine Paletten verfügbar.</td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>
</div>
</div>
