<div data-type="modal" style="display:none;">
</div>

<ul class="breadcrumb">
  <li><a href="<%= cargo_lists_path %>">Versand Listen</a> <span class="divider">/</span></li>
  <li class="active"><%= @cargo_list.id %></li>
</ul>

<div class="page-header">
  <h1 class="pull-left">Versand NR#<%= @cargo_list.id %></h1>
  <%= render 'cargo_lists/partials/show/btn_toolbar' %>
  <div class="clear"></div>
</div>

<% if @cargo_list.delivered %>
  <div id="flash_notice">Versand NR<%= @cargo_list.id %> wurde bereits versendet. Klicke <%= link_to("hier", cargo_lists_path()) %> um zurückzukehren.</div>
<% end %>

<dl class="dl-horizontal">
  <dt>Versand:</dt>
  <dd><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %> / <%= @cargo_list.country %></dd>
  <dt>Empfänger</dt>
  <dd><%= @cargo_list.referee %></dd>
  <dt>Anzahl Paletten:</dt>
  <dd><%= @pallets.count.to_i %></dd>
  <dt>Mehrplatz</dt>
  <dd><%= @cargo_list.additional_space %></dd>
</dl>

<section class="filter_box">
  <header class="filter_box_header"><h4>Angefügte Paletten / Coli</h4></header>
  <section class="filter_box_content clearfix">
      <%= form_tag(remove_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
        <table class="table no-margin">
          <thead>
            <tr>
              <th>NR</th>
              <th>Positionen</th>
              <th>Mehrplatz</th>
              <th>Tour</th>
              <th>PLZ Gebiet</th>
              <th>Empfänger</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @pallets.each do |pallet| %>
              <tr>
                <td id="column_1">
                  <%= link_to("#{pallet.pallet_type.description.capitalize} #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") %>
                </td>
                <td id="column_2"><%= pallet.purchase_position_counter %></td>
                <td id="column_3"><%= pallet.additional_space %></td>
                <td id="column_4"><%= pallet.shipping_route.name %></td>
                <td id="column_5"><%= pallet.purchase_positions.first.zip_location.title %></td>
                <td id="column_6"><%= pallet.shipping_address.consignee_full %></td>
                <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <% 6.times do %>
                <td></td>
              <% end %>
              <td style="text-align:center;"><%= submit_tag "Entfernen", :name => "submit", :class => "btn btn-small btn-danger", :disable_with => "Entferne..." %></td>
            </tr>
          </tfoot>
        </table>
      <% end %>
  </section>
</section>


<section class="filter_box">
  <header class="filter_box_header"><h4>Verfügbare Paletten / Coli</h4></header>
  <section class="filter_box_content clearfix">
    <%= form_tag(assign_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
      <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
      <table class="table no-margin">
        <thead>
          <tr>
            <th>NR</th>
            <th>Positionen</th>
            <th>Mehrplatz</th>
            <th>Tour</th>
            <th>PLZ Gebiet</th>
            <th>Empfänger</th>
          </tr>
        </thead>
        <tbody>
          <% @available_pallets.each do |pallet| %>
            <tr>
              <td id="column_1">
                <%= link_to("#{pallet.pallet_type.description.capitalize} #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") %>
              </td>
              <td id="column_2"><%= pallet.purchase_position_counter %></td>
              <td id="column_3"><%= pallet.additional_space %></td>
              <td id="column_4"><%= pallet.shipping_route.name %></td>
              <td id="column_5"><%= pallet.purchase_positions.first.zip_location.title %></td>
              <td id="column_6"><%= pallet.shipping_address.consignee_full %></td>
              <td style="text-align:center;"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% 6.times do %>
              <td></td>
            <% end %>
            <td style="text-align:center;"><%= submit_tag "Hinzufügen", :name => "submit", :class => "btn btn-small btn-primary", :disable_with => "Füge hinzu..." %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </section>
</section>

<script type="text/javascript" charset="utf-8">
  var column_1 = 0;
  var column_2 = 0;
  var column_3 = 0;
  var column_4 = 0;
  var column_5 = 0;
  var column_6 = 0;
  
  $('td#column_1').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_1) {column_1 = this_width};
  });
  $('td#column_2').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_2) {column_2 = this_width};
  });
  $('td#column_3').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_3) {column_3 = this_width};
  });
  $('td#column_4').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_4) {column_4 = this_width};
  });
  $('td#column_5').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_5) {column_5 = this_width};
  });
  $('td#column_6').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_6) {column_6 = this_width};
  });
  
  $('td#column_1').css('width', column_1 + 'px');
  $('td#column_2').css('width', column_2 + 'px');
  $('td#column_3').css('width', column_3 + 'px');
  $('td#column_4').css('width', column_4 + 'px');
  $('td#column_5').css('width', column_5 + 'px');
  $('td#column_6').css('width', column_6 + 'px');
</script>
