<div data-type="modal" style="display:none;">
</div>

<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Versand NR#<%= @cargo_list.id %></h1>
  <% if permitted_to? :edit, :cargo_lists %>
    <%= link_to("Edit", edit_cargo_list_path(@cargo_list), :class => "floatRight no_text_decoration blue_link_button m-r_5px", "data-role" => "edit_remote") %>
  <% end %>
  <%= link_to("Rüstschein", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "report"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
  <% unless @cargo_list.country == 'CH' %>
    <%= link_to("Zollpapiere", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "invoice"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
    <%= link_to("Lebert", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "report_lebert"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
    <%= link_to("Kontrolle", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "report_controll"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
  <% else %>
    <%= link_to("Lieferschein", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "delivery_receipt"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
    <%= link_to("Abholschein", cargo_list_path(@cargo_list, :format => :pdf, :pdf_type => "pick_up_receipt"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") if @assigned_pallets.present? %>
  <% end %>
</header>
<% if @cargo_list.delivered == true %>
  <div id="flash_notice">Versand NR<%= @cargo_list.id %> wurde bereits versendet. Klicke <%= link_to("hier", cargo_lists_path()) %> um zurückzukehren.</div>
<% end %>

<% if @assigned_pallets.present? %>
  
  <ul class="ul_summary">
    <li class="summary clearfix"><p class="floatLeft bold title">Versand:</p><p class="floatLeft"><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %> / <%= @cargo_list.country %></p></li>
    <li class="summary clearfix"><p class="floatLeft bold title">Empfänger:</p><p class="floatLeft"><%= @cargo_list.referee %></p></li>
    <li class="summary clearfix"><p class="floatLeft bold title">Anz. Paletten:</p><p class="floatLeft"><%= @pallets_count.to_i %></p></li>
    <li class="summary clearfix"><p class="floatLeft bold title">Mehrplatz:</p><p class="floatLeft"><%= @cargo_list.additional_space %></p></li>
  </ul>
  
  <section class="filter_box">
    <header class="filter_box_header green_background"><h4>Angefügte Paletten / Coli</h4></header>
    <section class="filter_box_content clearfix">
      <% form_tag(remove_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
        <table>
          <thead>
            <tr>
              <th>NR</th>
              <th>Positionen</th>
              <th>Mehrplatz</th>
              <th>Tour</th>
              <th>PLZ Gebiet</th>
              <th>Empfänger</th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% @assigned_pallets.each do |pallet| %>
              <tr>
                <td class="<%= pallet.mixed? ? "mixed" : "not_mixed" %>"><%= pallet.pallet_type.description == "coli" ? link_to("Coli #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") : link_to("Palette #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") %></td>
                <td><%= pallet.purchase_positions.count %></td>
                <td><%= pallet.additional_space %></td>
                <td><%= pallet.purchase_orders.where("shipping_route_id IS NOT NULL").present? ? pallet.purchase_orders.where("shipping_route_id IS NOT NULL").first.shipping_route.name : nil %></td>
                <td><%= pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").present? ? pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").first.zip_location_name : nil %></td>
                <td><%= pallet.purchase_positions.where("consignee_full IS NOT NULL").present? ? pallet.purchase_positions.where("consignee_full IS NOT NULL").first.consignee_full : nil %></td>
                <% if permitted_to? :remove_pallets, :cargo_lists %>
                  <td class="align-center"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
                <% else %>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :remove_pallets, :cargo_lists %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"><%= submit_tag "Entfernen", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% else %>
  <div id="flash_notice">Es sind noch keine Paletten zugewiesen worden.</div>
<% end %>


<% if @pallets.present? %>
  <section class="filter_box">
    <header class="filter_box_header orange_background"><h4>Verfügbare Paletten / Coli</h4></header>
    <section class="filter_box_content clearfix">
      <% form_tag(assign_pallets_cargo_lists_path, {:class => "form", "data-submit_handler" => "true", :method => :post}) do %>
        <%= hidden_field_tag("cargo_id", @cargo_list.id) %>
        <table>
          <thead>
            <tr>
              <th>NR</th>
              <th>Positionen</th>
              <th>Mehrplatz</th>
              <th>Tour</th>
              <th>PLZ Gebiet</th>
              <th>Empfänger</th>
              <th>Auswahl</th>
            </tr>
          </thead>
          <tbody>
            <% @pallets.each do |pallet| %>
              <% if pallet.purchase_positions.present? %>
                <tr>
                  <td class="<%= pallet.mixed? ? "mixed" : "not_mixed" %>">
                    <%= pallet.pallet_type.description == "coli" ? link_to("Coli #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") : link_to("Palette #{pallet.id}", ajax_show_pallet_path(pallet), "data-role" => "table_remote") %>
                  </td>
                  <td><%= pallet.purchase_positions.count %></td>
                  <td><%= pallet.additional_space %></td>
                  <td><%= pallet.purchase_orders.first.shipping_route.present? ? pallet.purchase_orders.first.shipping_route.name : nil %></td>
                  <td><%= pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").present? ? pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").first.zip_location_name : nil %></td>
                  <td><%= pallet.purchase_positions.first.consignee_full.present? ? pallet.purchase_positions.first.consignee_full : pallet.purchase_orders.first.customer.company %></td>
                  <% if permitted_to? :assign_pallets, :cargo_lists %>
                    <td class="align-center"><%= check_box_tag "pallet_ids[]", pallet.id %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <% if permitted_to? :assign_pallets, :cargo_lists %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="align-center"><%= submit_tag "Hinzufügen", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %></td>
              </tr>
            <% end %>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
  
<% else %>
  <div id="flash_notice">Es wurden bereits alle Palleten bearbeitet!</div>
<% end %>
