<% f.object.article_position.present? ? nil : f.object.build_article_position %>
<% f.object.comments.present? ? nil : f.object.comments.build %>

<fieldset>
  <legend>Artikel Code <small><a href="#">entfernen</a></small></legend>
<%= f.simple_fields_for :article_position do |builder| %>
  <%= render 'article_position_fields', :f => builder %>
<% end %>

<%= f.input :purchase_positions_collection, :as => :string, :label => "Betroffene VK-Pos", :hint => "Trage die Betroffenen VK-Positionen ein. Alle möglichen VK-Pos sind in der Tabelle oben ersichtlich." %>
<%= f.input :order_number, :hint => "Bestellnummer" %>
<%= f.input :confirmed_date, :as => :string, :input_html => { :class => 'date_picker' } %>

  <fieldset>
    <legend>Artikel Code Kommentar</legend>
    <%= f.simple_fields_for :comments do |builder| %>
      <%= builder.input :content, :as => :string, :label => false, :hint => "Hast du Informationen zu diesem Artikel? Trage diese hier ein." %>
    <% end %>
  </fieldset>
</fieldset>