<%= simple_form_for(@time_shifting.first) do |f| %>

  <%= f.error_notification %>
  
  <div id="flash_notice">
    <p>Der VK Auftrag wurde bereits fixiert und kann nicht mehr geändert werden.</p>
  </div>
  
  <%= f.input :purchase_order_id, :disabled => true, :label => "VK-Auftrag", :hint => "VK-Auftrag wurde fixiert." %>
  
  <hr />
  
    <div data-step="1">
      <div id="flash_notice">
        <p>Hilfestellung zu Simple...</p>
      </div>
      
      <%= f.input :simple, :as => :select, :hint => "Wird der komplette Auftrag verschoben?", :include_blank => false %>
      
      <hr />
      
      <div id="flash_notice">
        <p>Hilfestellung zu VK-Positionen</p>
      </div>
      
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>Versand</th>
            <th>Tour</th>
            <th>Position</th>
            <th>Artikel</th>
            <th>stk.</th>
            <th>Bezeichnung</th>
            <th>Produktlinie</th>
            <th>Artikelgruppe</th>
            <th>Lager Ort</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= f.simple_fields_for :purchase_position_time_shifting_assignments do |builder| %>
            <%= render 'purchase_position_time_shifting_assignment_fields', :f => builder %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <% 8.times do %>
              <td></td>
            <% end %>
          </tr>
        </tfoot>
      </table>
      <hr />
    </div>
    
    <div data-step="2">
      
      <div id="flash_notice">
        <p>Hilfestellung zu Verschiebungsgrund...</p>
      </div>
      
      <%= f.simple_fields_for :shifting_reason_time_shifting_assignments do |builder| %>
        <%= render 'shifting_reason_time_shifting_assignment_fields', :f => builder %>
      <% end %>
      
      <%= link_to_add_fields "Weiterer Grund", f, :shifting_reason_time_shifting_assignments %>
      <hr />
    </div>
    <div data-step="3">
      <div id="flash_notice">
        <p>Hilfestellung zu Artikel Positionen...</p>
      </div>
      
      <%= f.simple_fields_for :article_positions do |builder| %>
        <%= render 'article_position_fields', :f => builder %>
      <% end %>
      
      <%= link_to_add_fields "Weitere Artikel Position", f, :article_positions %>
      <hr />
      
      <div id="flash_notice">
        <p>Hilfestellung zu Abteilung...</p>
      </div>
      
      <%= f.input :department_id, :collection => @departments, :hint => "Wähle die nächste betroffene Abteilung" %>
      
      <hr />
    </div>
    <div data-step="4">
      <div id="flash_notice">
        <p>Hilfestellung zu Kommentar...</p>
      </div>
      
      <%= f.simple_fields_for :comments do |comment_form| %>
        <%= comment_form.input :content, :as => :text, :label => "Bemerkung", :hint => "Nachricht am nächste betroffene Abteilung?", :input_html => { :rows => 4 } %>
      <% end %>
    </div>
  
  <hr />
  
  <div class="form-element clearfix">
    <%= link_to("Zurück", :back, :class => "linkSubmit greySubmit floatLeft") %>
    <%= f.submit(nil, :class => "blueSubmit floatLeft") %>
  </div>

<% end %>

<script type="text/javascript" charset="utf-8">
  $("form").on("click", ".add_fields", function(event){
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
</script>