<%= simple_form_for(@time_shifting.first, :html => {:class => "form-horizontal"}) do |f| %>

  <div class="tab-content">
    <%= content_tag :div, :id => "tab1", :class => ["tab-pane", params[:tab].present? ? nil : "active"].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_1', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab2", :class => ["tab-pane", params[:tab] == "tab2" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_2', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab3", :class => ["tab-pane", params[:tab] == "tab3" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_3', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab4", :class => ["tab-pane", params[:tab] == "tab4" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_4', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab5", :class => ["tab-pane", params[:tab] == "tab5" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_5', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab6", :class => ["tab-pane", params[:tab] == "tab6" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_6', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab7", :class => ["tab-pane", params[:tab] == "tab7" ? "active" : nil].compact.join(" ") do %>
      <%= render 'time_shiftings/tabs/edit/tab_7', :f => f %>
    <% end %>
  </div>
  
<% end %>
<script type="text/javascript" charset="utf-8">
  $("form").on("click", ".add_fields", function(event){
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
</script>
