<%= simple_form_for(@time_shifting, :url => @purchase_order.present? ? time_shiftings_path : new_time_shifting_path, :html => {:method => @purchase_order.present? ? :post : :get}) do |f| %>

  <%= f.error_notification %>
  <div data-step="1">
    <fieldset>
      <legend>Schritt 1 <small>VK-Auftrag</small></legend>
      <% if @purchase_order.blank? %>
        <%= f.input :purchase_order_id, :label => "VK-Auftrag", :hint => "Info: Gültige VK-Nummer eingeben." %>
      <% else %>
        <%= f.input :purchase_order_id, :as => :hidden, :label => false %>
        <%= f.input :purchase_order_id, :disabled => true, :label => "VK-Auftrag", :hint => "VK-Auftrag wurde fixiert." %>
        <%= link_to("VK-Auftrag entfernen", new_time_shifting_path, :confirm => "Achtung! Alle bisherigen Eingaben werden gelöscht!") %>
      <% end %>
      <hr />
      <div class="form-element clearfix">
        <%= link_to("Abbrechen", time_shiftings_path, :class => "linkSubmit greySubmit floatLeft") %>
        <% if @time_shifting.purchase_order_id.blank? %>
          <%= f.submit("VK-Anheften", :class => "blueSubmit floatLeft") %>
        <% else %>
          <%= link_to("Weiter", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" =>"div[data-step='2']") %>
        <% end %>
      </div>
    </fieldset>
  </div>
  
  <% unless @purchase_order.blank? %>
    <div data-step="2" style="display: none;">
      <fieldset>
        <legend>Schritt 2 <small>Betroffene VK-Positionen</small></legend>
        <table class="margin_bottom_big" style="">
          <thead>
            <tr>
              <th>Versand</th>
              <th>Tour</th>
              <th>Position</th>
              <th>Artikel</th>
              <th>stk.</th>
              <th>Bezeichnung</th>
              <th>Produktlinie</th>
              <th>Artikelgruppe</th>
              <th>Lager Ort</th>
              <th>Pos. Anhängen?</th>
            </tr>
          </thead>
          <tbody>
            <%= f.simple_fields_for :purchase_position_time_shifting_assignments do |p_p_t_s_a_form| %>
              <tr>
                <td><%= p_p_t_s_a_form.object.purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                <td><%= @purchase_order.first.shipping_route.name %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.baan_id %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.article_number %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.quantity %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.article %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.product_line %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.commodity_code.content %></td>
                <td><%= p_p_t_s_a_form.object.purchase_position.storage_location %></td>
                <td>
                  <%= p_p_t_s_a_form.input(:purchase_position_id, :as => :hidden, :label => false) %>
                  <%= p_p_t_s_a_form.input :considered, :as => :select, :label => false, :include_blank => false, :selected => false %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <% 10.times do %>
                <td></td>
              <% end %>
            </tr>
          </tfoot>
        </table>
        <hr />
        <div class="form-element clearfix">
          <%= link_to("Zurück", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='1']") %>
          <%= link_to("Weiter", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='3']") %>
        </div>
      </fieldset>
    </div>
    
    <div data-step="3" style="display: none;">
      <fieldset>
        <legend>Schritt 3 <small>Grund erfassen</small></legend>
        <%= f.simple_fields_for :shifting_reason_time_shifting_assignments do |builder| %>
          <%= render 'shifting_reason_time_shifting_assignment_fields', :f => builder %>
        <% end %>
      
        <%= link_to_add_fields "Weiterer Grund", f, :shifting_reason_time_shifting_assignments %>
        <hr />
        <div class="form-element clearfix">
          <%= link_to("Zurück", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='2']") %>
          <%= link_to("Weiter", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='4']") %>
        </div>
      </fieldset>
    </div>

    <div data-step="4" style="display: none;">
      <fieldset>
        <legend>Schritt 4 <small>Artikel Codes hinzufügen</small></legend>
        <table class="margin_bottom_big" style="">
          <thead>
            <tr>
              <th>Versand</th>
              <th>Tour</th>
              <th>Position</th>
              <th>Artikel</th>
              <th>stk.</th>
              <th>Bezeichnung</th>
              <th>Produktlinie</th>
              <th>Artikelgruppe</th>
              <th>Lager Ort</th>
            </tr>
          </thead>
          <tbody>
            <% @purchase_positions.each do |purchase_position| %>
              <tr>
                <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
                <td><%= @purchase_order.first.shipping_route.name %></td>
                <td><%= purchase_position.baan_id %></td>
                <td><%= purchase_position.article_number %></td>
                <td><%= purchase_position.quantity %></td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.product_line %></td>
                <td><%= purchase_position.commodity_code.content %></td>
                <td><%= purchase_position.storage_location %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <% 9.times do %>
                <td></td>
              <% end %>
            </tr>
          </tfoot>
        </table>
        
        <%= f.simple_fields_for :article_position_time_shifting_assignments do |builder| %>
          <%= render 'article_position_time_shifting_assignment_fields', :f => builder %>
        <% end %>
      
        <%= link_to_add_fields "Artikel Code hinzufügen", f, :article_position_time_shifting_assignments %>
        <hr />
        <div class="form-element clearfix">
          <%= link_to("Zurück", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='3']") %>
          <%= link_to("Weiter", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='5']") %>
        </div>
        
      </fieldset>
    </div>
    
    <div data-step="5" style="display: none;">
      <fieldset>
        <legend>Schritt 5 <small>Abteilung wählen</small></legend>
        <%= f.input :department_id, :collection => @departments, :hint => "Wähle die nächste betroffene Abteilung" %>
        <fieldset>
          <legend>Bemerkung</legend>
          <%= f.simple_fields_for :comments do |comment_form| %>
            <%= comment_form.input :content, :as => :text, :label => false, :hint => "Nachricht am nächste betroffene Abteilung?", :input_html => { :rows => 4 } %>
          <% end %>
        </fieldset>
        <hr />
        <div class="form-element clearfix">
          <%= link_to("Zurück", "#", :class => "linkSubmit greySubmit floatLeft", "data-show" => "div[data-step='4']") %>
          <%= f.submit(nil, :class => "blueSubmit floatLeft") %>
        </div>
        
      </fieldset>
    </div>
  <% end %>
  
<% end %>

<script type="text/javascript" charset="utf-8">
  $("form").on("click", ".add_fields", function(event){
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
/*  
  $("select#time_shifting_simple option").click(function() {
    if (this.value == 'true') {
      $("table option").removeAttr('selected');
      $('table option[value="true"]').prop('selected', true)
    };
  });
  
  $('table option[value="false"]').click(function() {
    $("select#time_shifting_simple").removeAttr('selected');
    $('select#time_shifting_simple option[value="false"]').prop('selected', true)
  });
  
  $('table option[value="true"]').click(function() {
    if ($('table option[value="true"]').not(":selected").size() == 0) {
      $("select#time_shifting_simple").removeAttr('selected');
      $('select#time_shifting_simple option[value="true"]').prop('selected', true)
    };
  });
  
  $("div[data-step='2'] select option").bind("click", function() {
    if (this.value == '') {
      $("div[data-step='3'], div[data-step='4']").fadeOut();
    } else {
      $("div[data-step='3']").fadeIn();
    };
  });
  
  $("#time_shifting_department_id option").bind("click", function() {
    if (this.value == '') {
      $("div[data-step='4']").fadeOut();
    } else {
      $("div[data-step='4']").fadeIn();
    };
  });
*/  
</script>