
<%= simple_form_for(@purchase_order.present? ? [@purchase_order.first, @time_shifting] : @time_shifting, :url => @purchase_order.present? ? time_shiftings_path : new_time_shifting_path, :html => {:method => @purchase_order.present? ? :post : :get}) do |f| %>

  <div style="padding-bottom: 9px; border-bottom: 1px solid #ddd;" class="tab-content">
    <div id="tab1" class="tab-pane active">
      <%= render 'time_shiftings/tabs/new/tab_1', :f => f %>
    </div>
  
    <% unless @purchase_order.blank? %>
      <div id="tab2" class="tab-pane">
        <%= render 'time_shiftings/tabs/new/tab_2', :f => f %>
      </div>
      <div id="tab3" class="tab-pane">
        <%= render 'time_shiftings/tabs/new/tab_3', :f => f %>
      </div>
      <div id="tab4" class="tab-pane">
        <%= render 'time_shiftings/tabs/new/tab_4', :f => f %>
      </div>
      <div id="tab5" class="tab-pane">
        <%= render 'time_shiftings/tabs/new/tab_5', :f => f %>
      </div>
    <% end %>
  </div>
  
<% end %>
<script type="text/javascript" charset="utf-8">
  $("form").on("click", ".add_fields", function(event){
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
</script>