<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><a href="<%= time_shiftings_path %>">Terminverschiebungen</a> <span class="divider">/</span></li>
    <li><a href="<%= time_shifting_path(@time_shifting.first.id) %>"><%= @time_shifting.first.id %></a> <span class="divider">/</span></li>
    <li class="active">Edit</li>
  </ul>
<% end %>

<div class="page-header">
  <h1>Bearbeite Terminverschiebung</h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <%= content_tag :li, :class => params[:tab].present? ? nil : "active" do %>
      <a data-toggle="tab" href="#tab1">VK-Auftrag</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab2" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab2">VK-Pos</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab3" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab3">Beschaffung</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab4" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab4">Abteilung</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab5" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab5">Bemerkung</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab6" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab6">Verschiebung</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab7" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab7">Abschliessen</a>
    <% end %>
  </ul>
  <%= render 'edit_form' %>
</div>

<script type="text/javascript" charset="utf-8">
  $('a[data-toggle="tab-changer"]').click(function(event) {
    event.preventDefault();
    $('.nav-tabs a[href="' + $(this).attr("href") + '"]').tab("show")
  });
</script>
