<%= render("time_shiftings/partials/index/modal/filter") %>

<ul class="breadcrumb">
  <li class="active">Terminverschiebungen</li>
</ul>

<div class="page-header">
    <h1 class="pull-left">Terminverschiebungen</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= new_time_shifting_path() %>"><i class="icon-plus-sign icon-white"></i> Neue Terminverschiebung</a>
      </div>
      
      <div class="btn-group">
        <a href="<%= url_for(params.merge(:format => :pdf)) %>" class="btn btn-primary"><i class="icon-print icon-white"></i> Drucke PDF</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="<%= url_for(params.merge(:format => :pdf, :pdf_type => "article_positions")) %>"><i class="icon-print"></i> Drucke PDF Beschaffung</a>
          </li>
        </ul>
      </div>
      
      
      <div class="btn-group">
        <a data-toggle="modal" href="#filter" class="btn"><i class="icon-filter"></i> Filter</a>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<ul class="nav nav-pills pull-right">
  <li class="<%= active_department?(@requested_department_id, nil) %>"><a href="<%= filter_url(params, :department_id_equals => "") %>">Alle Abteilungen</a></li>
  <% @departments.each do |department| %>
		<li class="<%= active_department?(@requested_department_id, department.id) %>" ><a href="<%= filter_url(params, :department_id_equals => department.id) %>"><%= department.title %></a></li>
  <% end %>
</ul>
<div class="clear"></div>
  
<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">&nbsp;</h4>
  </header>
  <section class="filter_box_content clearfix">
    
    <table class="margin_bottom_big">
      <thead>
        <tr>
          <th>#</th>
          <th>VK-Auftrag</th>
          <th>Teillieferung?</th>
          <th>LT Neu</th>
          <th>anz. VK-Pos</th>
          <th>Grund</th>
          <th>Abteilung</th>
          <th>Editiert am</th>
        </tr>
      </thead>
      <tbody>
        <% @time_shiftings.each do |time_shifting| %>
          <tr>
            <td><%= link_to(time_shifting.id, time_shifting) %></td>
            <td><%= time_shifting.purchase_order_id %></td>
            <td><%= time_shifting.simple %></td>
            <td><%= time_shifting.lt_date.to_formatted_s(:swiss_date) if time_shifting.lt_date.present? %></td>
            <td><%= time_shifting.purchase_positions.where("purchase_position_time_shifting_assignments.considered" => true).includes(:purchase_position_time_shifting_assignments).count %></td>
            <td><%= time_shifting.shifting_reasons.collect(&:title) %></td>
            <td><%= "#{time_shifting.departments.last.try(:title)} ...seit #{distance_of_time_in_words(time_shifting.department_time_shifting_assignments.last.created_at, Time.now)}" %></td>
            <td><%= time_shifting.updated_at.to_formatted_s(:swiss_date) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    
  </section>
</section>