<fieldset class="floatLeft">
  <h3 style="font-size: 15px;">Terminverschiebungen</h3>
</fieldset>
<fieldset class="floatRight" style="font-size: 8px;">
  <%= "gedruckt von #{User.current.full_name} / #{Time.now.to_formatted_s(:swiss_date)}" %>
</fieldset>
<%= content_tag(:div, nil, :class => "clear") %>
<hr />

<% @time_shiftings.each do |time_shifting| %>
  <section class="filter_box">
    <header class="filter_box_header">
      <h4 class="floatLeft"><%= "Terminverschiebung #{time_shifting.id} - VK-Auftrag #{time_shifting.purchase_order_id}" %></h4>
    </header>
    <section class="filter_box_content clearfix">
      <table>
        <thead>
          <tr>
            <th>Versand</th>
            <th>Tour</th>
            <th>VK-Pos</th>
            <th>Artikel</th>
            <th>stk.</th>
            <th>Bezeichnung</th>
            <th>Produktlinie</th>
            <th>Lager Ort</th>
          </tr>
        </thead>
        <tbody>
          <% time_shifting.purchase_positions.where("purchase_position_time_shifting_assignments.considered" => true).includes(:purchase_position_time_shifting_assignments).each do |purchase_position| %>
            <tr>
              <td id="column_1"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
              <td id="column_2"><%= purchase_position.purchase_order.shipping_route.name %></td>
              <td id="column_3"><%= purchase_position.baan_id %></td>
              <td id="column_4"><%= purchase_position.article_number %></td>
              <td id="column_5"><%= purchase_position.quantity %></td>
              <td id="column_6"><%= purchase_position.article %></td>
              <td id="column_7"><%= purchase_position.product_line %></td>
              <td id="column_8"><%= purchase_position.storage_location %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </section>
<% end %>
<script type="text/javascript" charset="utf-8">
  var column_1 = 0;
  var column_2 = 0;
  var column_3 = 0;
  var column_4 = 0;
  var column_5 = 0;
  var column_6 = 0;
  var column_7 = 0;
  var column_8 = 0;
  
  $('td#column_1').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_1) {column_1 = this_width};
  });
  $('td#column_2').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_2) {column_2 = this_width};
  });
  $('td#column_3').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_3) {column_3 = this_width};
  });
  $('td#column_4').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_4) {column_4 = this_width};
  });
  $('td#column_5').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_5) {column_5 = this_width};
  });
  $('td#column_6').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_6) {column_6 = this_width};
  });
  $('td#column_7').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_7) {column_7 = this_width};
  });
  $('td#column_8').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_8) {column_8 = this_width};
  });
  
  $('td#column_1').css('width', column_1 + 'px');
  $('td#column_2').css('width', column_2 + 'px');
  $('td#column_3').css('width', column_3 + 'px');
  $('td#column_4').css('width', column_4 + 'px');
  $('td#column_5').css('width', column_5 + 'px');
  $('td#column_6').css('width', column_6 + 'px');
  $('td#column_7').css('width', column_7 + 'px');
  $('td#column_8').css('width', column_8 + 'px');
</script>