<ul class="breadcrumb">
  <li class="active">Terminverschiebungen</li>
</ul>

<div class="page-header">
    <h1 class="pull-left">Terminverschiebungen</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= new_time_shifting_path() %>"><i class="icon-plus-sign icon-white"></i> Neue Terminverschiebung</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= time_shiftings_path(:format => :pdf) %>"><i class="icon-print icon-white"></i> PDF</a>
      </div>
    </div>
    <div class="clear"></div>
</div>
  
<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">Index</h4>
    <a data-show-tooltip="true" data-role="tab" data-warp="filter" class="header_link" href="/time_shiftings?data_role=search" title="Zeige Filter-Optionen">
      <span class="header_pack _283"></span>
    </a>
  </header>
  <section class="filter_box_content clearfix">
    
    <table class="margin_bottom_big">
      <thead>
        <tr>
          <th>#</th>
          <th>VK-Auftrag</th>
          <th>Komplett / Teil-Verschiebung</th>
          <th>anz. VK-Pos</th>
          <th>Grund</th>
          <th>Abteilung</th>
          <th>Editiert am</th>
        </tr>
      </thead>
      <tbody>
        <% @time_shiftings.each do |time_shifting| %>
          <tr>
            <td><%= link_to(time_shifting.id, time_shifting) %></td>
            <td><%= time_shifting.purchase_order_id %></td>
            <td><%= time_shifting.simple %></td>
            <td><%= time_shifting.purchase_positions.where("purchase_position_time_shifting_assignments.considered" => true).includes(:purchase_position_time_shifting_assignments).count %></td>
            <td><%= time_shifting.shifting_reasons.collect(&:title) %></td>
            <td><%= "#{time_shifting.departments.last.try(:title)} ...seit #{distance_of_time_in_words(time_shifting.department_time_shifting_assignments.last.created_at, Time.now)}" %></td>
            <td><%= time_shifting.updated_at.to_formatted_s(:swiss_date) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    
  </section>
</section>

<div data-type="modal" style="display: none;">
  <%= form_for @search, :html => {"data-tab" => "filter", :method => :get} do |f| %>
    <div class="floatLeft">
      <%= f.label(:closed_equals, "Archiv?") %>
      <%= f.select(:closed_equals, { 'Nein' => false, 'Ja' => true }, {}, {:class => "span3"}) %>
    </div>
    <div class="floatLeft">
      <%= f.label(:id_equals, "#ID") %>
      <%= f.text_field(:id_equals, :class => "span3") %>
    </div>
    
    <div class="clear"></div>
    
    <hr />
    
    <div class="floatLeft">
      <%= f.label(:purchase_order_id_equals, "VK-Auftrag") %>
      <%= f.text_field(:purchase_order_id_equals, :class => "span3") %>
    </div>
    <div class="floatLeft">
      <%= f.label(:purchase_positions_baan_id_equals, "VK-Pos") %>
      <%= f.text_field(:purchase_positions_baan_id_equals, :class => "span3") %>
    </div>
    <div class="clear"></div>
    
    <hr />
    
    <div class="form-element">
      <%= f.label(:department_id_equals, "Abteilung") %>
      <%= f.collection_select(:department_id_equals, Department.order("title ASC"), :id, :title, {:include_blank => true}, {:class => "span6"}) %>
    </div>
    
    <hr />
    
    <div class="form-element clearfix">
      <%= f.submit("Filtern", :class => "blueSubmit floatLeft") %>
    </div>
    
  <% end %>
</div>