<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><a href="<%= time_shiftings_path %>">Terminverschiebungen</a> <span class="divider">/</span></li>
    <li class="active"><%= @time_shifting.first.id %></li>
  </ul>
<% end %>

<div class="page-header">
    <h1 class="pull-left">Termin Verschiebung NR#<%= @time_shifting.first.id %></h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= time_shifting_path(@time_shifting.first, :format => :pdf) %>"><i class="icon-print icon-white"></i> PDF</a>
      </div>
      
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= edit_time_shifting_path(@time_shifting.first) %>"><i class="icon-pencil icon-white"></i> Edit</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-warning" href="<%= edit_time_shifting_path(@time_shifting.first, :tab => "close_time_shifting") %>"><i class="icon-off icon-white"></i> Abschliessen</a>
      </div>
    </div>
    <div class="clear"></div>
</div>

<div class="row">
  <div class="tabbable tabs-left" style="padding: 8px 0;">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" data-toggle="tab">Allgemein</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">Abteilungen</a>
      </li>
      <li>
        <a href="#tab3" data-toggle="tab">Beschaffung <span class="badge badge-info"><%= @article_positions.count %></span></a>
      </li>
      <li>
        <a href="#tab4" data-toggle="tab">VK-Positionen <span class="badge badge-info"><%= @purchase_positions.count %></span></a>
      </li>
      <li>
        <a href="#tab5" data-toggle="tab">Nachrichten <span class="badge badge-info"><%= @comments.count %></span></a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render 'time_shiftings/tabs/show/tab_1' %>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render 'time_shiftings/tabs/show/tab_2' %>
      </div>
      <div class="tab-pane" id="tab3">
        <%= render 'time_shiftings/tabs/show/tab_3' %>
      </div>
      <div class="tab-pane" id="tab4">
        <%= render 'time_shiftings/tabs/show/tab_4' %>
      </div>
      <div class="tab-pane" id="tab5">
        <%= render 'time_shiftings/tabs/show/tab_5' %>
      </div>
    </div>
  </div>
</div>
