<% if @delivery_rejection.errors.present? %>

  <div class="error_messages">
    <h2>Fehlerhafte Eingabe</h2>
    <p>Bitte überprüfen Sie die folgenden Fehler:</p>
    <ul>
      <% @delivery_rejection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  
  <hr />
<% end %>

<%= simple_form_for(@delivery_rejection, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="tab-content">
    <%= content_tag :div, :id => "tab1", :class => ["tab-pane", params[:tab].present? ? nil : "active"].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_1', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab2", :class => ["tab-pane", params[:tab] == "tab2" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_2', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab3", :class => ["tab-pane", params[:tab] == "tab3" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_3', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab4", :class => ["tab-pane", params[:tab] == "tab4" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_4', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab5", :class => ["tab-pane", params[:tab] == "tab5" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_5', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab6", :class => ["tab-pane", params[:tab] == "tab6" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_6', :f => f %>
    <% end %>
    
    <%= content_tag :div, :id => "tab7", :class => ["tab-pane", params[:tab] == "tab7" ? "active" : nil].compact.join(" ") do %>
      <%= render 'delivery_rejections/tabs/edit/tab_7', :f => f %>
    <% end %>
  </div>
<% end %>
