<% if @delivery_rejection.errors.present? %>

  <div class="error_messages">
    <h2>Fehlerhafte Eingabe</h2>
    <p>Bitte überprüfen Sie die folgenden Fehler:</p>
    <ul>
      <% @delivery_rejection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  
  <hr />
<% end %>

<%= form_for @delivery_rejection, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Konflikt</legend>
  
    <div class="control-group">
      <%= f.label(:category, @delivery_rejection.new_record? ? "Grund wählen" : "Grund ändern", :class => "control-label") %>
      <div class="controls">
        <%= f.collection_select(:category_id, Category.where(:categorizable_type => "delivery_rejection"), :id, :title, {}, {}) %>
        <p class="help-block"><strong>Info:</strong> Was ist der Grund der Konflikterfassung?</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label(:status, @delivery_rejection.new_record? ? "Status wählen" : "Status ändern", :class => "control-label") %>
      <div class="controls">
        <%= f.collection_select(:status_id, Status.where(:statusable_type => "delivery_rejection"), :id, :title, {}, {}) %>
        <p class="help-block"><strong>Info:</strong> Status wählen / ändern. Wenn möglich immer aktuell halten.</p>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :discount, "Warenwert", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :discount, :class => "text_field" %>
        <p class="help-block"><strong>Info:</strong> Warenwert in % angeben.</p>
      </div>
    </div>
  
    <hr />
  
    <div class="control-group" data-role="appending">
      <%= f.label :f_cargo_list_ids, "Betroffener Versand", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :f_cargo_list_ids, :class => "text_field" %>
        <%= link_to("suche", nil, :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#search_delivery_rejection_id") %>
        <p class="help-block"><strong>Info:</strong> Bitte Versand NR eingeben.</p>
      </div>
    </div>
  
    <hr />
  
    <div class="control-group">
      <%= f.label :customer_company, "Handelspartner", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :customer_company, "data-autocomplete_source" => customers_path(:format => :json), :class => "text_field" %>
        <p class="help-block"><strong>Info:</strong> Welcher Handelspartner ist in diesen Konflikt verwickelt?</p>
      </div>
    </div>
  
    <hr />
  
    <%= f.fields_for :comments do |co_f| %>
      <% unless !co_f.object.new_record? %>
        <div class="control-group">
          <%= co_f.label(:content, "Kommentar", :class => "control-label") %>
          <div class="controls">
            <%= co_f.text_area(:content) %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="form-actions">
      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
      <%= link_to 'Abbrechen', :back, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>