<div data-type="modal" style="display: none;">
  <div class="box-padder">
    <%= form_tag(search_delivery_rejections_path, {:method => :post, :remote => true}) do %>
      <div class="form-element">
        <%= label_tag "purchase_order_baan_id", "VK-Auftrag" %>
        <%= text_field_tag "purchase_order_baan_id" %>
      </div>
      
      <div class="form-element">
        <%= submit_tag "Suche", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>
      </div>
    <% end %>
  </div>
</div>

<div class="page-header">
  <h1>Konflikt / Annahme Verweigerung</h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <%= content_tag :li, :class => params[:tab].present? ? nil : "active" do %>
      <a data-toggle="tab" href="#tab1">Versand</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab2" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab2">Handelspartner</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab3" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab3">Konflikt</a>
    <% end %>
    <%= content_tag :li, :class => params[:tab] == "tab4" ? "active" : nil do %>
      <a data-toggle="tab" href="#tab4">Bemerkung</a>
    <% end %>
  </ul>
  <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
  $('a[data-toggle="tab-changer"]').click(function(event) {
    event.preventDefault();
    $('.nav-tabs a[href="' + $(this).attr("href") + '"]').tab("show")
  });
</script>
