<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/delivery_rejections"><i class="icon-folder-open"></i> Konflikte</a> <span class="divider">/</span>
  </li>
  <li class="active">
    <a href="/delivery_rejections/<%= @delivery_rejection.id %>"><%= @delivery_rejection.id %></a>
  </li>
</ul>

<div class="page-header">
  <h1>Konflikt #<%= @delivery_rejection.id %> / <%= @delivery_rejection.customer.try(:company) %></h1>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <a class="btn" href="<%= edit_delivery_rejection_path(@delivery_rejection) %>"><i class="icon-edit"></i> Edit</a>
  </div>
  <% if @delivery_rejection.pallets.present? %>
    <div class="btn-group">
      <a class="btn" href="<% delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report") %>"><i class="icon-print"></i> Detail Ansicht</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="<%= delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "invoice") %>"><i class="icon-print"></i> Zollpapiere</a></li>
        <li class="divider"></li>
        <li><a href="<%= delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report_external") %>"><i class="icon-print"></i> Lieferschein</a></li>
      </ul>
    </div>
  <% end %>
</div>

<% if @delivery_rejection.pallets.empty? %>
  <div id="flash_notice">Es wurden noch keine Positionen zugewiesen.</div>
<% end %>

<% @delivery_rejection.pallets.each do |pallet| %>
  <%= render "pallets/edit/modal_edit", :pallet => pallet %>
  <section class="filter_box">
      <blockquote>
        <p>Palette Nr <%= pallet.id %> <%= link_to("Edit", "#pallet_#{pallet.id}", :class => "btn btn-mini btn-info", "data-toggle" => "modal") %></p>
      </blockquote>
    <section class="filter_box_content clearfix">
      <%= form_tag(remove_positions_delivery_rejection_path(@delivery_rejection), {:method => :delete}) do %>
        <%= hidden_field_tag(:pallet_id, pallet.id) %>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Artikel</th>
              <th>Menge</th>
              <th>Alter Preis</th>
              <th>Neuer Preis</th>
              <th>Gewicht</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <tr>
                <td><%= purchase_position.baan_id %></td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.quantity %></td>
                <td><%= purchase_position.amount %></td>
                <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.reduced_price %></td>
                <td><%= purchase_position.weight_single %></td>
                <td style="text-align:center;"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:amount) %></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:reduced_price) %></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:weight) %></td>
              <td style="text-align:center;"><%= submit_tag "Entfernen", :name => "submit", :class => "btn btn-small btn-danger", :disabled => false, :disable_with => "Entferne..." %></td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
<% end %>
<hr />

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft"></h4>
  </header>
  <section class="filter_box_content clearfix">
    <%= form_tag(assign_positions_delivery_rejection_path, {:class => "form", :method => :post}) do %>
      <%= hidden_field_tag(:delivery_rejection_id, @delivery_rejection.id) %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Artikel</th>
            <th>Menge</th>
            <th>Preis</th>
            <th>Gewicht</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% PurchasePosition.where(:"cargo_lists.id" => @delivery_rejection.cargo_list_ids).includes(:pallets => :cargo_list).each do |purchase_position| %>
              <% if purchase_position.pallet_purchase_position_assignments.where("pallets.cargo_list_id is NULL").includes(:pallet).sum("pallet_purchase_position_assignments.quantity") < purchase_position.quantity %>
                <tr>
                  <td><%= purchase_position.baan_id %></td>
                  <td><%= purchase_position.article %></td>
                  <td><%= purchase_position.quantity %></td>
                  <td><%= purchase_position.amount %></td>
                  <td><%= purchase_position.weight_single * purchase_position.quantity %></td>
                  <td style="text-align:center;"><%= select_tag "quantity_with_ids[#{purchase_position.id}]", options_from_collection_for_select((1..purchase_position.quantity), :to_i, :to_s, purchase_position.quantity), :style => "margin-bottom:0;", :class => "span1" %></td>
                  <td style="text-align:center;"><%= check_box_tag "purchase_position_ids[]", purchase_position.id, @delivery_rejection.purchase_positions.include?(purchase_position) %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:center;"><%= text_field_tag(:pallet_id, nil, :style => "margin-bottom:0", :class => "span2") %></td>
            <td style="text-align:center;"><%= submit_tag "Hinzufügen", :name => "submit", :class => "btn btn-small btn-primary", :disabled => false, :disable_with => "Füge hinzu..." %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </section>
</section>