<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li><a href="<%= delivery_rejections_path %>">Konflikte</a> <span class="divider">/</span></li>
    <li class="active"><%= @delivery_rejection.id %></a></li>
  </ul>
<% end %>

<div class="modal hide fade" id="remote">
</div>

<div class="page-header">
  <h1 class="pull-left">Konflikt NR#<%= @delivery_rejection.id %></h1>
  <div class="btn-toolbar pull-right">

    <div class="btn-group">
      <a class="btn btn-primary" href="<%= edit_delivery_rejection_path(@delivery_rejection) %>">Edit</a>
    </div>

    <% if @delivery_rejection.pallets.present? %>
      <div class="btn-group">
        <%= link_to("Detail", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report"), :class => "btn btn-primary") %>
        <a data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
          <li>
            <%= link_to "Proforma Alt", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "invoice") %>
          </li>
          <li>
            <%= link_to "Proforma Neu", pdf_reports_path(:pdf_type => 'DeliveryRejectionProformaInvoiceDocument', :args_for_printing => {:delivery_rejection_id => @delivery_rejection.id, :level_3 => 152}), "data-method" => :post %>
          </li>
          <li>
            <%= link_to "Lieferschein", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report_external") %>
          </li>
        </ul>
      </div>
    <% end %>
    
  </div>
  <div class="clear"></div>
</div>

<% if @delivery_rejection.pallets.empty? %>
  <div id="flash_notice">Es wurden noch keine Positionen zugewiesen.</div>
<% end %>

<% @delivery_rejection.pallets.each do |pallet| %>
    <blockquote style="margin-bottom: 0;">
      <p>Palette Nr.: <%= pallet.id %></p>
    </blockquote>
      <%= form_tag(remove_positions_delivery_rejection_path(@delivery_rejection), {:method => :delete, :class => "no-margin"}) do %>
        <%= hidden_field_tag(:pallet_id, pallet.id) %>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Artikel</th>
              <th>Menge</th>
              <th>Alter Preis</th>
              <th>Neuer Preis</th>
              <th>Gewicht</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <tr>
                <td>
                  <%= content_tag :span, :class =>"btn disabled btn-mini btn-#{purchase_position.production_status}#{purchase_position.stock_status}" do %>
                    <%= purchase_position.baan_id %>
                  <% end %>
                </td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.quantity %></td>
                <td><%= purchase_position.amount %></td>
                <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.reduced_price %></td>
                <td><%= purchase_position.weight_single %></td>
                <td></td>
                <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <div class="btn-toolbar" style="margin: 0;">
                  <div class="btn-group">
                    <a href="<%= edit_pallet_path(pallet, :format => :xml) %>" data-toggle="modal-remote" data-target="#remote" class="btn btn-mini">Edit</a>
                    <a data-toggle="dropdown" class="btn btn-mini dropdown-toggle"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="<%= pallet_path(pallet, :format => :pdf) %>">Drucke PDF</a></li>
                    </ul>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:amount) %></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:reduced_price) %></td>
              <td style="font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet_id => pallet.id).sum(:weight) %></td>
              <td></td>
              <td>
                <button data-disable-with="Please wait..." type="submit" class="btn btn-mini btn-warning">
                  Entfernen
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      <% end %>
<% end %>
<hr />

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft"></h4>
  </header>
  <section class="filter_box_content clearfix">
    <% form_tag(assign_positions_delivery_rejection_path, {:class => "form no-margin", :method => :post}) do %>
      <%= hidden_field_tag(:delivery_rejection_id, @delivery_rejection.id) %>
      <table class="table no-margin">
        <thead>
          <tr>
            <th>#</th>
            <th>Artikel</th>
            <th>Menge</th>
            <th>Preis</th>
            <th>Gewicht</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% PurchasePosition.where(:"cargo_lists.id" => @delivery_rejection.cargo_list_ids).includes(:pallets => :cargo_list).each do |purchase_position| %>
              <% if purchase_position.pallet_purchase_position_assignments.where("pallets.cargo_list_id is NULL").includes(:pallet).sum("pallet_purchase_position_assignments.quantity") < purchase_position.quantity %>
                <tr>
                  <td><%= "#{purchase_position.try(:purchase_order).try(:baan_id)}-#{purchase_position.position}" %></td>
                  <td><%= purchase_position.article %></td>
                  <td><%= purchase_position.quantity %></td>
                  <td><%= purchase_position.amount %></td>
                  <td><%= purchase_position.weight_single * purchase_position.quantity %></td>
                  <td class="align-center"><%= select_tag "quantity_with_ids[#{purchase_position.id}]", options_from_collection_for_select((1..purchase_position.quantity), :to_i, :to_s, purchase_position.quantity) %></td>
                  <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id, @delivery_rejection.purchase_positions.include?(purchase_position) %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center"><%= text_field_tag(:pallet_id, nil) %></td>
            <td class="align-center">
              <button data-disable-with="Please wait..." type="submit" class="btn btn-primary">
                Hinzufügen
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </section>
</section>
