<div data-type="modal" style="display:none;">
  
</div>

<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Konflikt #<%= @delivery_rejection.id %> / <%= @delivery_rejection.customer.try(:company) %></h1>
  <%= link_to("Edit", edit_delivery_rejection_path(@delivery_rejection), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
  
  <% if @delivery_rejection.pallets.present? %>
    <%= link_to("Detail Ansicht", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
    <%= link_to("Zollpapiere", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "invoice"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
    <%= link_to("Lieferschein", delivery_rejection_path(@delivery_rejection, :format => :pdf, :pdf_type => "report_external"), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
  <% end %>
</header>

<% if @delivery_rejection.pallets.empty? %>
  <div id="flash_notice">Es wurden noch keine Positionen zugewiesen.</div>
<% end %>

<% @delivery_rejection.pallets.each do |pallet| %>
  <section class="filter_box">
    <header class="filter_box_header">
      <h4 class="floatLeft">Palette Nr <%= pallet.id %></h4>
        <a data-show-tooltip="true" data-role="edit_remote" class="header_link" href="<%= edit_pallet_path(pallet) %>" title="Zeige Palette-Optionen">
          <span class="header_pack _1"></span>
        </a>
    </header>
    <section class="filter_box_content clearfix">
      <%= form_tag(remove_positions_delivery_rejection_path(@delivery_rejection), {:method => :delete}) do %>
        <%= hidden_field_tag(:pallet_id, pallet.id) %>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Artikel</th>
              <th>Menge</th>
              <th>Alter Preis</th>
              <th>Neuer Preis</th>
              <th>Gewicht</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <tr>
                <td><%= purchase_position.baan_id %></td>
                <td><%= purchase_position.article %></td>
                <td><%= purchase_position.quantity %></td>
                <td><%= purchase_position.amount %></td>
                <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet_id => pallet.id).first.reduced_price %></td>
                <td><%= purchase_position.weight_single %></td>
                <td></td>
                <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align:left; font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet => pallet).sum(:amount) %></td>
              <td style="text-align:left; font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet => pallet).sum(:reduced_price) %></td>
              <td style="text-align:left; font-weight: bold;"><%= PalletPurchasePositionAssignment.where(:pallet => pallet).sum(:weight) %></td>
              <td></td>
              <td class="align-center"><%= submit_tag "Entfernen", :class => "form_submit" %></td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    </section>
  </section>
<% end %>
<hr />

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft"></h4>
  </header>
  <section class="filter_box_content clearfix">
    <% form_tag(assign_positions_delivery_rejection_path, {:class => "form", :method => :post}) do %>
      <%= hidden_field_tag(:delivery_rejection_id, @delivery_rejection.id) %>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Artikel</th>
            <th>Menge</th>
            <th>Preis</th>
            <th>Gewicht</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% PurchasePosition.where("cargo_lists.id = ?", @cargo_list.id).includes(:pallets => :cargo_list).each do |purchase_position| %>
              <% if purchase_position.pallet_purchase_position_assignments.where("pallets.cargo_list_id is NULL").includes(:pallet).sum("pallet_purchase_position_assignments.quantity") < purchase_position.quantity %>
                <tr>
                  <td><%= purchase_position.baan_id %></td>
                  <td><%= purchase_position.article %></td>
                  <td><%= purchase_position.quantity %></td>
                  <td><%= purchase_position.amount %></td>
                  <td><%= purchase_position.weight_single * purchase_position.quantity %></td>
                  <td class="align-center"><%= select_tag "quantity_with_ids[#{purchase_position.id}]", options_from_collection_for_select((1..purchase_position.quantity), :to_i, :to_s, purchase_position.quantity) %></td>
                  <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id, @delivery_rejection.purchase_positions.include?(purchase_position) %></td>
                </tr>
              <% end %>
            <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center"><%= text_field_tag(:pallet_id, nil) %></td>
            <td class="align-center"><%= submit_tag "Hinzufügen", :class => "form_submit" %></td>
          </tr>
        </tfoot>
      </table>
    <% end %>
  </section>
</section>