Hallo <%= @user.username %>,

<p>
  Herzlich willkommen! Damit die Registration abgeschlossen werden kann muss noch ein neues Passwort gesetzt werden.<br /><br />
  
  Über folgenden link kann dies gemacht werden:<br /><br />
  
  <%= link_to("#{new_password_reset_url}", new_password_reset_url) %>
</p>
<ul>
  <li>Benutzername: <%= @user.username %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<p>
  Über folgende Adresse kann auf die Applikation zugegriffen werden:<br /><br />
  
  <%= link_to("#{root_url}", root_url) %>
</p>

<p>
  Freundliche Grüsse,<br /><br />
  Das Admin Team
</p>