<%= simple_form_for(@user, :html => {:class => 'form-horizontal no-margin' }) do |f| %>
  
  <%= f.input :forename, :label => @user.new_record? ? "Vornamen angeben" : "Vorname ändern" %>
  <%= f.input :surname, :label => @user.new_record? ? "Nachname angeben" : "Nachname ändern" %>
  
  
  <%= f.input :username, :label => @user.new_record? ? "Benutzername wählen" : "Benutzername ändern" %>
  <%= f.input :email, :label => @user.new_record? ? "Email angeben" : "Email ändern" %>
  
  
  <%= f.input :password, :label => @user.new_record? ? "Passwort wählen" : "Passwort ändern" %>
  <%= f.input :password_confirmation, :label => "Passwort bestätigen" %>

  
  <%= f.association :roles, :as => :check_boxes %>
  
  
  <%= f.association :departments, :as => :check_boxes %>
  
  
  <div class="form-actions no-margin-bottom">
    <a href="/users" class="btn">Abbrechen</a>
    <button class="btn btn-primary" type="submit" data-disable-with="Please wait...">Speichern</button>
  </div>

<% end %>
