<%= simple_form_for(@user) do |f| %>

  <%= f.error_notification %>
  <%= f.input :forename, :label => @user.new_record? ? "Vornamen angeben" : "Vorname ändern" %>
  <%= f.input :surname, :label => @user.new_record? ? "Nachname angeben" : "Nachname ändern" %>
  
  <hr />
  
  <%= f.input :username, :label => @user.new_record? ? "Benutzername wählen" : "Benutzername ändern" %>
  <%= f.input :email, :label => @user.new_record? ? "Email angeben" : "Email ändern" %>
  
  <hr />
  
  <%= f.input :password, :label => @user.new_record? ? "Passwort wählen" : "Passwort ändern" %>
  <%= f.input :password_confirmation, :label => "Passwort bestätigen" %>

  <hr />
  
  <%= f.association :roles, :as => :check_boxes %>
  
  <hr />
  
  <%= f.association :departments, :as => :check_boxes %>
  
  <hr />
  
  <div class="form-element clearfix">
    <%= link_to("Zurück", :back, :class => "linkSubmit greySubmit floatLeft") %>
    <%= f.submit(@user.new_record? ? "Benutzer erstellen" : "Änderungen Sichern", :class => "blueSubmit floatLeft") %>
  </div>

<% end %>
