<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

    <div class="control-group">
      <%= f.label :username, "Benutzer", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :class => 'text_field' %>
        <p class="help-block"><strong>Info:</strong> Mind. 4 Zeichen. Keine Umlaute oder Sonderzeichen.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, "E-mail", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :forename, "Vorname", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :forename, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :surname, "Nachname", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :surname, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <%= f.label :password, "Passwort", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
        <p class="help-block"><strong>Info:</strong> Mind 6 Zeichen. Sonderzeichen sind erlaubt.</p>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "Passwort bestätigen", :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>

    <hr />

    <div class="control-group">
      <label for="optionsCheckboxList" class="control-label">Rollen</label>
      <div class="controls">
        <% for role in Role.all %>
          <label class="checkbox">
            <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
            <%= role.name %>
          </label>
        <% end %>
        <p class="help-block"><strong>Info:</strong> Es können gleichzeitig mehrere Rollen vergeben werden.</p>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
    
  </fieldset>
<% end %>
