<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Users</li>
    <li class="pull-right">
      <% if permitted_to? :new, :users %>
        <div class="btn-group">
          <%= link_to(new_user_path, :class => "btn btn-mini") do %>
            <i class="icon-plus-sign"></i> User erstellen
          <% end %>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>

<div class="page-header">
  <h1>Users</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Benutzer</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Email</th>
      <th>Gruppe/n</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.id, edit_user_path(user)) %></td>
        <td><%= user.username %></td>
        <td><%= user.surname %></td>
        <td><%= user.forename %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.present? ? user.roles.map(&:name).join(", ") : nil %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
