<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Benutzer</li>
  </ul>
<% end %>

<div class="page-header">
    <h1 class="pull-left">Benutzer</h1>
    <div class="btn-toolbar pull-right">
    
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= new_user_path() %>">Neuer Benutzer</a>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Benutzer</th>
      <th>Nachname</th>
      <th>Vorname</th>
      <th>Email</th>
      <th>Gruppe/n</th>
      <th>Login anz.</th>
      <th>Letzter login</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.id, edit_user_path(user)) %></td>
        <td><%= user.username %></td>
        <td><%= user.surname %></td>
        <td><%= user.forename %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.present? ? user.roles.map(&:name).join(", ") : nil %></td>
        <td><%= user.login_count %></td>
        <td><%= user.last_login_at.present? ? user.last_login_at.to_formatted_s(:swiss_date) : nil %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
