<fieldset>
  <legend>Allgemein</fieldset>
  <div class="control-group">
    <%= f.label(:delivered_eq, "Versendet?", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:delivered_eq, { 'Nein' => false, 'Ja' => true }, {}, {}) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label(:picked_up_eq, "Warenentnahme abg?", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:picked_up_eq, { 'Nein' => false, 'Ja' => true }, {}, {}) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label(:cancelled_eq, "Storniert?", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:cancelled_eq, { 'Nein' => false, 'Ja' => true }, {}, {}) %>
    </div>
  </div>
  
</fieldset>
