<ul class="breadcrumb">
  <li>
    <a href="/"><i class="icon-home"></i> Dashboard</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/purchase_orders"><i class="icon-folder-open"></i> VK-Aufträge</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="<%= purchase_order_path(@purchase_position.purchase_order) %>"><%= @purchase_position.purchase_order.baan_id %></a> <span class="divider">-</span>
  </li>
  <li class="active">
    <a href="<%= edit_purchase_position_path(@purchase_position) %>"><%= @purchase_position.position %></a>
  </li>
  
</ul>

<div class="page-header">
  <h1>VK-Position #<%= @purchase_position.baan_id %> <small>Mutation</small></h1>
</div>
<%= render 'form' %>