<h1>VK-Position NR#<%= @purchase_position.position %></h3>

<% form_for @purchase_position do |f| %>
  <div class="form-element">
    <%= f.label :weight_single, "Gewicht Einzeln" %>
    <%= f.text_field :weight_single %>
  </div>
  <div class="form-element">
    <%= f.label :quantity, "Anzahl" %>
    <%= f.text_field :quantity %>
  </div>
  <div class="form-element">
    <%= f.label :gross_price, "Brutto Preis pro St체ck" %>
    <%= f.text_field :gross_price %>
  </div>
  <div class="form-element">
    <%= f.label :value_discount, "Rabatt pro St체ck" %>
    <%= f.text_field :value_discount %>
  </div>
  <div class="form-element">
    <%= f.label :net_price, "Netto Preis pro St체ck" %>
    <%= f.text_field :net_price %>
  </div>
  <div class="form-element">
    <%= f.label :commodity_code, "Zoll Position" %>
    <%= f.collection_select(:commodity_code_id, CommodityCode.all, :id, :content) %>
  </div>
  <div class="form-element">
    <%= f.label :delivered, "Versendet?" %>
    <%= f.select(:delivered, { 'Ja'=>true, 'Nein'=>false }) %>
  </div>
  <div class="form-element clearfix">
    <%= f.submit("Artikel 채ndern", :class => "blueSubmit floatLeft") %>
  </div>
<% end %>