<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft">Spediliste Aktive Filter</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table>
      <thead>
        <tr>
          <th>Tour</th>
          <th>Versandlager</th>
          <th>VK-Art</th>
          <th>Einlagerung abg.</th>
          <th><%= "Eingelagert >= ?%" %></th>
          <th><%= "Eingelagert <= ?%" %></th>
          <th>Produktion abg.</th>
          <th><%= "Produziert >= ?%" %></th>
          <th><%= "Produziert <= ?%" %></th>
          <th>Prio / TS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= params[:q].present? && params[:q][:shipping_route_id_eq].present? ? ShippingRoute.where(:id => params[:q][:shipping_route_id_eq]).first.name : nil %></td>
          <td><%= params[:q][:warehouse_number_equals] if params[:q].present? %></td>
          <td><%= params[:q].present? && params[:q][:category_id_eq].present? ? Category.where(:id => params[:q][:category_id_eq]).first.title : nil %></td>
          <td><%= params[:q][:stock_status_eq] if params[:q].present? %></td>
          <td><%= params[:q][:warehousing_completed_gteq] if params[:q].present? %></td>
          <td><%= params[:q][:warehousing_completed_lteq] if params[:q].present? %></td>
          <td><%= params[:q][:production_status_eq] if params[:q].present? %></td>
          <td><%= params[:q][:manufacturing_completed_gteq] if params[:q].present? %></td>
          <td><%= params[:q][:manufacturing_completed_lteq] if params[:q].present? %></td>
          <td><%= prio_title(params[:q][:priority_level_eq]) if params[:q].present? %></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th style="width: 130px">Von</th>
          <th style="width: 130px">Bis</th>
          <th style="width: 110px">Versendet?</th>
          <th style="width: 110px">Warenentnahme abg?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= params[:q][:delivery_date_gteq] if params[:q].present? %></td>
          <td><%= params[:q][:delivery_date_less_lteq] if params[:q].present? %></td>
          <td><%= params[:q][:delivered_eq] if params[:q].present? %></td>
          <td><%= params[:q][:picked_up_eq] if params[:q].present? %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    
  </section>
</section>

<blockquote>
  <p>
    &#x2605; VK-Pos mit aktiver Terminverschiebung
  </p>
  <p>
    &#x26a0; Verschobene VK-Pos
  </p>
</blockquote>


<% Address.select("DISTINCT `addresses`.*").where("addresses.category_id" => 10).where("purchase_positions.id" => @purchase_positions.collect(&:id)).order("purchase_positions.delivery_date ASC").joins(:purchase_positions).each do |ordered_address| %>
  <section class="filter_box">
    <header class="filter_box_header">
      <h4 class="floatLeft"><%= ordered_address.consignee_full %></h4>
    </header>
    <section class="filter_box_content clearfix">
      <table>
        <thead>
          <tr>
            <th id="column_1">Versand</th>
            <th id="column_2">Tour</th>
            <th id="column_3">VK-Pos</th>
            <th id="column_4">Artikel</th>
            <th id="column_5">stk.</th>
            <th id="column_6">Bezeichnung</th>
            <th id="column_7">Produktlinie</th>
            <th id="column_8">Lager Ort</th>
            <th id="column_9">Palette</th>
          </tr>
        </thead>
        <tbody>
          <% PurchasePosition.includes(:pallets, :shipping_route).where("purchase_positions.id" => @purchase_positions.collect(&:id), "purchase_positions.level_3" => ordered_address.id).each do |purchase_position| %>
            <tr>
              <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date)%></td>
              <td><%= purchase_position.shipping_route.name %></td>
              <td><%= purchase_position.baan_id %></td>
              <td><%= purchase_position.article_number %></td>
              <td><%= purchase_position.quantity %></td>
              <td><%= purchase_position.article %></td>
              <td><%= purchase_position.product_line %></td>
              <td><%= purchase_position.storage_location %></td>
              <td><%= purchase_positions.pallets.collect(&:id).join(", ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </section>
<% end %>

<script type="text/javascript" charset="utf-8">
  var column_1 = 0;
  var column_2 = 0;
  var column_3 = 0;
  var column_4 = 0;
  var column_5 = 0;
  var column_6 = 0;
  var column_7 = 0;
  var column_8 = 0;
  var column_9 = 0;
  
  $('th#column_1').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_1) {column_1 = this_width};
  });
  $('th#column_2').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_2) {column_2 = this_width};
  });
  $('th#column_3').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_3) {column_3 = this_width};
  });
  $('th#column_4').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_4) {column_4 = this_width};
  });
  $('th#column_5').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_5) {column_5 = this_width};
  });
  $('th#column_6').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_6) {column_6 = this_width};
  });
  $('th#column_7').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_7) {column_7 = this_width};
  });
  $('th#column_8').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_8) {column_8 = this_width};
  });
  $('th#column_9').each(function(){
          var this_width = $(this).outerWidth();
          if (this_width > column_9) {column_9 = this_width};
  });
  
  $('th#column_1').css('width', column_1 + 'px');
  $('th#column_2').css('width', column_2 + 'px');
  $('th#column_3').css('width', column_3 + 'px');
  $('th#column_4').css('width', column_4 + 'px');
  $('th#column_5').css('width', column_5 + 'px');
  $('th#column_6').css('width', column_6 + 'px');
  $('th#column_7').css('width', column_7 + 'px');
  $('th#column_8').css('width', column_8 + 'px');
  $('th#column_9').css('width', column_9 + 'px');
</script>
