<div class="modal hide fade" id="edit_purchase_position">
</div>

<%= render("purchase_positions/partials/index/modal/filter") %>

<div data-type="modal" style="display:none;">
  <% form_tag(search_for_purchase_positions_path, {:class => "form", "data-tab" => "goto", :method => :get}) do %>
    <ul class="ul_summary">

      <li class="summary clearfix">
        <p class="floatLeft bold title">VK-Position NR</p>
        <p class="floatLeft"><%= text_field_tag(:purchase_position_id) %></p>
      </li>
      <li class="summary clearfix">
        <p class="floatLeft title">Aktion</p>
        <p class="floatLeft"><%= submit_tag "Go", :disable_with => 'Filterning...', :name => nil %></p>
      </li>
    </ul>
  <% end %>
</div>

<div class="page-header">
    <h1 class="pull-left">VK-Pos Liste</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= url_for(params.merge(:format => :pdf)) %>"><i class="icon-print icon-white"></i> Drucke PDF</a>
      </div>
      
      <div class="btn-group">
        <a data-toggle="modal" href="#filter" class="btn"><i class="icon-filter"></i> Filter</a>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

  <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <button class="btn btn-primary" disabled="disabled">Produziert</button>
            <button class="btn" disabled="disabled"><%= @purchase_positions.where(:production_status => 1, :stock_status => 0).count %></button>
          </div>
          <div class="btn-group">
            <button class="btn btn-success" disabled="disabled">Eingelagert</button>
            <button class="btn" disabled="disabled"><%= @purchase_positions.where(:stock_status => 1, :production_status => 1).count %></button>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger" disabled="disabled">Offen</button>
            <button class="btn" disabled="disabled"><%= @purchase_positions.where(:production_status => 0).count %></button>
          </div>
        </div>

<div class="clear"></div>

<blockquote>
  <p>
    <i class="icon-asterisk"></i> VK-Pos mit aktiver Terminverschiebung
  </p>
  <p>
    <i class="icon-fire"></i> Verschobene VK-Pos
  </p>
  
</blockquote>


<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">Dispoliste</h4>
  </header>
  <section class="filter_box_content clearfix">
    <%#= link_to("Generiere PDF", pdf_reports_path(), :method => :post, :remote => true) %>
    <table class="table">
      <thead>
        <tr>
          <th>Versand</th>
          <th>Tour</th>
          <th>Position</th>
          <th>Artikel</th>
          <th>stk.</th>
          <th>Bezeichnung</th>
          <th>Produktlinie</th>
          <th>Artikelgruppe</th>
          <th>Lager Ort</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_positions.each do |purchase_position| %>
          <tr>
            <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            <td><%= purchase_position.purchase_order.shipping_route.name %></td>
            <% if permitted_to? :edit, :purchase_positions %>
              <td>
                <div class="btn-group">
                  <% if purchase_position.priority_level == 0 %>
                    <span class="btn btn-mini disabled">
                      <i class="icon-asterisk"></i>
                    </span>
                  <% elsif purchase_position.priority_level > 1 %>
                    <span class="btn btn-mini disabled">
                      <i class="icon-fire"></i>
                    </span>
                  <% end %>
                  <%= link_to(purchase_position.baan_id, edit_purchase_position_path(purchase_position, :format => :xml), "data-toggle" => "modal-remote", "data-target" => "#edit_purchase_position", :class => "btn btn-mini btn-#{purchase_position.production_status}#{purchase_position.stock_status}") %>
                </div>
              </td>
            <% else %>
              <td>
                <% if purchase_position.purchase_order.priority_level == 0 %>
                  <i class="icon-asterisk"></i>
                <% elsif purchase_position.priority_level > 1 %>
                  <i class="icon-fire"></i>
                <% end %>
                <span class="label label-<%= purchase_position.production_status %><%= purchase_position.stock_status %>"><%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %></span>
              </td>
            <% end %>
            <td><%= purchase_position.article_number %></td>
            <td><%= purchase_position.quantity %></td>
            <td><%= purchase_position.article %></td>
            <td><%= purchase_position.product_line %></td>
            <td><%= purchase_position.commodity_code.content %></td>
            <td><%= purchase_position.storage_location %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% 8.times do %>
            <td></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </section>
</section>

<%= subscribe_to "/pdf_reports/#{User.current.username}" %>