<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">VK-Positions Liste</h1>
  <%= link_to("Alle", purchase_positions_path(), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
  <%= link_to("Fehlerhaft", purchase_positions_path(:to_be_checked => true), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
</header>

<section class="filter_box">
  <header class="filter_box_header"><h4>Suche nach VK-Position</h4></header>
  <section class="filter_box_content clearfix">
    <% form_tag(search_for_purchase_positions_path, {:class => "form", :method => :get}) do %>
      <ul class="ul_summary">

        <li class="summary clearfix">
          <p class="floatLeft bold title">VK-Position NR</p>
          <p class="floatLeft"><%= text_field_tag(:purchase_position_id) %></p>
        </li>
        <li class="summary clearfix">
          <p class="floatLeft title">Aktion</p>
          <p class="floatLeft"><%= submit_tag "Go", :disable_with => 'Filterning...', :name => nil %></p>
        </li>
      </ul>
    <% end %>
  </section>
</section>

<% @purchase_orders.each do |purchase_order| %>
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft">VK-Auftrag NR#<%= purchase_order.baan_id %></h4>
    </header>
    <section class="filter_box_content clearfix">

      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>Position</th>
            <th>Zoll</th>
            <th>Artikel NR</th>
            <th>Artikel</th>
            <th>Produktlinie</th>
            <th>Menge Total</th>
            <th>Lager Ort</th>
            <th>Versand</th>
          </tr>
        </thead>
        <tbody>
          <% purchase_order.purchase_positions.each do |purchase_position| %>
            <% if (purchase_position.weight_single.to_i == 0) or (purchase_position.amount.to_i == 0) %>
              <tr class="yellow_background">
            <% else %>
              <tr>
            <% end %>
              <% if permitted_to? :edit, :purchase_positions %>
                <td class="align-center"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
              <% else %>
                <td class="align-center"><%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %></td>
              <% end %>
              <td class="align-center"><%= purchase_position.commodity_code.content %></td>
              <td class="align-center"><%= purchase_position.article_number %></td>
              <td class="align-center"><%= purchase_position.article %></td>
              <td class="align-center"><%= purchase_position.product_line %></td>
              <td class="align-center"><%= purchase_position.quantity %></td>
              <td class="align-center"><%= purchase_position.storage_location %></td>
              <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
<% end %>

<div data-type="modal"></div>