<fieldset>
  <legend>Schritt 4 <small>Artikel Codes hinzufügen</small></legend>
  <table class="margin_bottom_big" style="">
    <thead>
      <tr>
        <th>Versand</th>
        <th>Tour</th>
        <th>Position</th>
        <th>Artikel</th>
        <th>stk.</th>
        <th>Bezeichnung</th>
        <th>Produktlinie</th>
        <th>Artikelgruppe</th>
        <th>Lager Ort</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_positions.each do |purchase_position| %>
        <tr>
          <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
          <td><%= @purchase_order.first.shipping_route.name %></td>
          <td><%= purchase_position.baan_id %></td>
          <td><%= purchase_position.article_number %></td>
          <td><%= purchase_position.quantity %></td>
          <td><%= purchase_position.article %></td>
          <td><%= purchase_position.product_line %></td>
          <td><%= purchase_position.commodity_code.content %></td>
          <td><%= purchase_position.storage_location %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <% 9.times do %>
          <td></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
  
  <%= f.simple_fields_for :article_position_time_shifting_assignments do |builder| %>
    <%= render 'article_position_time_shifting_assignment_fields', :f => builder %>
  <% end %>

  <%= link_to_add_fields "Artikel Code hinzufügen", f, :article_position_time_shifting_assignments %>
  <hr />
  <div class="form-actions">
    <a href="<%= time_shiftings_path() %>" class="btn btn-warning">
      <i class="icon-remove-circle icon-white"></i> Abbrechen
    </a>
    <a href="#tab3" data-toggle="tab-changer" class="btn">
      <i class="icon-arrow-left"></i> Zurück
    </a>
    <a href="#tab5" data-toggle="tab-changer" class="btn">
      Weiter <i class="icon-arrow-right"></i>
    </a>
  </div>
  
</fieldset>
