<header id="invoice_header" class="clearfix" style="height:57px;">
  <%#= wicked_pdf_image_tag 'logo.gif', :class => "floatLeft" %>
  <ul class="floatLeft">
    <li class="bold">&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>

  <ul class="floatRight">
    <li class="bold"><%= @delivery_rejection.try(:customer).try(:company) %></li>
    <li><%= @delivery_rejection.addresses.where(:category_id => 4).first.try(:street) %></li>
    <li><%= @delivery_rejection.addresses.where(:category_id => 4).first.try(:postal_code) %> <%= @delivery_rejection.addresses.where(:category_id => 4).first.try(:city) %></li>
    <li><%= @delivery_rejection.addresses.where(:category_id => 4).first.try(:country) %></li>
  </ul>
</header>

<h1 class="logo_title">Proformarechnung</h1>
<section class="clearfix">
  <h1 class="floatLeft">Empfänger - Fraefel AG</h1>
    <h1 class="floatRight">&nbsp;</h1>
</section>
<hr>

<section id="customer_attributes_1" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Kunde</li>
    <li>Transport/Lieferung</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li class="bold">Fraefel AG</li>
    <li class="bold">Lebert</li>
  </ul>
  <ul id="column_3" class="floatLeft">
    <li>U/Z</li>
    <li>U/K</li>
  </ul>
  <ul id="column_4" class="floatLeft">
    <li><%= current_user.full_name %></li>
    <li><%= @delivery_rejection.id %></li>
  </ul>
  <ul id="column_5" class="floatLeft">
    <li class="white_color">.</li>
    <li class="white_color">.</li>
  </ul>
</section>

<section id="customer_attributes_2" class="clearfix">

</section>

<section id="price_table">
  <table>
    <thead>
      <tr>
        <th>Menge Coli</th>
        <th></th>
        <th>Pos. Artikel</th>
        <th class="align-center">Stückzahl Total</th>
        <th class="align-right">Warenwert / Euro</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_positions.group(:commodity_code_id).count.each do |k, v| %>
      <tr>
        <td></td>
        <td></td>
        <td><%= "#{CommodityCode.find(k).code} #{CommodityCode.find(k).content}" %></td>
        <td class="align-center"><%= @purchase_positions.where(:commodity_code_id => k).sum(:quantity) %></td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("delivery_rejections.id = ?", @delivery_rejection.id).where("commodity_codes.id = ?", k).includes(:pallet => [:delivery_rejection], :purchase_position => [:commodity_code]).sum(:reduced_price) %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td class="bold">Total Stücke</td>
        <td class="align-center border-top bold"><%= @purchase_positions.sum(:quantity) %></td>
        <td class="align-right border-top"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>&nbsp;</td>
        <td class="align-right">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>&nbsp;</td>
        <td class="align-right">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>&nbsp;</td>
        <td class="align-right">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td>Total netto kg</td>
        <td><%= PalletPurchasePositionAssignment.where("delivery_rejections.id = ?", @delivery_rejection.id ).includes(:pallet => :delivery_rejection).sum(:weight) %></td>
        <td>&nbsp;</td>
        <td class="align-right">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td class="bold">Total brutto kg</td>
        <td class="bold"><%= PalletPurchasePositionAssignment.where("delivery_rejections.id = ?", @delivery_rejection.id ).includes(:pallet => :delivery_rejection).sum(:weight) + (@delivery_rejection.pallets.sum("count_as", :include => [:pallet_type]) * 20) %></td>
        <td class="bold">Rechnungswert Euro</td>
        <td class="align-right bold"><%= PalletPurchasePositionAssignment.where("delivery_rejections.id = ?", @delivery_rejection.id ).includes(:pallet => :delivery_rejection).sum(:reduced_price) %></td>
      </tr>
    </tbody>
  </table>
</section>


<section id="conditions" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Lieferbedingung</li>
    <li>Versandbedingung</li>
    <li>&nbsp;</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li>ab Werk</li>
    <li>per LKW</li>
    <li>&nbsp;</li>
  </ul>
</section>

<section id="declaration">
  <p>&nbsp;</p>
</section>

<footer id="invoice_footer" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>&nbsp;</li>
    <li>Unterschrift des Ausführers</li>
    <li class="margin_top_5px">___________________________</li>
  </ul>
</footer>

<footer id="invoice_footer_2" class="clearfix">
  <ul id="column_2" class="floatLeft">
    <li>Name + Vorname ( in Druckschrift anführen )</li>
    <li class="margin_top_5px">___________________________</li>
  </ul>
</footer>


<script type="text/javascript" charset="utf-8">
  var pallet_count = $("tr")[1].children[0];
  var pallet_total = $("tr")[2].children[0];
  var coli_count = $("tr")[3].children[0];
  
  var pallet_count_value = $("tr")[1].children[1];
  var pallet_total_value = $("tr")[2].children[1];
  var coli_count_value = $("tr")[3].children[1];
  
  $(pallet_count).html(<%= @pallets.sum('count_as', :include => :pallet_type) %>);
  $(pallet_total).html(<%= @pallets.sum('pallets.additional_space') + @pallets.sum('count_as', :include => :pallet_type) %>);
  $(coli_count).html(<%= @pallets.where("pallet_types.description = 'coli'").includes(:pallet_type).count %>);
  
  $(pallet_count_value).html("Paletten");
  $(pallet_total_value).html("Palettenplätze");
  $(coli_count_value).html("Colli / POST");
</script>