<fieldset class="floatLeft">
  <h3 style="font-size: 15px;">Lieferschein - Konflikt Nummer <%= @delivery_rejection.id %></h3>
</fieldset>
<fieldset class="floatRight" style="font-size: 8px;">
  gedruckt von <%= current_user.username %> <%= Date.today.to_formatted_s(:swiss_date) %>
</fieldset>
<%= content_tag(:div, nil, :class => "clear") %>
<hr style="margin-bottom: 20px;" />
<div class="floatLeft" style="width: 48%; margin-bottom: 20px;">
  <table>
    <tbody>
      <tr class="dark">
        <td style="line-height: 20px; padding: 0 5px;">
          <strong>Grund:</strong>
        </td>
        <td style="line-height: 20px; padding: 0 5px;">
          <%= @delivery_rejection.category.title or nil %>
        </td>
      </tr>
      <tr>
        <td style="line-height: 20px; padding: 0 5px;">
          <strong>Status:</strong>
        </td>
        <td style="line-height: 20px; padding: 0 5px;">
          <%= @delivery_rejection.status.title or nil %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="floatRight" style="width: 48%;">
  <table>
    <tbody>
      <tr class="dark">
        <td style="line-height: 20px; padding: 0 5px;">
          <strong>Versand Nummer:</strong>
        </td>
        <td style="line-height: 20px; padding: 0 5px;">
          <%= CargoList.where("purchase_positions.id = ?", @purchase_positions.first.id).includes(:pallets => :purchase_positions).first.id %>
        </td>
      </tr>
      <tr>
        <td style="line-height: 20px; padding: 0 5px;">
          <strong>Versendet am:</strong>
        </td>
        <td style="line-height: 20px; padding: 0 5px;">
          <%= CargoList.where("purchase_positions.id = ?", @purchase_positions.first.id).includes(:pallets => :purchase_positions).first.pick_up_time_earliest.to_formatted_s(:swiss_date) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= content_tag(:div, nil, :class => "clear") %>

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft">Abholadresse</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Firma:</strong>
          </td>
          <td>
            <%= @delivery_rejection.customer.try(:company) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Referenz:</strong>
          </td>
          <td>
            <%= "#{@referee.forename} #{@referee.surname}" %>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <strong>Strasse:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 4).first.street %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>PLZ:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 4).first.postal_code %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Ort:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 4).first.city %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Telefon:</strong>
          </td>
          <td>
            <%= @referee.phone_number %>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

<section class="filter_box">
  <header class="filter_box_header">
    <h4 class="floatLeft">Lieferadresse</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table>
      <tbody>
        <tr>
          <td>
            <strong>Firma:</strong>
          </td>
          <td>
            <%= @delivery_rejection.customer.try(:company) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Referenz:</strong>
          </td>
          <td>
            <%= "#{@referee.forename} #{@referee.surname}" %>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <strong>Strasse:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 3).first.street %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>PLZ:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 3).first.postal_code %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Ort:</strong>
          </td>
          <td>
            <%= @delivery_rejection.addresses.where(:category_id => 3).first.city %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Telefon:</strong>
          </td>
          <td>
            <%= @referee.phone_number %>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

<hr />

<% @pallets.each do |pallet| %>

  <section class="filter_box">
    <header class="filter_box_header">
      <h4 class="floatLeft">Palette NR <%= pallet.id %></h4>
    </header>
    <section class="filter_box_content clearfix">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Artikel</th>
            <th>Menge</th>
          </tr>
        </thead>
        <tbody>
          <% pallet.purchase_positions.each do |purchase_position| %>
            <tr>
              <td><%= purchase_position.baan_id %></td>
              <td><%= purchase_position.article %></td>
              <td><%= purchase_position.quantity %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
  
<% end %>