<%= simple_form_for @shifting_reason, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.input :title, :label => "Verschiebungsgrund" %>
    <%= f.association :departments, :label => "Abteilung", :as => :check_boxes %>
    
    <div class="form-actions">
      <%= f.submit "Speichern", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', shifting_reasons_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


