<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Verschiebungsgrund</li>
  </ul>
<% end %>

<div class="page-header">
    <h1 class="pull-left">Verschiebungsgrund</h1>
    <div class="btn-toolbar pull-right">
    
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= new_shifting_reason_path() %>">Neuer Verschiebungsgrund</a>
      </div>
      
    </div>
    <div class="clear"></div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Verschiebungsgrund</th>
      <th>anw. durch</th>
      <th>Erstellt durch</th>
      <th>Erstellt am</th>
    </tr>
  </thead>
  <tbody>
    <% @shifting_reasons.each do |shifting_reason| %>
      <tr>
        <td><%= link_to(shifting_reason.id, edit_shifting_reason_path(shifting_reason)) %></td>
        <td><%= shifting_reason.title %></td>
        <td><%= shifting_reason.departments.collect(&:title) %></td>
        <td><%= shifting_reason.created_by %></td>
        <td><%= shifting_reason.created_at.to_formatted_s(:swiss_date) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
