<% form_for @pallet do |f| %>

  <div class="control-group">
    <%= f.label :additional_space, "Zusätzlicher Platz", :class => "control-label" %>
    <div class="controls">
      <%= f.select(:additional_space, {'0.5' => 0.5, '1.0' => 1.0, '1.5' => 1.5, '2.0' => 2.0}, {:include_blank => true}, {}) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :pallet_type, "Paletten Typ", :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select(:pallet_type_id, PalletType.all, :id, :description, {:include_blank => true}, {}) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :delivered, "Versendet?", :class => "control-label" %>
    <div class="controls">
      <%= f.select(:delivered, { 'Ja'=>true, 'Nein'=>false }, {}, {}) %>
    </div>
  </div>
  
  <div class="form-element">
    <%= f.submit "Edit" %>
  </div>
<% end %>
