<h1>Pallet NR# <%= @pallet.id %></h3>
<ul>
  <li class="summary clearfix"><p class="floatLeft bold title">Kunde:</p><p class="floatLeft"><%= link_to(@pallet.purchase_order.customer.company, customer_path(@pallet.purchase_order.customer)) %></p></li>
  <li class="summary clearfix"><p class="floatLeft bold title">Mehrplatz:</p><p class="floatLeft"><%= @pallet.additional_space %> cm</p></li>
  <li class="summary clearfix"><p class="floatLeft bold title">Gewicht:</p><p class="floatLeft"><%= @pallet.purchase_order.weight_total %> kg</p></li>
  <li class="summary clearfix"><p class="floatLeft bold title">Preis:</p><p class="floatLeft"><%= @pallet.purchase_order.amount %> EURO</p></li>
  
  
</ul>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Position</th>
      <th>Gewicht Einzel</th>
      <th>Gewicht Total</th>
      <th>Menge Total</th>
      <th>Betrag</th>
      <th>Delivery</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <% @pallet.purchase_positions.each do |purchase_position| %>
      <tr>
        <td class="align-center"><%= purchase_position.commodity_code.content %></td>
        <td class="align-center"><%= purchase_position.position %></td>
        <td class="align-center"><%= purchase_position.weight_single %></td>
        <td class="align-center"><%= purchase_position.weight_total %></td>
        <td class="align-center"><%= purchase_position.quantity %></td>
        <td class="align-center"><%= number_to_currency purchase_position.amount, :locale => @purchase_order.customer.shipping_addresses.first.country.downcase.to_sym %></td>
        <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:long) %></td>
        <td class="align-center"><%= button_to("Entfernen", remove_positions_pallet_path(@pallet, :purchase_position_ids => purchase_position.id), :method => :delete) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<%= form_for @pallet do |f| %>
  <p class="formLabel">
    <%= f.label :additional_space, "Mehrplatz" %>
  </p>
  <p class="formInput">
    <%= f.text_field :additional_space, :class => "fullWidth", :placeholder => "Mehrplatz in cm eingeben..." %>
  </p>
  
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Position</th>
        <th>Gewicht Einzel</th>
        <th>Gewicht Total</th>
        <th>Menge Total</th>
        <th>Betrag</th>
        <th>Delivery</th>
        <th>Palettieren</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_positions.each do |purchase_position| %>
        <tr>
          <td class="align-center"><%= purchase_position.commodity_code.content %></td>
          <td class="align-center"><%= purchase_position.position %></td>
          <td class="align-center"><%= purchase_position.weight_single %></td>
          <td class="align-center"><%= purchase_position.weight_total %></td>
          <td class="align-center"><%= purchase_position.quantity %></td>
          <td class="align-center"><%= number_to_currency purchase_position.amount, :locale => @purchase_order.customer.shipping_addresses.first.country.downcase.to_sym %></td>
          <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:long) %></td>
          <td class="align-center"><%= check_box_tag "purchase_position_ids[]", purchase_position.id %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= f.submit "Hinzufügen", :disable_with => 'Hinzufügening...' %></td>
      </tr>
    </tfoot>
  </table>
<% end %>