<%- model_class = Pallet -%>

<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li>
      <%= link_to("Paletten", pallets_path) %> <span class="divider">/</span>
    </li>
    <li class="active">
      <%= @pallet.id %> <span class="divider">/</span>
    </li>
    <li class="active">
      Edit
    </li>
  </ul>
<% end %>

<div class="media">
  <%= image_tag("https://chart.googleapis.com/chart?cht=qr&chs=154x154&chl=#{edit_pallet_url(@pallet)}", :class => "pull-left") %>
  <div class="media-body">
    <div class="page-header">
      <h1>
        <%=t '.title', :default => model_class.model_name.human %>
        <small>
          <%= @pallet.id %>
        </small>
      </h1>
    </div>
    <dl class="dl-horizontal">
      <dt>Empfänger:</dt>
      <dd><%= @pallet.shipping_address.consignee_full %></dd>
    </dl>
  </div>
</div>

<hr />

<div class="row-fluid">
  <div class="span11 offset1">
    <%= simple_form_for @pallet, :html => {:class => "form-horizontal"} do |f| %>
      <fieldset>
        <legend>Bearbeiten</legend>
        <div class="control-group">
          <%= f.label :additional_space, "Zusätzlicher Platz", :class => "control-label" %>
          <div class="controls">
            <%= f.select(:additional_space, {'0.5' => 0.5, '1.0' => 1.0, '1.5' => 1.5, '2.0' => 2.0}, {:include_blank => true}, {}) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :pallet_type, "Paletten Typ", :class => "control-label" %>
          <div class="controls">
            <%= f.collection_select(:pallet_type_id, PalletType.all, :id, :description, {:include_blank => true}, {}) %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :delivered, "Versendet?", :class => "control-label" %>
          <div class="controls">
            <%= f.select(:delivered, { 'Ja'=>true, 'Nein'=>false }, {}, {}) %>
          </div>
        </div>
        <div class="form-actions">
          <%= link_to("Abbrechen", purchase_order_path(@pallet.purchase_orders.first), :class => "btn") %>
          <button class="btn btn-primary" type="submit" data-disable-with="Please wait...">Speichern</button>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>