<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Paletten Liste</h1>
  <%= link_to("Print", pallets_path(:format => :pdf), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
</header>

<% @pallets.each do |pallet| %>
  
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft m-r_5px">Palette NR#<%= pallet.id %></h4>
      <% if pallet.cargo_list.present? %>
        <h4 class="floatLeft"><%= " | Versand NR##{pallet.cargo_list.id}" %></h4>
      <% end %>
      <%= link_to("Mehrplatz", edit_pallet_path(pallet), {"data-type" => "modal", :class => "floatRight no_text_decoration link_button"}) %>
      <%= link_to("Print", pallet_path(pallet, :format => :pdf), {:class => "floatRight no_text_decoration link_button m-r_5px"}) %>
    </header>
    <section class="filter_box_content clearfix">
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>VK-Position</th>
            <th>Artikel NR</th>
            <th>Zoll</th>
            <th>Artikel</th>
            <th>Produktlinie</th>
            <th>Menge Total</th>
            <th>Lager Ort</th>
            <th>Versand</th>
          </tr>
        </thead>
        <tbody>
          <% pallet.purchase_positions.each do |purchase_position| %>
            <% if (!purchase_position.storage_location.present?) or (purchase_position.weight_single.to_i == 0) or (purchase_position.amount.to_i == 0) %>
              <tr class="yellow_background">
            <% else %>
              <tr>
            <% end %>
              <% if purchase_position.purchase_order != pallet.purchase_order %>
                <td class="align-center red"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
              <% else %>
              <td class="align-center"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %></td>
              <% end %>
              <td class="align-center"><%= purchase_position.article_number %></td>
              <td class="align-center"><%= purchase_position.commodity_code.content %></td>
              <td class="align-center"><%= purchase_position.article %></td>
              <td class="align-center"><%= purchase_position.product_line %></td>
              <td class="align-center"><%= purchase_position.quantity %></td>
              <td class="align-center"><%= purchase_position.storage_location %></td>
              <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center"></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
<% end %>
<div data-type="modal"></div>