<div data-type="modal" style="display:none;">
</div>

<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Paletten / Coli Liste</h1>
  <%= link_to("Print", pallets_path(:format => :pdf), :class => "floatRight no_text_decoration blue_link_button m-r_5px") %>
</header>

<section class="filter_box">
  <header class="filter_box_header"><h4>Suche Palette</h4></header>
  <section class="filter_box_content clearfix">
    <% form_tag(search_for_pallets_path, {:class => "form", :method => :get}) do %>
      <ul class="ul_summary">

        <li class="summary clearfix">
          <p class="floatLeft bold title">Palette NR</p>
          <p class="floatLeft"><%= text_field_tag(:pallet_id) %></p>
        </li>
        <li class="summary clearfix">
          <p class="floatLeft title">Aktion</p>
          <p class="floatLeft"><%= submit_tag "Go", :disable_with => 'Filterning...', :name => nil %></p>
        </li>
      </ul>
    <% end %>
  </section>
</section>

<% @pallets.each do |pallet| %>
  
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <% if pallet.cargo_list.present? %>
        <h4 class="floatLeft m-r_5px"><%= "Versand NR #{pallet.cargo_list.id} |" %></h4>
      <% end %>
      <h4 class="floatLeft m-r_5px"><%= pallet.pallet_type.description == "coli" ? "Coli NR #{pallet.id} | " : "Palette NR #{pallet.id} | " %></h4>
      <% if pallet.purchase_positions.present? %>
        <h4 class="floatLeft"><%= pallet.purchase_positions.first.consignee_full %></h4>
      <% end %>
      <% if permitted_to? :edit, :pallets %>
        <a href="<%= edit_pallet_path(pallet) %>" class="header_link" data-role="edit_remote" data-show-tooltip="true" title="Zeige Palette-Optionen">
          <span class="header_pack _1"></span>
        </a>
      <% end %>
      <a href="<%= pallet_path(pallet, :format => :pdf) %>" class="header_link" data-show-tooltip="true" title="Drucke Pelette">
        <span class="header_pack _193"></span>
      </a>
    </header>
    <section class="filter_box_content clearfix">
      <% if pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").present? %>
        <ul class="ul_summary">
          <li class="summary clearfix">
            <p class="floatLeft bold title">PLZ Gebiet:</p>
            <p class="floatLeft"><%= pallet.purchase_positions.where("purchase_positions.zip_location_id IS NOT NULL").first.zip_location_name %></p>
          </li>
        </ul>
      <% end %>
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>VK-Position</th>
            <th>Artikel NR</th>
            <th>Zoll</th>
            <th>Artikel</th>
            <th>Produktlinie</th>
            <th>Menge Total</th>
            <th>Lager Ort</th>
            <th>Versand</th>
          </tr>
        </thead>
        <tbody>
          <% pallet.purchase_positions.each do |purchase_position| %>
            <% if (purchase_position.weight_total.to_f == 0.to_f) or (purchase_position.amount.to_i == 0) %>
              <tr class="yellow_background">
            <% else %>
              <tr>
            <% end %>
              <% if purchase_position.purchase_order != pallet.purchase_orders.first %>
                <td class="red">
                  <% if permitted_to? :edit, :purchase_positions %>
                    <%= link_to("#{purchase_position.try(:purchase_order).try(:baan_id)}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %>
                  <% else %>
                    <%= "#{purchase_position.try(:purchase_order).try(:baan_id)}-#{purchase_position.position}" %>
                  <% end %>
                </td>
              <% else %>
              <td>
                <% if permitted_to? :edit, :purchase_positions %>
                  <%= link_to("#{purchase_position.try(:purchase_order).try(:baan_id)}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-role" => "edit_remote") %>
                <% else %>
                  <%= "#{purchase_position.try(:purchase_order).try(:baan_id)}-#{purchase_position.position}" %>
                <% end %>
              </td>
              <% end %>
              <td><%= purchase_position.article_number %></td>
              <td><%= purchase_position.commodity_code.content %></td>
              <td><%= purchase_position.article %></td>
              <td><%= purchase_position.product_line %></td>
              <td><%= purchase_position.pallet_purchase_position_assignments.where(:pallet => pallet).first.quantity %></td>
              <td><%= purchase_position.storage_location %></td>
              <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center"></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
<% end %>