<%= render("pallets/partials/index/modal/filter") %>

<% content_for :breadcrumb do %>
  <ul class="breadcrumb">
    <li class="active">Paletten Liste</li>
    <li class="pull-right">
      <div class="btn-group">
        <%= link_to(pallets_path(:format => :pdf), :class => "btn btn-mini") do %>
          <i class="icon-print"></i> Drucke Paletten
        <% end %>
      </div>
      <div class="btn-group">
        <%= link_to("#filter", :class => "btn btn-mini", :data => {:toggle => 'modal'}) do %>
          <i class="icon-filter"></i> Filter
        <% end %>
      </div>
    </li>
  </ul>
<% end %>

<div class="page-header">
  <h1>Paletten / Coli Liste</h1>
</div>

<% @pallets.each do |pallet| %>
  <blockquote>
    <p><%= pallet.shipping_address.consignee_full %></p>
  </blockquote>
  
  <ul class="breadcrumb">
    <% if pallet.cargo_list.present? %>
      <li class="active">Versand <span class="divider">/</span></li>
      <li><%= link_to(pallet.cargo_list.id, pallet.cargo_list) %> <span class="divider">/</span></li>
    <% end %>
    <li class="active"><%= pallet.pallet_type.read_as %> <span class="divider">/</span></li>
    <li class="active"><%= pallet.id %></li>
    <li class="pull-right">
        <%= link_to(edit_pallet_path(pallet), :class => "btn btn-mini") do %>
          <i class="icon-cogs"></i> Palette Bearbeiten
        <% end %>
        <%= link_to(pallet_path(pallet, :format => :pdf), :class => "btn btn-mini btn-primary") do %>
          <i class="icon-print"></i> Drucke Palette
        <% end %>
    </li>
  </ul>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th id="column_1">VK-Position</th>
        <th id="column_2">Artikel NR</th>
        <th id="column_3">Zoll</th>
        <th id="column_4">Artikel</th>
        <th id="column_5">Produktlinie</th>
        <th id="column_6">Menge Total</th>
        <th id="column_7">Lager Ort</th>
        <th id="column_8">Versand</th>
      </tr>
    </thead>
    <tbody>
      <% pallet.pallet_purchase_position_assignments.each do |line_item| %>
        <% purchase_position = line_item.purchase_position %>
        <tr>
          <td>
            <div class="btn-group">
              <%= purchase_position.html_content.code.html_safe %>
              <%= link_to(purchase_position.baan_id, edit_purchase_position_path(purchase_position), :class => "btn btn-mini btn-#{purchase_position.production_status}#{purchase_position.stock_status}") %>
            </div>
          </td>
          <td><%= purchase_position.article_number %></td>
          <td><%= purchase_position.commodity_code.content %></td>
          <td><%= purchase_position.article %></td>
          <td><%= purchase_position.product_line %></td>
          <td class="nowrap">
            <% if line_item.is_individual_package? %>
              <span class="label label-warning">
                <i class="icon-asterisk"></i> <%= line_item.quantity %>
              </span>
            <% else %>
              <%= line_item.quantity %>
            <% end %>
          </td>
          <td><%= purchase_position.storage_location %></td>
          <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">PLZ Gebiet: <strong><%= pallet.zip_location.title %></strong></td>
      </tr>
    </tfoot>
  </table>
  <hr />
<% end %>