<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Resultat: Suche nach Palette</h1>
</header>

<% if @pallet.present? %>

  <% @pallet.each do |pallet| %>

    <section class="filter_box">
      <header class="filter_box_header clearfix">
        <h4 class="floatLeft m-r_5px"><%= pallet.pallet_type.description == "coli" ? "Coli NR #{pallet.id}" : "Palette NR #{pallet.id}" %></h4>
        <% if pallet.cargo_list.present? %>
          <h4 class="floatLeft"><%= " | Versand NR #{pallet.cargo_list.id}" %></h4>
        <% end %>
        <% if permitted_to? :edit, :pallets %>
          <%= link_to("Edit", edit_pallet_path(pallet), {"data-type" => "modal", :class => "floatRight no_text_decoration link_button"}) %>
        <% end %>
        <%= link_to("Print", pallet_path(pallet, :format => :pdf), {:class => "floatRight no_text_decoration link_button m-r_5px"}) %>
      </header>
      <section class="filter_box_content clearfix">
        <table class="margin_bottom_big">
          <thead>
            <tr>
              <th>VK-Position</th>
              <th>Artikel NR</th>
              <th>Zoll</th>
              <th>Artikel</th>
              <th>Produktlinie</th>
              <th>Menge Total</th>
              <th>Lager Ort</th>
              <th>Versand</th>
            </tr>
          </thead>
          <tbody>
            <% pallet.purchase_positions.each do |purchase_position| %>
              <% if (purchase_position.weight_total.to_f == 0.to_f) or (purchase_position.amount.to_i == 0) %>
                <tr class="yellow_background">
              <% else %>
                <tr>
              <% end %>
                <% if purchase_position.purchase_order != pallet.purchase_orders.first %>
                  <td class="align-center red">
                    <% if permitted_to? :edit, :purchase_positions %>
                      <%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %>
                    <% else %>
                      <%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %>
                    <% end %>
                  </td>
                <% else %>
                <td class="align-center">
                  <% if permitted_to? :edit, :purchase_positions %>
                    <%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position), "data-type" => "modal") %>
                  <% else %>
                    <%= "#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}" %>
                  <% end %>
                </td>
                <% end %>
                <td class="align-center"><%= purchase_position.article_number %></td>
                <td class="align-center"><%= purchase_position.commodity_code.content %></td>
                <td class="align-center"><%= purchase_position.article %></td>
                <td class="align-center"><%= purchase_position.product_line %></td>
                <td class="align-center"><%= purchase_position.quantity %></td>
                <td class="align-center"><%= purchase_position.storage_location %></td>
                <td class="align-center"><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="align-center"></td>
            </tr>
          </tfoot>
        </table>
      </section>
    </section>
  <% end %>
  
  <section class="filter_box">
    <header class="filter_box_header"><h4>Bilder</h4></header>
    <section class="filter_box_content clearfix">
      <div id="flash_notice">Diese Funktion folgt in kürze...</div>
    </section>
  </section>
  
  <div data-type="modal"></div>
  
<% else %>
  <div id="flash_error">Es wurde keine Palette mit der ID <%= params[:pallet_id] %> gefunden! Klicke <%= link_to("hier", :back) %> um zurückzukehren.</div>
<% end %>