<h1>Paletten Liste</h1>

  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <% if @pallet.cargo_list.present? %>
        <h4 class="floatLeft m-r_5px"><%= "Versand NR #{@pallet.cargo_list.id} |" %></h4>
      <% end %>
      <h4 class="floatLeft m-r_5px"><%= @pallet.pallet_type.description == "coli" ? "Coli NR #{@pallet.id} | " : "Palette NR #{@pallet.id} | " %></h4>
      <% if @pallet.purchase_positions.present? %>
        <h4 class="floatLeft"><%= @purchase_positions.first.shipping_address.consignee_full %></h4>
      <% end %>
    </header>
    <section class="filter_box_content clearfix">
      <table class="margin_bottom_big">
        <thead>
          <tr>
            <th>VK-Position</th>
            <th>Artikel NR</th>
            <th>Artikel</th>
            <th>Produktlinie</th>
            <th>Menge Total</th>
            <th>Lager Ort</th>
            <th>Versand</th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_positions.each do |purchase_position| %>
            <tr>
              <% if purchase_position.purchase_order != @pallet.purchase_orders.first %>
                <td class="red"><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position)) %></td>
              <% else %>
              <td><%= link_to("#{purchase_position.purchase_order.baan_id}-#{purchase_position.position}", edit_purchase_position_path(purchase_position)) %></td>
              <% end %>
              <td><%= purchase_position.article_number %></td>
              <td><%= purchase_position.article %></td>
              <td><%= purchase_position.product_line %></td>
              <td><%= PalletPurchasePositionAssignment.where(:pallet_id => @pallet.id, :purchase_position_id => purchase_position.id).sum(:quantity) %></td>
              <td><%= purchase_position.storage_location %></td>
              <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="align-center"></td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
  
  <section class="margin_bottom_20px">
    <ul>
      <li class="bold">Kontrolle:</li>
      <li class="margin_top_15px">__________________________________________</li>
    </ul>
  </section>
  
  <section class="margin_bottom_20px">
    <ul>
      <li class="bold">Vollständigkeit:</li>
      <li class="margin_top_15px">__________________________________________</li>
    </ul>
  </section>
  
  <section class="margin_bottom_20px">
    <ul>
      <li class="bold">Lieferschein:</li>
      <li class="margin_top_15px">__________________________________________</li>
    </ul>
  </section>
