<div class="page-header">
  <h2><%= "Rüstschein Spediteur - Versand Nummer #{@cargo_list.id}" %></h2>
</div>

<% @special_pallets = Pallet.where("pallets.id" => @pallets.collect(&:id), "pallet_purchase_position_assignments.is_individual_package" => true).includes(:line_items => [:purchase_position => :shipping_address]).includes(:pallet_type) %>

<% @pallets.each do |pallet| %>

  <% line_items = PalletPurchasePositionAssignment.where("pallet_purchase_position_assignments.pallet_id" => pallet.id, "pallet_purchase_position_assignments.is_individual_package" => false) %>
  <% line_items = line_items.includes(:purchase_position => :shipping_address) %>

  <% if line_items.present? %>
    <blockquote>
      <p><%= pallet.shipping_address.try(:consignee_full) %></p>
    </blockquote>

    <ul class="breadcrumb">
      <% if pallet.cargo_list.present? %>
        <li>Versand <span class="divider">/</span></li>
        <li><strong><%= pallet.cargo_list.id %></strong> <span class="divider">/</span></li>
      <% end %>
      <li><%= pallet.pallet_type.read_as %> <span class="divider">/</span></li>
      <li><strong><%= pallet.id %></strong></li>
    </ul>

    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <tr>
            <th>VK-Position</th>
            <th>Artikel NR</th>
            <th>Artikel</th>
            <th class="align-right">Anz.</th>
            <th class="align-right">kg Netto</th>
          </tr>
        </tr>
      </thead>
      <tbody>
        <% line_items.each do |line_item| %>
          <% purchase_position = line_item.purchase_position %>
          <tr>
            <% if purchase_position.purchase_order != pallet.purchase_orders.first %>
              <td class="red"><%= purchase_position.baan_id %></td>
            <% else %>
              <td><%= purchase_position.baan_id %></td>
            <% end %>
            <td><%= purchase_position.article_number %></td>
            <td><%= purchase_position.article %></td>
            <td class="align-right"><%= line_item.quantity %></td>
            <td class="align-right"><%= line_item.weight %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <ul class="inline">
              <li><%= "Paletten:"%> <strong><%= pallet.pallet_type.count_as.to_f %></strong></li>
              <li><%= "Paletten-Plätze:" %> <strong><%= pallet.pallet_type.count_as.to_f + pallet.additional_space.to_f %></strong></li>
              <li><%= "Gewicht Netto:" %> <strong><%= line_items.sum(:weight)%> <%= "kg" %></strong></li>
              <li><%= "Gewicht Brutto:" %> <strong><%= line_items.sum(:weight) + pallet.pallet_type.weight %> <%= "kg" %></strong></li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
<% end %>

<div class="new-page"></div>

<% @special_pallets.each do |pallet| %>
  <% line_items = PalletPurchasePositionAssignment.where("pallet_purchase_position_assignments.pallet_id" => pallet.id, "pallet_purchase_position_assignments.is_individual_package" => true) %>
  <% line_items = line_items.includes(:purchase_position => :shipping_address) %>

  <blockquote>
    <p><%= "Palette mit Einzelpackstücken diverse Empfänger" %></p>
  </blockquote>

  <ul class="breadcrumb">
    <% if pallet.cargo_list.present? %>
      <li>Versand <span class="divider">/</span></li>
      <li><strong><%= pallet.cargo_list.id %></strong> <span class="divider">/</span></li>
    <% end %>
    <li><%= pallet.pallet_type.read_as %> <span class="divider">/</span></li>
    <li><strong><%= pallet.id %></strong></li>
  </ul>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <tr>
          <th>VK-Position</th>
          <th>Artikel NR</th>
          <th>Artikel</th>
          <th class="align-right">Anz.</th>
          <th class="align-right">kg Netto</th>
        </tr>
      </tr>
    </thead>
    <tbody>
      <% line_items.each do |line_item| %>
        <% purchase_position = line_item.purchase_position %>
        <tr>
          <td>
            <%= purchase_position.baan_id %>
          </td>
          <td colspan="4">
            <strong><%= purchase_position.shipping_address.try(:consignee_full) %></strong>
          </td>
        </tr>
        <tr>
          <% if purchase_position.purchase_order != pallet.purchase_orders.first %>
            <td class="red"><%= purchase_position.baan_id %></td>
          <% else %>
            <td><%= purchase_position.baan_id %></td>
          <% end %>
          <td><%= purchase_position.article_number %></td>
          <td><%= purchase_position.article %></td>
          <td class="align-right"><%= line_item.quantity %></td>
          <td class="align-right"><%= line_item.weight %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <ul class="inline">
            <li><%= "Anzahl Einzelpackstücke:" %> <strong><%= line_items.sum(:quantity) %></strong></li>
            <li><%= "Gewicht Netto:" %> <strong><%= line_items.sum(:weight) %> <%= "kg" %></strong></li>
            <li><%= "Gewicht Brutto:" %> <strong><%= line_items.sum(:weight) + pallet.pallet_type.weight %> <%= "kg" %></strong></li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>

<% end %>
