<header id="invoice_header" class="clearfix">
  <%= wicked_pdf_image_tag 'logo.gif', :class => "floatLeft" %>
  <ul class="floatLeft">
    <li class="bold">Verkaufsinnendienst</li>
    <li>Telefon +41 71 982 80 84</li>
    <li>Telefax +41 71 982 80 77</li>
  </ul>

  <ul class="floatLeft">
    <li class="bold">Fraefel AG</li>
    <li>Lerchenfeld</li>
    <li>CH-9601 Lütisburg-Station</li>
    <li>www.fraefel.ag</li>
  </ul>
</header>

<h1 class="logo_title">Sammelrechnung</h1>
<section class="clearfix">
  <h1 class="floatLeft">Diverse Empfänger in Deutschland</h1>
</section>
<hr>

<section id="customer_attributes_1" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>DE-ST-Nr.</li>
    <li>DE-Zollnummer Fraefel</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li class="bold">DE 09408/24772</li>
    <li class="bold">6207308</li>
  </ul>
  <ul id="column_3" class="floatLeft">
    <li>U/Z</li>
    <li>U/V</li>
  </ul>
  <ul id="column_4" class="floatLeft">
    <li><%= current_user.username %></li>
    <li><%= @cargo_list.id %></li>
  </ul>
  <ul id="column_5" class="floatLeft">
    <li class="white_color">.</li>
    <li class="white_color">.</li>
  </ul>
</section>

<section id="customer_attributes_2" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Kunde</li>
    <li>Transport/Lieferung</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li class="bold"><%= @cargo_list.referee %></li>
    <li class="bold"><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></li>
  </ul>
  <ul id="column_3" class="floatLeft">
    <li class="white_color">.</li>
    <li class="white_color">.</li>
  </ul>
  <ul id="column_4" class="floatLeft">
    <li class="white_color">.</li>
    <li class="bold">&nbsp;</li>
  </ul>
</section>

<section id="price_table">
  <table id="special_tbl table table-condensed table-striped">
    <thead>
      <tr>
        <th>Menge Coli</th>
        <th></th>
        <th>Pos. Artikel</th>
        <th class="align-center">Stück</th>
        <th class="align-right">Gewicht</th>
        <th class="align-right">Brutto</th>
        <th class="align-right">Rabatt</th>
        <th class="align-right">Warenwert / Euro</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_positions.group(:commodity_code_id).count.each do |k, v| %>
      <tr>
        <td></td>
        <td></td>
        <td><%= "#{CommodityCode.find(k).code} #{CommodityCode.find(k).content}" %></td>
        <td class="align-center"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("commodity_codes.id = ?", k).includes(:pallet => [:cargo_list], :purchase_position => [:commodity_code]).sum(:quantity) %></td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("commodity_codes.id = ?", k).includes(:pallet => [:cargo_list], :purchase_position => [:commodity_code]).sum(:weight) %></td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("commodity_codes.id = ?", k).includes(:pallet => [:cargo_list], :purchase_position => [:commodity_code]).sum(:gross_price) %></td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("commodity_codes.id = ?", k).includes(:pallet => [:cargo_list], :purchase_position => [:commodity_code]).sum(:value_discount) %></td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("commodity_codes.id = ?", k).includes(:pallet => [:cargo_list], :purchase_position => [:commodity_code]).sum(:net_price) %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td class="bold">Total Stücke</td>
        <td class="align-center border-top bold"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).includes(:pallet => [:cargo_list]).sum(:quantity) %></td>
        <td class="align-right border-top bold"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).includes(:pallet => [:cargo_list]).sum(:weight) %></td>
        <td class="align-right border-top"></td>
        <td class="align-right border-top"></td>
        <td class="align-right border-top"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Zwischentotal</td>
        <td class="align-right"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>MwSt 19.00%</td>
        <td class="align-right"><%= ((PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) / 100) * 19).round(2) %></td>
      </tr>
      <tr>
        <td></td>
        <td>Total netto kg</td>
        <td><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:weight) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="align-right"></td>
      </tr>
      <tr>
        <td></td>
        <td class="bold">Total brutto kg</td>
        <td class="bold"><%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:weight) + (@pallet_types.sum("count_as") * 20) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bold">Rechnungswert Euro</td>
        <td class="align-right bold"><%= ((PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) / 100) * 19).round(2) + PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) %></td>
      </tr>
    </tbody>
  </table>
</section>


<section id="conditions" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Lieferbedingung</li>
    <li>Versandbedingung</li>
    <li>Zahlungsbedingung</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li>frei Haus, verzollt, versteuert (DDP)</li>
    <li>per LKW</li>
    <li>30 Tage netto</li>
  </ul>
</section>

<section id="declaration">
  <p>
    Der Ausführer ( Ermächtigter Ausführer; Bewilligungs-Nr.4218 ) der Waren, auf die sich dieses
  </p>
  <p>
    Handelspapier bezieht, erklärt, dass diese Waren, soweit nicht anders angegeben, präferenzbegünstigte
  </p>
  <p>
    schweizerische Ursprungswaren sind.
  </p>
</section>

<footer id="invoice_footer" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Lütisburg-Station,</li>
    <li>Unterschrift des Ausführers</li>
    <li class="margin_top_5px">___________________________</li>
  </ul>
</footer>

<footer id="invoice_footer_2" class="clearfix new_page">
  <ul id="column_2" class="floatLeft">
    <li>Name + Vorname ( in Druckschrift anführen )</li>
    <li class="margin_top_5px">___________________________</li>
  </ul>
</footer>


<script type="text/javascript" charset="utf-8">
  var pallet_count = $("table#special_tbl tr")[1].children[0];
  var pallet_total = $("table#special_tbl tr")[2].children[0];
  var coli_count = $("table#special_tbl tr")[3].children[0];
  
  var pallet_count_value = $("table#special_tbl tr")[1].children[1];
  var pallet_total_value = $("table#special_tbl tr")[2].children[1];
  var coli_count_value = $("table#special_tbl tr")[3].children[1];
  
  $(pallet_count).html(<%= @pallet_types.sum('count_as') %>);
  $(pallet_total).html(<%= @pallets.sum('pallets.additional_space') + @pallet_types.sum('count_as') %>);
  $(coli_count).html(<%= @pallets.where("pallet_types.description = 'coli'").includes(:pallet_type).count %>);
  
  $(pallet_count_value).html("Paletten");
  $(pallet_total_value).html("Palettenplätze");
  $(coli_count_value).html("Colli / POST");
</script>

<header id="invoice_header" class="clearfix">
  <%= wicked_pdf_image_tag 'logo.gif', :class => "floatLeft" %>
  <ul class="floatLeft">
    <li class="bold">Verkaufsinnendienst</li>
    <li>Telefon +41 71 982 80 84</li>
    <li>Telefax +41 71 982 80 77</li>
  </ul>

  <ul class="floatLeft">
    <li class="bold">Fraefel AG</li>
    <li>Lerchenfeld</li>
    <li>CH-9601 Lütisburg-Station</li>
    <li>www.fraefel.ag</li>
  </ul>
</header>

<h1 class="logo_title">Sammelrechnung - Detail</h1>
<section class="clearfix">
  <h1 class="floatLeft">Diverse Empfänger in Deutschland</h1>
</section>
<hr>

<section id="customer_attributes_1" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>DE-ST-Nr.</li>
    <li>DE-Zollnummer Fraefel</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li class="bold">DE 09408/24772</li>
    <li class="bold">6207308</li>
  </ul>
  <ul id="column_3" class="floatLeft">
    <li>U/Z</li>
    <li>&nbsp;</li>
  </ul>
  <ul id="column_4" class="floatLeft">
    <li><%= current_user.username %></li>
    <li>&nbsp;</li>
  </ul>
  <ul id="column_5" class="floatLeft">
    <li class="white_color">.</li>
    <li class="white_color">.</li>
  </ul>
</section>

<section id="customer_attributes_2" class="clearfix">
  <ul id="column_1" class="floatLeft">
    <li>Versand Nr.</li>
    <li>Transport/Lieferung</li>
  </ul>
  <ul id="column_2" class="floatLeft">
    <li class="bold"><%= @cargo_list.id %></li>
    <li class="bold"><%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></li>
  </ul>
  <ul id="column_3" class="floatLeft">
    <li class="white_color">.</li>
    <li class="white_color">.</li>
  </ul>
  <ul id="column_4" class="floatLeft">
    <li class="white_color">.</li>
    <li class="bold">&nbsp;</li>
  </ul>
</section>

<section id="price_table">
  <table>
    <thead>
      <tr>
        <th>Eori NR.</th>
        <th>Warenempfänger</th>
        <th></th>
        <th class="align-right" style="white-space:nowrap;">Brutto</th>
        <th class="align-right" style="white-space:nowrap;">Rabatt</th>
        <th class="align-right" style="white-space:nowrap;">Warenwert</th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_positions.group("purchase_positions.level_3").count.each do |k, v| %>
      <tr>
        <td style="white-space:nowrap;"><%= Address.find(k).eori %></td>
        <td><%= Address.find(k).consignee_full %></td>
        <td class="align-right">EUR</td>
        <td class="align-right" style="white-space:nowrap;">
          <%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("purchase_positions.level_3 = ?", k).includes([:pallet => [:cargo_list]], :purchase_position).sum(:gross_price) %>
        </td>
        <td class="align-right" style="white-space:nowrap;">
          <%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("purchase_positions.level_3 = ?", k).includes([:pallet => [:cargo_list]], :purchase_position).sum(:value_discount) %>
        </td>
        <td class="align-right" style="white-space:nowrap;">
          <%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id).where("purchase_positions.level_3 = ?", k).includes([:pallet => [:cargo_list]], :purchase_position).sum(:net_price) %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="white-space:nowrap;">Zwischentotal</td>
        <td></td>
        <td></td>
        <td class="align-right" style="white-space:nowrap;">
          <%= PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="white-space:nowrap;">MwSt 19.00%</td>
        <td></td>
        <td></td>
        <td class="align-right" style="white-space:nowrap;">
          <%= ((PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) / 100) * 19).round(2) %>
        </td>
      </tr>
      <tr>
        <td class="bold"></td>
        <td class="bold"></td>
        <td class="bold" style="white-space:nowrap;">Rechnungswert Euro</td>
        <td></td>
        <td></td>
        <td class="align-right bold" style="white-space:nowrap;">
          <%= ((PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) / 100) * 19).round(2) + PalletPurchasePositionAssignment.where("cargo_lists.id = ?", @cargo_list.id ).includes(:pallet => :cargo_list).sum(:net_price) %>
        </td>
      </tr>
    </tbody>
  </table>
</section>