<div style="width: 85%; margin: 0 auto;">
  <section class="clearfix">
    <%= wicked_pdf_image_tag 'logo.gif', :class => "floatRight" %>
  </section>
  
  <section class="clearfix" style="margin-bottom: 15px; margin-top: 50px;">
    <ul class="floatRight">
      <li>Fraefel AG</li>
      <li>Kundendienst</li>
      <li>Lerchenfeld</li>
      <li>CH-9601 Lütisburg-Station</li>
    </ul>
  </section>

  <section class="clearfix">
    <ul class="floatRight">
      <li>Telefon: +41 71 982 80 80</li>
      <li>Telefax: +41 71 982 80 70</li>
      <li>E-Mail: kd@fraefel.ag</li>
    </ul>
  </section>

  <section class="clearfix" style="margin-bottom: 140px;">
    <ul class="floatLeft">
      <% if @address.present? %>
        <li class="bold" style="font-size: 15px;"><%= @address.company_name %></li>
        <li class="bold" style="font-size: 15px;"><%= @address.street %></li>
        <li class="bold" style="font-size: 15px;"><%= "#{@address.country}-#{@address.postal_code} #{@address.city}" %></li>
      <% else %>
        <li class="bold" style="font-size: 15px;">ACHTUNG - Keine Adresse!</li>
      <% end %>
    </ul>
  </section>

  <hr />

  <section class="clearfix">
    <h1 class="floatLeft" style="font-size: 15px; font-weight: bold;">Abholschein</h1>
  </section>

  <section class="clearfix" style="margin-bottom: 30px;">
    <ul class="floatLeft">
      <li>Bütschwil, <%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></li>
      <li><%= User.current.full_name %> / UV <%= @cargo_list.id %></li>
      <li>Versand per Camion</li>
    </ul>
    <p class="floatRight">
      Transportschäden sind unmittelbar, weitere <br />
      Reklamationen innert 8 Tagen nach Wareneingang <br />
      schriftlich zu beanstanden.
    </p>
  </section>

  <section id="price_table">
    <table>
      <thead>
        <tr>
          <th class="bold">VK-Auftrag</th>
          <th class="bold">Pos</th>
          <th class="bold">Artikel</th>
          <th class="bold">Anz.</th>
          <th class="bold">Artikel-Bezeichung</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_positions.each do |purchase_position| %>
          <tr>
            <td><%= purchase_position.try(:purchase_order).try(:baan_id) %></td>
            <td><%= purchase_position.position %></td>
            <td><%= purchase_position.article_number %></td>
            <td>
              <%= PalletPurchasePositionAssignment.includes(:pallet => :cargo_list).where("cargo_lists.id = ?", @cargo_list.id).where(:purchase_position_id => purchase_position.id).sum("pallet_purchase_position_assignments.quantity") %>
            </td>
            <td><%= purchase_position.article %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
  
  <hr />
  
  <section class="clearfix" style="margin-top: 30px;">
    <ul class="floatLeft">
      <li style="margin-bottom: 20px;">
        <span>Ware erhalten am:</span><span style="margin-left: 10px;">___________________________</span>
      </li>
      <li style="margin-bottom: 20px;">
        <span>Unterschrift Fahrer:</span><span style="margin-left: 10px;">___________________________</span>
      </li>
      <li style="margin-bottom: 20px;">
        <span>Blockschrift Fahrer:</span><span style="margin-left: 10px;">___________________________</span>
      </li>
      <li>
        <span>Visum Fraefel AG:</span><span style="margin-left: 10px;">___________________________</span>
      </li>
    </ul>
  </section>
  
</div>
