<div class="row-fluid">
<div class="span6">
<%= wicked_pdf_image_tag 'logo.gif', :class => "floatLeft" %>	
</div>
<div class="span3">
<address>
<strong>Kundendienst</strong><br>
Telefon +41 71 982 80 80<br>
Telefax +41 71 982 80 70<br>
Email: kd@fraefel.ag
</address>
</div>

<div class="span3">
<address>
<strong>Fraefel AG</strong><br>
Kundendienst<br>
Lerchenfeld<br>
CH-9601 Lütisburg-Station
</address>
</div>
</div>

<div class="row-fluid" style="margin-top:140px; margin-bottom: 90px;">
  <div class="span12">
    <address>
      <% if @address.present? %>
        <strong><%= @address.company_name %></strong><br>
        <strong><%= @address.street %></strong><br>
        <strong><%= "#{@address.country}-#{@address.postal_code} #{@address.city}" %></strong>
      <% else %>
        <strong>ACHTUNG - Keine Adresse!</strong>
      <% end %>
    </address>
  </div>
</div>

<hr />

<h2>Abholschein</h2>

<div class="row-fluid" style="margin-top: 25px; margin-bottom: 25px;">
  <div class="span6">
    <ul class="unstyled">
      <li>Bütschwil, <%= @cargo_list.pick_up_time_earliest.to_date.to_formatted_s(:swiss_date) %></li>
      <li><%= User.current.full_name %> / UV <%= @cargo_list.id %></li>
      <li>Versand per Camion</li>
    </ul>
  </div>
  <div class="span6">
    <ul class="unstyled">
      <li>Transportschäden sind unmittelbar, weitere</li>
      <li>Reklamationen innert 8 Tagen nach Wareneingang</li>
      <li>schriftlich zu beanstanden.</li>
    </ul>
  </div>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>VK-Auftrag</th>
      <th>Pos</th>
      <th>Artikel</th>
      <th>Anz.</th>
      <th>Artikel-Bezeichung</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_positions.each do |purchase_position| %>
      <tr>
        <td><%= purchase_position.try(:purchase_order).try(:baan_id) %></td>
        <td><%= purchase_position.position %></td>
        <td><%= purchase_position.article_number %></td>
        <td>
          <%= PalletPurchasePositionAssignment.includes(:pallet => :cargo_list).where("cargo_lists.id = ?", @cargo_list.id).where(:purchase_position_id => purchase_position.id).sum("pallet_purchase_position_assignments.quantity") %>
        </td>
        <td><%= purchase_position.article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<pre>
  Ware erhalten am:
</pre>
<pre>
  Unterschrift Fahrer:
</pre>
<pre>
  Blockschrift Fahrer:
</pre>
<pre>
  Visum Fraefel AG:
</pre>