<h1>Listing roles</h1>
<%= number_to_human(Role.count) %> roles found!
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.position %></td>
        <td><%= role.active %></td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="clearfix" colspan="5">
        <%= paginate @roles %>
      </td>
    </tr>
  </tfoot>
</table>

<br />

<%= link_to 'New Role', new_role_path %>