<div class="page-header">
    <h1 class="pull-left">Beschaffung</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= edit_time_shifting_path(@time_shifting.first, :tab => "article_positions") %>"><i class="icon-plus-sign icon-white"></i> Artikel hinzufügen</a>
      </div>
    </div>
    <div class="clear"></div>
</div>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">&nbsp;</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table>
      <thead>
        <tr>
          <th>Artikel Code</th>
          <th>benötigt von</th>
          <th>Bemerkung</th>
          <th>Artikel Bestell Nr.</th>
          <th>Artikel WE</th>
          <th>Erfasser</th>
          <th>Erfast am</th>
        </tr>
      </thead>
      <tbody>
        <% if @article_positions.empty? %>
          <tr><td colspan="7">Es wurden keine Artikel Codes angefügt.</td></tr>
        <% else %>
          <% @article_positions.each do |article_position| %>
            <tr>
              <td><%= article_position.baan_id %></td>
              <td><%= ArticlePositionTimeShiftingAssignment.where(:article_position_id => article_position.id, :time_shifting_id => @time_shifting.first.id).first.purchase_positions_collection %></td>
              <td><%= ArticlePositionTimeShiftingAssignment.where(:article_position_id => article_position.id, :time_shifting_id => @time_shifting.first.id).first.comments.first.try(:content) %></td>
              <td></td>
              <td></td>
              <td><%= article_position.creator.full_name %></td>
              <td><%= article_position.created_at.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
