<div class="page-header">
    <h1 class="pull-left">VK-Positionen</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a class="btn btn-primary" href="<%= edit_time_shifting_path(@time_shifting.first, :tab => "purchase_positions") %>"><i class="icon-check icon-white"></i> VK-Pos mutieren</a>
      </div>
    </div>
    <div class="clear"></div>
</div>

<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft">&nbsp;</h4>
  </header>
  <section class="filter_box_content clearfix">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Position</th>
          <th>Artikel NR</th>
          <th>Artikel</th>
          <th>Produktlinie</th>
          <th>Menge Total</th>
          <th>Lager Ort</th>
          <th>PLZ Gebiet</th>
          <th>ursprünglicher Versand</th>
        </tr>
      </thead>
      <tbody>
        <% if @purchase_positions.empty? %>
          <tr><td colspan="8">Ups... Es wurden keine VK-Pos angefügt.</td></tr>
        <% else %>
          <% @purchase_positions.each do |purchase_position| %>
            <tr>
              <td><span class="btn btn-mini disabled btn-<%= purchase_position.production_status %><%= purchase_position.stock_status %>"><%= purchase_position.baan_id %></span></td>
              <td><%= purchase_position.article_number %></td>
              <td><%= purchase_position.article %></td>
              <td><%= purchase_position.product_line %></td>
              <td><%= purchase_position.quantity %></td>
              <td><%= purchase_position.storage_location %></td>
              <td><%= purchase_position.zip_location.title %></td>
              <td><%= purchase_position.delivery_date.to_date.to_formatted_s(:swiss_date) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
