<header class="resource_header margin_bottom_big clearfix">
  <h1 class="floatLeft">Dashboard</h1>
</header>


<section class="filter_box">
  <header class="filter_box_header clearfix">
    <h4 class="floatLeft m-r_5px">VK-Aufträge</h4>
  </header>
  <section class="filter_box_content clearfix">
    <div class="widgets-padder clearfix">
      <ul class="notifications">
        <li><div>-<span>Pendent Aufträge</span><span class="grey">Deutschland</span></div></li>
        <li><div>-<span>Pendente Aufträge</span><span class="grey">Schweiz</span></div></li>
        <li><div class="bad"><%= @bad_purchase_orders.count %><span>Überfällige Aufträge</span><span class="grey">5 Tage</span></div></li>
        <li><div>- / -<span>Versendet</span><span class="grey">Deutschland / Schweiz</span></div></li>
        <li><div><%= DeliveryRejection.where("addresses.country = ?", 'Deutschland').includes(:addresses).count %> / <%= DeliveryRejection.where("addresses.country = ?", 'Schweiz').includes(:addresses).count %><span>Offene Konflikte</span><span class="grey">Deutschland / Schweiz</span></div></li>
      </ul>
    </div>
  </section>
</section>

<% if permitted_to? :index, :articles %>
  <section class="filter_box">
    <header class="filter_box_header clearfix">
      <h4 class="floatLeft m-r_5px">Inventar</h4>
    </header>
    <section class="filter_box_content clearfix">
      <div class="widgets-padder clearfix">
        <ul class="notifications">
          <li><div><%= @article_rack_group_number_total %><span>Anzahl Gruppen</span><span class="grey">&nbsp;</span></div></li>
          <li><div><%= @finished_articles %><span>Gezählte Artikel</span><span class="grey">&nbsp;</span></div></li>
          <li><div><%= @open_articles %><span>Pendente Artikel</span><span class="grey">&nbsp;</span></div></li>
        </ul>
        <div class="clear"></div>
        <% if @open_articles_by_group.size > 0 %>
          <h4>Offene Artikel gruppiert nach Gruppe</h4><br />
          <ul class="ul_summary">
            <% @open_articles_by_group.each do |k,v| %>
              <li class="summary clearfix">
                <p class="floatLeft bold title"><%= "#{k}:"%></p>
                <p class="floatLeft"><%= v %></p>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div id="flash_notice">Alle Artikel wurden gezählt. Export kann nun gestartet werden.</div>
        <% end %>
      </div>
    </section>
  </section>
<% end %>