<%= form_for(@category, :html => {:class => "form-horizontal"}) do |f| %>
  
  <div class="control-group">
    <%= f.label(:title, "Kategorie", :class => "control-label") %>
    <div class="controls">
      <%= f.text_field(:title, :class => "text_field") %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label(:categorizable_type, "Gehört zu", :class => "control-label") %>
    <div class="controls">
      <%= f.select(:categorizable_type, Category::CATEGORIZABLE_ITEMS, {}, {}) %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit(@category.new_record? ? "Erstellen" : "Ändern", :class => "btn btn-primary") %>
    <%= link_to 'Cancel', :back, :class => 'btn' %>
  </div>
  
<% end %>