<%= form_for(@category) do |f| %>
  
  <div class="form-element">
    <%= f.label(:title, "Kategorie", :class => "required") %>
    <%= f.text_field(:title, :size => 100) %>
  </div>
  
  <div class="form-element">
    <%= f.label(:categorizable_type, "Gehört zu", :class => "required") %>
    <%= f.select(:categorizable_type, Category::CATEGORIZABLE_ITEMS, {}, {:class => "chzn-select", "data-placeholder" => "Verbindung wählen...", :style => "width:350px;"}) %>
  </div>
  
  <div class="form-element clearfix">
    <%= link_to("Abbrechen", :back, :class => "linkSubmit greySubmit floatLeft") %>
    <%= f.submit(@category.new_record? ? "Erstellen" : "Ändern", :class => "blueSubmit floatLeft") %>
  </div>
  
<% end %>