<%#= render 'form' %>

<div class="modal hide" id="login">
  <%= form_for(@user_session, :html => {:class => "form-horizontal", :style => "margin: 0;"}) do |f| %>
    <div class="modal-header">
      <h3>Login</h3>
    </div>
    
    <div class="modal-body">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
      <% end %>
      <fieldset>
        <div class="control-group">
          <%= f.label :username, "Benutzername", :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :username %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :password, "Passwort", :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password %>      
          </div>
        </div>
      </fieldset>
    </div>
    
    <div class="modal-footer">
      <a href="<%= new_password_reset_path %>" class="btn btn-warning">Passwort vergessen</a>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>  
  <% end %>
</div>

<script>
  $('#login').modal({
    keyboard: false,
    backdrop: "static"
  });
</script>
