<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery_ui" %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ui" %>
    <%= javascript_include_tag "jquery.ui.datepicker-de.js" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://localhost:9292/faye.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <section id="pageContainer" class="clearfix">
      <header id="containerHeader" class="clearfix">
        <nav id="applicationNavigation" class="floatLeft">
          <ul class="clearfix">
            <% if current_user %>
              <li><%= link_to("Logout: #{current_user.username}", logout_path) %></li>
              <% if permitted_to? :index, :microsoft_databases %>
                <li><%= link_to("Datenbanken", microsoft_databases_path) %></li>
              <% end %>
              <li><%= link_to("Dashboard", dashboard_path()) %></li>
              <% if permitted_to? :index, :purchase_orders %>
                <li><%= link_to("VK-Aufträge", purchase_orders_path) %></li>
              <% end %>
              <% if permitted_to? :index, :purchase_positions %>
                <li><%= link_to("VK-Position Liste", purchase_positions_path) %></li>
              <% end %>
              <% if permitted_to? :index, :cargo_lists %>
                <li><%= link_to("Versandlisten", cargo_lists_path) %></li>
              <% end %>
              <% if permitted_to? :index, :pallets %>
                <li><%= link_to("Paletten Liste", pallets_path) %></li>
              <% end %>
              <% if permitted_to? :index, :articles %>
                <li><%= link_to("Inventar", articles_path) %></li>
              <% end %>
              <% if permitted_to? :import, :baan_imports %>
                <li><%= link_to("Import-Wizzard", baan_imports_path) %></li>
              <% end %>
            <% else %>
              <li><%= link_to("Login", login_path) %></li>
            <% end %>
          </ul>
        </nav>
        <%= image_tag("logo.gif", :class => "floatRight", :id => "logo") %>
      </header>
      <section id="yieldContent">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
