<!DOCTYPE html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "reset" %>
    <% if params[:pdf_type] == "report" or params[:pdf_type] == "report_external" %>
      <%= wicked_pdf_stylesheet_link_tag "report" %>
    <% else %>
      <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <% end %>
    <%= wicked_pdf_javascript_include_tag "jquery.js" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
